USE [DKATLAS]
GO
/****** Object:  View [dbo].[LCJ_VW_CaseSearchDetails_RTF]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[LCJ_VW_CaseSearchDetails_RTF]-- [LCJ_VW_CaseSearchDetails_RTF] 'FH10-67210'
AS
SELECT DISTINCT 
    ISNULL(DBO.TBLPROVIDER.PROVIDER_NAME,'') AS PROVIDER_NAME, 
	UPPER(ISNULL(DBO.TBLPROVIDER.PROVIDER_SUITNAME,'')) AS PROVIDER_SUITNAME, 
	ISNULL(DBO.TBLCOURT.COURT_NAME,'') AS COURT_NAME, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_NAME,'')) AS INSURANCECOMPANY_NAME, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.InsuranceCompany_Address2_Address,'')) AS InsuranceCompany_Address2_Address, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.InsuranceCompany_Address2_City,'')) AS InsuranceCompany_Address2_City, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.InsuranceCompany_Address2_State,'')) AS InsuranceCompany_Address2_State, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.InsuranceCompany_Address2_Zip,'')) AS InsuranceCompany_Address2_Zip, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.InsuranceCompany_Address2_Phone,'')) AS InsuranceCompany_Address2_Phone, 
	UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_FIRSTNAME, N'')) + N' ' + UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_LASTNAME, N'')) AS INJUREDPARTY_NAME, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_FIRSTNAME, N'') + N'  ' + ISNULL(DBO.TBLATTORNEY.ATTORNEY_LASTNAME, N'') AS ATTORNEY_NAME, 
	UPPER(ISNULL(DBO.TBLCASE.INSUREDPARTY_FIRSTNAME, N'')) + N' ' + UPPER(ISNULL(DBO.TBLCASE.INSUREDPARTY_LASTNAME, N'')) AS INSUREDPARTY_NAME, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_FIRSTNAME, N'') + N'  ' + ISNULL(DBO.TBLADJUSTERS.ADJUSTER_LASTNAME, N'') AS ADJUSTER_NAME, 
	ISNULL(DBO.TBLCASE.CASE_ID,'') AS CASE_ID, 
	ISNULL(DBO.TBLCASE.CAPTION,'') AS CASE_CAPTION, 
	ISNULL(DBO.TBLCASE.PROVIDER_ID,'') AS PROVIDER_ID, 
	ISNULL(DBO.TBLCASE.INSURANCECOMPANY_ID,'') AS INSURANCECOMPANY_ID, 
	ISNULL(DBO.TBLCASE.INJUREDPARTY_LASTNAME,'') AS INJUREDPARTY_LASTNAME, 
	ISNULL(DBO.TBLCASE.INJUREDPARTY_FIRSTNAME,'') AS INJUREDPARTY_FIRSTNAME, 
	UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_ADDRESS,'')) AS INJUREDPARTY_ADDRESS, 
	UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_CITY,'')) AS INJUREDPARTY_CITY, 
	UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_STATE,'')) AS _extINJUREDPARTY_STATE, 
	Case when ISNULL(DBO.TBLCASE.INJUREDPARTY_ADDRESS,'')<> '' 
	Then UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_ADDRESS,'') +', '+ISNULL(DBO.TBLCASE.INJUREDPARTY_CITY,'') +', '+ISNULL(DBO.TBLCASE.INJUREDPARTY_STATE,'')+', '+ISNULL(DBO.TBLCASE.INJUREDPARTY_ZIP,''))
	else 'N/A'  End as INJUREDPARTY_FULL_ADDRESS,
	ISNULL(DBO.TBLCASE.INJUREDPARTY_ZIP,'') AS INJUREDPARTY_ZIP, 
	ISNULL(DBO.TBLCASE.INJUREDPARTY_PHONE,'') AS INJUREDPARTY_PHONE, 
	ISNULL(DBO.TBLCASE.INJUREDPARTY_MISC,'') AS INJUREDPARTY_MISC, 
	ISNULL(DBO.TBLCASE.INSUREDPARTY_LASTNAME,'') AS INSUREDPARTY_LASTNAME, 
	ISNULL(DBO.TBLCASE.INSUREDPARTY_FIRSTNAME,'') AS INSUREDPARTY_FIRSTNAME, 
	UPPER(ISNULL(DBO.TBLCASE.INSUREDPARTY_ADDRESS,'')) AS INSUREDPARTY_ADDRESS, 
	UPPER(ISNULL(DBO.TBLCASE.INSUREDPARTY_CITY,'')) AS INSUREDPARTY_CITY, 
	UPPER(ISNULL(DBO.TBLCASE.INSUREDPARTY_STATE,'')) AS INSUREDPARTY_STATE, 
	ISNULL(DBO.TBLCASE.INSUREDPARTY_ZIP,'') AS INSUREDPARTY_ZIP, 
	ISNULL(DBO.TBLCASE.INSUREDPARTY_MISC,'') AS INSUREDPARTY_MISC, 
	ISNULL(CONVERT(varchar(10), DBO.TBLCASE.Accident_Date, 101),'') AS ACCIDENT_DATE, 
	ISNULL(DBO.TBLCASE.ACCIDENT_ADDRESS,'') AS ACCIDENT_ADDRESS, 
	ISNULL(DBO.TBLCASE.ACCIDENT_CITY,'') AS ACCIDENT_CITY, 
	ISNULL(DBO.TBLCASE.ACCIDENT_STATE,'') AS ACCIDENT_STATE, 
	ISNULL(DBO.TBLCASE.ACCIDENT_ZIP,'') AS ACCIDENT_ZIP, 
	ISNULL(DBO.TBLCASE.POLICY_NUMBER,'') AS POLICY_NUMBER, 
	ISNULL(DBO.TBLCASE.INS_CLAIM_NUMBER,'') AS INS_CLAIM_NUMBER, 
	ISNULL(DBO.TBLCASE.INDEXORAAA_NUMBER,'') AS INDEXORAAA_NUMBER, 
	ISNULL(DBO.TBLCASE.STATUS,'') AS STATUS, 
	ISNULL(DBO.TBLCASE.DEFENDANT_ID,'') AS DEFENDANT_ID, 
	ISNULL(DBO.TBLCASE.DATE_OPENED,'') AS DATE_OPENED, 
	ISNULL(DBO.TBLCASE.LAST_STATUS,'') AS LAST_STATUS, 
	ISNULL(DBO.TBLCASE.INITIAL_STATUS,'') AS INITIAL_STATUS, 
	ISNULL(DBO.TBLCASE.OLD_STATUS,'') AS OLD_STATUS, 
	ISNULL(DBO.TBLCASE.MEMO,'') AS MEMO, 
	ISNULL(DBO.TBLCASE.INJUREDPARTY_TYPE,'') AS INJUREDPARTY_TYPE, 
	ISNULL(DBO.TBLCASE.INSUREDPARTY_TYPE,'') AS INSUREDPARTY_TYPE, 
	ISNULL(DBO.TBLCASE.ADJUSTER_ID,'') AS ADJUSTER_ID, 
	ISNULL(DBO.TBLCASE.DENIALREASONS_TYPE,'') AS DENIALREASONS_TYPE, 
	ISNULL(DBO.TBLCASE.COURT_ID,'') AS COURT_ID, 
	ISNULL(DBO.TBLCASE.GROUP_DATA,'') AS GROUP_DATA, 
	ISNULL(DBO.TBLCASE.ATTORNEY_FILENUMBER,'') AS ATTORNEY_FILENUMBER, 
	ISNULL(DBO.TBLCASE.ATTORNEY_ID,'') AS ATTORNEY_ID, 
	ISNULL(DBO.TBLCASE.GROUP_ID,'') AS GROUP_ID, 
	ISNULL(DBO.TBLCASE.DATE_STATUS_CHANGED,'') AS DATE_STATUS_CHANGED, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_LASTNAME,'') AS ADJUSTER_LASTNAME, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_FIRSTNAME,'') AS ADJUSTER_FIRSTNAME, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_PHONE,'') AS ADJUSTER_PHONE, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_FAX,'') AS ADJUSTER_FAX, 
	ISNULL(DBO.TBLADJUSTERS.ADJUSTER_EMAIL,'') AS ADJUSTER_EMAIL, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_TYPE,'') AS PROVIDER_TYPE, 
	UPPER(ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_CITY,'')) AS PROVIDER_LOCAL_CITY, 
	UPPER(ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_ADDRESS,'')) AS PROVIDER_LOCAL_ADDRESS, 
	UPPER(ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_STATE,'')) AS PROVIDER_LOCAL_STATE, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_ZIP,'') AS PROVIDER_LOCAL_ZIP, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_PHONE,'') AS PROVIDER_LOCAL_PHONE, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_LOCAL_FAX,'') AS PROVIDER_LOCAL_FAX, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_CONTACT,'') AS PROVIDER_CONTACT, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_ADDRESS,'') AS PROVIDER_PERM_ADDRESS, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_CITY,'') AS PROVIDER_PERM_CITY, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_STATE,'') AS PROVIDER_PERM_STATE, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_ZIP,'') AS PROVIDER_PERM_ZIP, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_PHONE,'') AS PROVIDER_PERM_PHONE, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_PERM_FAX,'') AS PROVIDER_PERM_FAX, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_EMAIL,'') AS PROVIDER_EMAIL, 
	ISNULL(DBO.TBLPROVIDER.PROVIDER_BILLING,'') AS PROVIDER_BILLING, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_TYPE,'') AS INSURANCECOMPANY_TYPE, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_CITY,'')) AS INSURANCECOMPANY_LOCAL_CITY, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ADDRESS,'')) AS INSURANCECOMPANY_LOCAL_ADDRESS, 
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_STATE,'')) AS INSURANCECOMPANY_LOCAL_STATE, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ZIP,'') AS INSURANCECOMPANY_LOCAL_ZIP,
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_PHONE,'') AS INSURANCECOMPANY_LOCAL_PHONE, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_FAX,'') AS INSURANCECOMPANY_LOCAL_FAX, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_ADDRESS,'') AS INSURANCECOMPANY_PERM_ADDRESS, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_CITY,'') AS INSURANCECOMPANY_PERM_CITY, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_STATE,'') AS INSURANCECOMPANY_PERM_STATE, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_ZIP,'') AS INSURANCECOMPANY_PERM_ZIP, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_PHONE,'') AS INSURANCECOMPANY_PERM_PHONE, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_PERM_FAX,'') AS INSURANCECOMPANY_PERM_FAX, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_CONTACT,'') AS INSURANCECOMPANY_CONTACT, 
	ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_EMAIL,'') AS INSURANCECOMPANY_EMAIL,
	Case when ISNULL(DBO.tblcase.InsuranceCompany_Initial_Address,'')<> '' 
		Then UPPER(ISNULL(DBO.tblcase.InsuranceCompany_Initial_Address,''))
	else 'N/A'  End as INSURANCECOMPANY_INITIAL_ADDRESS, 

	Case when ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ADDRESS,'')<> '' 
	Then UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ADDRESS,'') +', '+ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_CITY,'') +', '+ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_STATE,'')+', '+ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ZIP,''))
	else 'N/A'  End as INSURANCECOMPANY_FULL_ADDRESS,
	
	CASE WHEN ISNULL(dbo.tblcase.Representetive,'') ='' THEN 'UNKNOWN' ELSE  UPPER(Representetive) END AS REPRESENTETIVE_NAME,
	CASE WHEN ISNULL(dbo.tblcase.REPRESENTATIVE_CONTACT_NUMBER,'') ='' THEN 'N/A' ELSE  UPPER(REPRESENTATIVE_CONTACT_NUMBER) END AS REPRESENTATIVE_CONTACT_NUMBER,		
	
	ISNULL(DBO.TBLCOURT.COURT_VENUE,'') AS COURT_VENUE, 
	ISNULL(DBO.TBLCOURT.COURT_ADDRESS,'') AS COURT_ADDRESS, 
	ISNULL(DBO.TBLCOURT.COURT_BASIS,'') AS COURT_BASIS, 
	ISNULL(DBO.TBLCOURT.COURT_MISC,'') AS COURT_MISC, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_LASTNAME,'') AS ATTORNEY_LASTNAME, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_FIRSTNAME,'') AS ATTORNEY_FIRSTNAME, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_ADDRESS,'') AS ATTORNEY_ADDRESS, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_CITY,'') AS ATTORNEY_CITY, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_STATE,'') AS ATTORNEY_STATE, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_ZIP,'') AS ATTORNEY_ZIP, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_PHONE,'') AS ATTORNEY_PHONE, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_FAX,'') AS ATTORNEY_FAX, 
	ISNULL(DBO.TBLATTORNEY.ATTORNEY_EMAIL,'') AS ATTORNEY_EMAIL, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_NAME,'') AS DEFENDANT_NAME, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_ADDRESS,'') AS DEFENDANT_ADDRESS, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_STATE,'') AS DEFENDANT_STATE, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_ZIP,'') AS DEFENDANT_ZIP, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_PHONE,'') AS DEFENDANT_PHONE, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_FAX,'') AS DEFENDANT_FAX, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_EMAIL,'') AS DEFENDANT_EMAIL, 
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_CITY,'') AS DEFENDANT_CITY, 
	 (CASE WHEN ISNULL(dbo.tblcase.Attorney_Id,'0') <> 0 THEN ISNULL(dbo.tblAttorney.Attorney_FirstName, '-') + ' ' + ISNULL(dbo.tblAttorney.Attorney_LastName, '-') 
	       WHEN ISNULL(dbo.tblcase.Defendant_Id,'0') <> 0 THEN ISNULL(dbo.tblDefendant.Defendant_Name, '-')
           WHEN ISNULL(dbo.tblcase.Adjuster_Id,'0') <> 0 THEN ISNULL(dbo.tblAdjusters.Adjuster_FirstName, '-') + ' ' + ISNULL(dbo.tblAdjusters.Adjuster_LastName, '-')
		   ELSE '' END) AS ATTORNEY_OR_ADJUSTER_FULLNAME,
	(CASE WHEN ISNULL(dbo.tblcase.Attorney_Id,'0') <> 0 THEN ISNULL(dbo.tblAttorney.Attorney_Fax, '-') 
	       WHEN ISNULL(dbo.tblcase.Defendant_Id,'0') <> 0 THEN ISNULL(dbo.tblDefendant.Defendant_Fax, '-')
           WHEN ISNULL(dbo.tblcase.Adjuster_Id,'0') <> 0 THEN ISNULL(dbo.tblAdjusters.Adjuster_Fax, '-') 
		   ELSE '' END) AS ATTORNEY_OR_ADJUSTER_FAX,
	(CASE WHEN ISNULL(dbo.tblcase.Attorney_Id,'0') <> 0 THEN ISNULL(dbo.tblAttorney.Attorney_Phone, '-') 
	       WHEN ISNULL(dbo.tblcase.Defendant_Id,'0') <> 0 THEN ISNULL(dbo.tblDefendant.Defendant_Phone, '-')
           WHEN ISNULL(dbo.tblcase.Adjuster_Id,'0') <> 0 THEN ISNULL(dbo.tblAdjusters.Adjuster_Phone, '-') 
		   ELSE '' END) AS ATTORNEY_OR_ADJUSTER_PHONE,

	--(CASE WHEN dbo.tblcase.Attorney_Id IS NOT NULL AND ISNULL(dbo.tblAttorney.Attorney_AutoId,0) <> 0
 --       THEN ISNULL(dbo.tblAttorney.Attorney_Phone, '-') 
 --       ELSE ISNULL(DBO.TBLADJUSTERS.Adjuster_Phone,'-') END) 
 --       AS ATTORNEY_OR_ADJUSTER_PHONE,	
	STUFF(REPLACE('/'+CONVERT(CHAR(10),ISNULL(DBO.TBLCASE.DATE_ANSWER_RECEIVED,''),101),'/0','/'),1,1,'') AS DATE_ANSWER_RECEIVED, 
	ISNULL(DBO.TBLCASE.DATE_SUMMONS_SENT_COURT,'') AS DATE_SUMMONS_SENT_COURT, 
	ISNULL(DBO.TBLCASE.DATE_SUMMONS_PRINTED,'') AS DATE_SUMMONS_PRINTED, 
	ISNULL(DBO.TBLCASE.DATE_BILL_SUBMITTED,'') AS DATE_BILL_SUBMITTED, 
	ISNULL(DBO.TBLCASE.DATE_INDEX_NUMBER_PURCHASED,'') AS DATE_INDEX_NUMBER_PURCHASED, 
	ISNULL(DBO.TBLCASE.DATE_AFIDAVIT_FILED,'') AS DATE_AFIDAVIT_FILED, 
	ISNULL(DBO.TBLCASE.DATE_EXT_OF_TIME,'') AS DATE_EXT_OF_TIME, 
	CASE WHEN Date_Ext_Of_Time_3 is not NULL THEN CONVERT(VARCHAR(12),tblcase.Date_Ext_Of_Time_3,101)
	ELSE (CASE WHEN Date_Ext_Of_Time_2 is not NULL THEN CONVERT(VARCHAR(12),tblcase.Date_Ext_Of_Time_2,101)
	ELSE (CASE WHEN Date_Ext_Of_Time is not NULL THEN CONVERT(VARCHAR(12),tblcase.Date_Ext_Of_Time,101) ELSE CONVERT(VARCHAR,'Date_Ext_Template') END) 
	END) END AS DATE_EXT_TEMPLATE,
	ISNULL(DBO.TBLCASE.PLAINTIFF_DISCOVERY_DUE_DATE,'') AS PLAINTIFF_DISCOVERY_DUE_DATE, 
	ISNULL(DBO.TBLCASE.DEFENDANT_DISCOVERY_DUE_DATE,'') AS DEFENDANT_DISCOVERY_DUE_DATE, 
	ISNULL(DBO.TBLCASE.MOTION_DATE,'') AS MOTION_DATE, 
	ISNULL(DBO.TBLCASE.TRIAL_DATE,'') AS TRIAL_DATE, 
	ISNULL(DBO.TBLCASE.CASE_BILLING,'') AS CASE_BILLING, 
	CONVERT(VARCHAR(12), DBO.TBLCASE.DATEOFSERVICE_START, 1) AS DATEOFSERVICE_START, 
	CONVERT(VARCHAR(12), DBO.TBLCASE.DATEOFSERVICE_END, 1) AS DATEOFSERVICE_END, 
	--ISNULL(DBO.TBLCASE.CLAIM_AMOUNT,0.00) AS CLAIM_AMOUNT, 
	--CONVERT(varchar, CAST(DBO.TBLCASE.CLAIM_AMOUNT AS money), 1) AS CLAIM_AMOUNT,
	CONVERT(varchar,ISNULL(CAST(DBO.TBLCASE.CLAIM_AMOUNT AS money),0.00),1) AS CLAIM_AMOUNT,
	--REPLACE(CONVERT(varchar(20), (CAST(TBLCASE.CLAIM_AMOUNT AS money)), 1), '.00', '') AS CLAIM_AMOUNT,
	--replace(convert(varchar,cast(TBLCASE.CLAIM_AMOUNT as money),1), '.00','') AS CLAIM_AMOUNT,
	--ISNULL(DBO.TBLCASE.PAID_AMOUNT,0.00) AS PAID_AMOUNT,
	CONVERT(varchar,ISNULL(CAST(DBO.TBLCASE.PAID_AMOUNT AS money),0.00),1) AS PAID_AMOUNT, 
	ISNULL(DBO.TBLCASE.DATE_BILLSENT,'') AS DATE_BILLSENT, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_ID,'') AS SETTLEMENT_ID, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLED_WITH_NAME, N'') AS SETTLED_WITH_NAME, 
	ISNULL(SUBSTRING(DBO.TBLSETTLEMENTS.SETTLED_WITH_NAME, 0, CHARINDEX(' ', LTRIM(RTRIM(DBO.TBLSETTLEMENTS.SETTLED_WITH_NAME)), 0)), N'') 
	AS SETTLED_WITH_FIRST_NAME, ISNULL(DBO.TBLSETTLEMENTS.SETTLED_WITH_PHONE, N'') AS SETTLED_WITH_PHONE, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLED_WITH_FAX, N'') AS SETTLED_WITH_FAX, CONVERT(varchar,ISNULL(CAST(DBO.TBLSETTLEMENTS.SETTLEMENT_AMOUNT AS money),0.00),1) AS SETTLEMENT_AMOUNT, 
	--ISNULL(DBO.TBLSETTLEMENTS.SETTLED_WITH_FAX, N'') AS SETTLED_WITH_FAX, ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_AMOUNT,0.00) AS SETTLEMENT_AMOUNT, 
	CONVERT(varchar,ISNULL(CAST(DBO.TBLSETTLEMENTS.SETTLEMENT_INT AS money),0.00),1) AS SETTLEMENT_INT, 
		--ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_INT,'') AS SETTLEMENT_INT, 
	CONVERT(varchar,ISNULL(CAST(DBO.TBLSETTLEMENTS.SETTLEMENT_AF AS money),0.00),1)  AS SETTLEMENT_AF, 
		--ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_AF,'') AS SETTLEMENT_AF,
	CONVERT(varchar,ISNULL(CAST(DBO.TBLSETTLEMENTS.SETTLEMENT_FF AS money),0.00),1) AS SETTLEMENT_FF, 
	--ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_FF,'') AS SETTLEMENT_FF, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_TOTAL,'') AS SETTLEMENT_TOTAL, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLEMENT_DATE,'') AS SETTLEMENT_DATE, 
	ISNULL(DBO.TBLSETTLEMENTS.SETTLEDWITH,'') AS SETTLEDWITH, DBO.TBLSETTLEMENTS.SETTLEMENT_RFUND_PR, DBO.TBLSETTLEMENTS.SETTLEMENT_RFUND_INT, 
	DBO.TBLSETTLEMENTS.SETTLEMENT_RFUND_TOTAL, DBO.TBLSETTLEMENTS.SETTLEMENT_RFUND_DATE, DBO.TBLSETTLEMENTS.SETTLEMENT_RFUND_BATCH, 
	DBO.TBLCASE.DATE_ANSWER_EXPECTED, DBO.TBLCASE.REPLY_DATE, DBO.TBLCASE.CALENDAR_PART, DBO.TBLCASE.MOTION_TYPE, DBO.TBLCASE.WHOSE_MOTION, 
	DBO.TBLCASE.DEFENSE_OPP_DUE, DBO.TBLCASE.XMOTION_TYPE, DBO.TBLCASE.GROUP_CLAIMAMT, DBO.TBLCASE.GROUP_PAIDAMT, DBO.TBLCASE.GROUP_BALANCE, 
	DBO.TBLCASE.GROUP_INSCLAIMNO, DBO.TBLCASE.GROUP_ALL, DBO.TBLCASE.GROUP_ALL AS GROUP_CASE, DBO.TBLCASE.DATE_PACKETED, 
	DBO.TBLCASE.GROUP_ACCIDENT, DBO.TBLCASE.GROUP_POLICYNUM, DBO.TBLCASE.GROUP_CASE_SEQUENCE, DBO.TBLCASE.CASE_CODE, 
	DBO.TBLCASE.PROVIDER_CODE, DBO.TBLCASE.INSURANCECOMPANY_CODE, DBO.TBLCASE.OUR_DISCOVERY_RESPONSES, DBO.TBLCASE.OUR_DISCOVERY_DEMANDS, 
	DBO.TBLCASE.THEIR_SJ_MOTION_ACTIVITY, DBO.TBLCASE.OUR_SJ_MOTION_ACTIVITY, DBO.TBLCASE.DATE_EXT_OF_TIME_2, DBO.TBLCASE.CASE_AUTOID, 
	DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_SUITNAME, DBO.TBLSETTLEMENTS.USER_ID, DBO.TBLSETTLEMENTS.SETTLEMENT_NOTES, 
	DBO.TBLCASE.DATE_EXT_OF_TIME_3, 
	STUFF(REPLACE('/'+CONVERT(CHAR(10),ISNULL(DBO.TBLCASE.SERVED_ON_DATE,''),101),'/0','/'),1,1,'') AS SERVED_ON_DATE, 
	DBO.TBLCASE.SERVED_ON_TIME, DBO.TBLCASE.DATE_CLOSED, 
	DBO.TBLCASE.STIPS_SIGNED_AND_RETURNED_2, DBO.TBLCASE.STIPS_SIGNED_AND_RETURNED_3, DBO.TBLPROVIDER.PROVIDER_CONTACT2, 
	DBO.TBLPROVIDER.PROVIDER_INTBILLING, DBO.TBLPROVIDER.INVOICE_TYPE, DBO.TBLPROVIDER.COST_BALANCE, 
	DBO.TBLPROVIDER.PROVIDER_REFERREDBY, DBO.TBLCASE.NOTARY_ID, DBO.NOTARYPUBLIC.NOTARYPUBLICID, DBO.NOTARYPUBLIC.NPFIRSTNAME, 
	DBO.NOTARYPUBLIC.NPMIDDLE, DBO.NOTARYPUBLIC.NPLASTNAME, DBO.NOTARYPUBLIC.NPCOUNTY, DBO.NOTARYPUBLIC.NPREGISTRATIONNO, 
	DBO.NOTARYPUBLIC.NPEXPDATE, DBO.TBLPROVIDER.PROVIDER_TAXID, DBO.TBLPROVIDER.PROVIDER_PRESIDENT, DBO.TBLPROVIDER.PROVIDER_FF, 
	DBO.TBLPROVIDER.PROVIDER_RETURNFF, DBO.TBLPROVIDER.PROVIDER_RFUNDS, DBO.TBLCASE.DATE_DEMANDS_PRINTED, DBO.TBLCASE.DATE_DISC_CONF_LETTER_PRINTED, 
	DBO.TBLCASE.DATE_REPLY_TO_DISC_CONF_LETTER_RECD, DBO.TBLCASE.STIPS_SIGNED_AND_RETURNED, DBO.TBLPROCESSSERVER.PSID, 
	DBO.TBLPROCESSSERVER.PSFIRSTNAME, DBO.TBLPROCESSSERVER.PSLASTNAME, ISNULL('LIC#: ' + DBO.TBLPROCESSSERVER.PSLICENSE, N'') AS PSLICENSE, 
	--DBO.TBLSETTLEMENTS.TREATMENT_ID, convert(varchar,(convert(money, (CONVERT(FLOAT, isnull(DBO.TBLCASE.CLAIM_AMOUNT,0)) - CONVERT(FLOAT, isnull(DBO.TBLCASE.PAID_AMOUNT,0)))))) AS BALANCE_AMOUNT, 	
	DBO.TBLSETTLEMENTS.TREATMENT_ID,CONVERT(varchar,CAST(DBO.TBLCASE.CLAIM_AMOUNT AS money) - CAST(DBO.TBLCASE.PAID_AMOUNT AS money), 1) As BALANCE_AMOUNT,
	ISNULL((CONVERT(FLOAT, DBO.TBLCASE.CLAIM_AMOUNT) - CONVERT(FLOAT, DBO.TBLCASE.PAID_AMOUNT)) * 0.8, N'') AS CLAIMAMOUNTPERCENTAGE, 
	DBO.TBLPROCESSSERVER.PSFIRSTNAME + ' ' + DBO.TBLPROCESSSERVER.PSLASTNAME AS PROCESS_SERVER, DBO.TBLSERVED.NAME AS SERVED_TO_NAME, 
	DBO.TBLSERVED.NAME AS SERVED_NAME, DBO.TBLSERVED.AGE AS SERVED_AGE, DBO.TBLSERVED.WEIGHT AS SERVED_WEIGHT, 
	DBO.TBLSERVED.HEIGHT AS SERVED_HEIGHT, DBO.TBLSERVED.SKIN AS SERVED_SKIN, DBO.TBLSERVED.HAIR AS SERVED_HAIR, DBO.TBLSERVED.SEX AS SERVED_SEX, 
	DBO.TBLPROVIDER.PROVIDER_GROUPNAME, DBO.TBLINSURANCECOMPANY.ACTIVE, DBO.TBLPROVIDER.PROVIDER_COLLECTION_AGENT, DBO.TBLCASE.SERVED_TO, 
	DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_GROUPNAME, 
	DBO.TBLPROVIDER.PROVIDER_NAME + ISNULL(N' [GROUP: ' + DBO.TBLPROVIDER.PROVIDER_GROUPNAME + N' ]', N'') AS PROVIDERNAME_LONG, 
	DBO.TBLPROVIDER.ACTIVE AS EXPR1, DBO.TBLPROVIDER.PROVIDER_SEESFF, DBO.TBLPROVIDER.PROVIDER_SEESRFF, DBO.TBLPROVIDER.PROVIDER_CODE AS EXPR2, 
	DBO.TBLCASE.DATE_AAA_ARB_FILED, DBO.TBLCASE.DATE_AAA_CONCILATION_OVER, ISNULL(CONVERT(NVARCHAR(20), DBO.TBLCASE.AAA_CONFIRMED_DATE), N'') 
	AS AAA_CONFIRMED_DATE, ISNULL(DBO.TBLARBITRATOR.ARBITRATOR_NAME, N'') AS ARBITRATOR_NAME, DBO.TBLPROVIDER.PROVIDER_INVOICEDFF, 
	DBO.TBLPROVIDER.PROVIDER_ATTACHCHECKS, ISNULL(DBO.TBLPROVIDER.ISFROMNASSAU,0) AS ISFROMNASSAU,
	DBO.PROPERCASE(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_NAME,'')) AS FIRSTCAP_INSURANCECOMPANYNAME,
	UPPER(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_NAME,'')) AS UPPER_INSURANCECOMPANYNAME, 
	DBO.PROPERCASE(ISNULL(DBO.TBLDEFENDANT.DEFENDANT_ADDRESS,'')) AS FIRSTCAP_DEFENDANTADDRESS,
	ISNULL(DBO.TBLDEFENDANT.DEFENDANT_CITY,'') AS FIRSTCAP_DEFENDANTCITY,
	DBO.PROPERCASE(ISNULL(DBO.TBLDEFENDANT.DEFENDANT_PHONE,''))  AS DEFENDANTPHONE,
	DBO.PROPERCASE(ISNULL(DBO.TBLDEFENDANT.DEFENDANT_STATE,'')) AS FIRSTCAP_DEFENDANTSTATE,
	DBO.PROPERCASE(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_CITY,'')) AS FIRSTCAP_INSCOMPANY_LOCAL_CITY, 
	DBO.PROPERCASE(ISNULL(DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_LOCAL_ADDRESS,'')) AS FIRSTCAP_INSCOMPANY_LOCAL_ADDRESS, 
	DBO.PROPERCASE(ISNULL(DBO.TBLPROVIDER.PROVIDER_PRESIDENT,'')) as PRO_PRESIDENT_FIRSTCAPS,
	DBO.PROPERCASE(ISNULL(DBO.TBLPROVIDER.PROVIDER_NAME,'')) as PROVIDER_FIRSTCAPS,
    DBO.PROPERCASE(ISNULL(DBO.TBLPROVIDER.Provider_SuitName,'')) as PROVIDER_SUIT_FIRSTCAPS,
    DBO.PROPERCASE(ISNULL(DBO.TBLCASE.INJUREDPARTY_FIRSTNAME, N'')) + N'  ' + UPPER(ISNULL(DBO.TBLCASE.INJUREDPARTY_LASTNAME, N'')) as INJUNAME_FIRSTCAPS,
	(SELECT     DOCTOR_NAME
	FROM          DBO.TBLREVIEWINGDOCTOR
	WHERE      (DOCTOR_ID = DBO.TBLCASE.DOCTOR_ID)) AS DOCTOR_NAME, 
	CASE WHEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE()))='11' THEN '11TH' 
	WHEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) ='12' THEN '12TH' WHEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) ='13' THEN '13TH' WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())), 1) 
	= '1' THEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) + 'ST' WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())), 1) 
	= '2' THEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) + 'ND' WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())), 1) 
	= '3' THEN CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) + 'RD' ELSE CONVERT(NVARCHAR(20), DATEPART(DD, GETDATE())) + 'TH' END AS SUMMONS_DAY, 
	DATENAME(MM, GETDATE()) AS SUMMONS_MONTH, DATEPART(YY, GETDATE()) AS SUMMONS_YEAR, 
	CONVERT(NVARCHAR(12),CONVERT(DATETIME, DBO.TBLCASE.DATEOFSERVICE_START), 101) AS DOS_START,
	CONVERT(NVARCHAR(12), CONVERT(DATETIME, DBO.TBLCASE.DATEOFSERVICE_END), 101) AS DOS_END, ISNULL
	((SELECT     TOP (1) SERVICE_TYPE
	FROM         DBO.TBLTREATMENT
	WHERE     (CASE_ID = DBO.TBLCASE.CASE_ID)
	ORDER BY DATEOFSERVICE_START), N'') AS SERVICE_TYPE, ISNULL
	((SELECT     TOP (1) DATEOFSERVICE_START
	FROM         DBO.TBLTREATMENT AS TBLTREATMENT_1
	WHERE     (CASE_ID = DBO.TBLCASE.CASE_ID)
	ORDER BY DATEOFSERVICE_START), N'') AS DATEOFSERVICESTART, CONVERT(DECIMAL(38, 2), ISNULL(CONVERT(FLOAT, 
	DBO.TBLSETTLEMENTS.SETTLEMENT_AMOUNT) / (CONVERT(FLOAT, DBO.TBLCASE.CLAIM_AMOUNT) - CONVERT(FLOAT, DBO.TBLCASE.PAID_AMOUNT)) * 100, N'')) 
	AS SETTLEMENTAMOUNTPERCENTAGE,
	--UPPER(DATENAME(MM, GETDATE())) + ' ' + DATENAME(DD, GETDATE()) + ', ' + DATENAME(YY, GETDATE()) AS TODAYDATE,
	convert (varchar(10),GETDATE (),101) as  TODAYDATE,
	CASE WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, DATEADD(DD, 10, GETDATE()))), 1) = '1' THEN CONVERT(NVARCHAR(20), DATEPART(DD, 
	DATEADD(DD, 10, GETDATE()))) + 'ST' WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, DATEADD(DD, 10, GETDATE()))), 1) = '2' THEN CONVERT(NVARCHAR(20), 
	DATEPART(DD, DATEADD(DD, 10, GETDATE()))) + 'ND' WHEN RIGHT(CONVERT(NVARCHAR(20), DATEPART(DD, DATEADD(DD, 10, GETDATE()))), 1) 
	= '3' THEN CONVERT(NVARCHAR(20), DATEPART(DD, DATEADD(DD, 10, GETDATE()))) + 'RD' ELSE CONVERT(NVARCHAR(20), DATEPART(DD, DATEADD(DD, 10, GETDATE()))) 
	+ 'TH' END AS NOT_DAY, DATENAME(MM, DATEADD(DD, 10, GETDATE())) AS NOT_MONTH, DATEPART(YY, DATEADD(DD, 10, GETDATE())) 
	AS NOT_YEAR, NOT_DATE = (CONVERT(NVARCHAR(12),(DATEADD(DD, 10, GETDATE())),101)),
	DATENAME(MM, GETDATE()) + RIGHT(CONVERT(VARCHAR(12), GETDATE(), 107), 9) AS TODAY_DATE,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(13) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then 'X' Else '  ' END AS VOT_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(13) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then '  ' Else 'X' END AS VOT_NOT_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(11) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then 'X' Else '  ' END AS AOB_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(11) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then '  ' Else 'X' END AS AOB_NOT_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then 'X' Else '  ' END AS DENIAL_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then '  ' Else 'X' END AS  DENIAL_NOT_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
				Then (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(45) and DeleteFlag=0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
					THEN (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(465) and DeleteFlag>0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 THEN 'X' ELSE '  ' END) 
					ELSE 'X' END) Else '  ' END AS VR_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
				Then (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(45) and DeleteFlag=0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
					THEN (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(465) and DeleteFlag>0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 THEN '  ' ELSE 'X' END) 
					ELSE '  ' END) Else 'X' END AS VR_NOT_ATTACHED,
	
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(29) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then 'X' Else '  ' END AS MR_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(29) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 Then '  ' Else 'X' END AS MR_NOT_ATTACHED,
	
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
			Then (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(12) and DeleteFlag=0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') > 0 
					THEN 'X' Else '  ' End) Else '  ' END AS POF_ATTACHED,
	CASE WHEN (SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(14) and DeleteFlag=0 and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
			Then (CASE WHEN 
					(SELECT COUNT(*) FROM tblImages WHERE Case_Id=tblcase.Case_ID and DocumentId IN(12) and DeleteFlag=0 
					and filename not like '%.pdf' and filename not like '%Select%'and filename <> '') = 0 
					THEN 'X' Else '  ' End) Else 'X' END AS POF_NOT_ATTACHED,
	CASE When DENIAL_DATE IS Null Then '  ' WHEN DATEDIFF(DD,DENIAL_DATE,GETDATE()) <= 90 Then 'X' Else '  ' END AS  DENIALBEFORE90DAY
	, CASE When DENIAL_DATE IS Null Then 'X' WHEN DATEDIFF(DD,DENIAL_DATE,GETDATE()) > 90 Then 'X' Else '  ' END AS  DENIALAFTER90DAY --DENIALAFTER90DAY
	,datepart(yy,getdate()) as NOW_YEAR, STUFF(REPLACE('/'+CONVERT(CHAR(10),getdate(),101),'/0','/'),1,1,'') as NOWDT
	, DATENAME(MM, DATEADD(DD, 10, GETDATE())) AS NOW_MONTH
	--,	dbo.funTreateamtTable_RTF(tblcase.Case_Id) As TREATMENT_TABLE
FROM         DBO.TBLCASE LEFT OUTER JOIN
                      DBO.NOTARYPUBLIC ON DBO.TBLCASE.NOTARY_ID = DBO.NOTARYPUBLIC.NOTARYPUBLICID LEFT OUTER JOIN
                      DBO.TBLPROCESSSERVER ON DBO.TBLCASE.PSID = DBO.TBLPROCESSSERVER.PSID INNER JOIN
                      DBO.TBLINSURANCECOMPANY ON DBO.TBLCASE.INSURANCECOMPANY_ID = DBO.TBLINSURANCECOMPANY.INSURANCECOMPANY_ID INNER JOIN
                      DBO.TBLPROVIDER ON DBO.TBLCASE.PROVIDER_ID = DBO.TBLPROVIDER.PROVIDER_ID LEFT OUTER JOIN
                      DBO.TBLSERVED ON DBO.TBLCASE.SERVED_TO = DBO.TBLSERVED.ID LEFT OUTER JOIN
                      DBO.TBLATTORNEY ON DBO.TBLCASE.ATTORNEY_ID = DBO.TBLATTORNEY.ATTORNEY_ID LEFT OUTER JOIN
                      DBO.TBLDEFENDANT ON DBO.TBLCASE.DEFENDANT_ID = DBO.TBLDEFENDANT.DEFENDANT_ID LEFT OUTER JOIN
                      DBO.TBLADJUSTERS ON DBO.TBLCASE.ADJUSTER_ID = DBO.TBLADJUSTERS.ADJUSTER_ID LEFT OUTER JOIN
                      DBO.TBLCOURT ON DBO.TBLCASE.COURT_ID = DBO.TBLCOURT.COURT_ID LEFT OUTER JOIN
                      DBO.TBLARBITRATOR ON DBO.TBLCASE.ARBITRATOR_ID = DBO.TBLARBITRATOR.ARBITRATOR_ID LEFT OUTER JOIN
                      DBO.TBLSETTLEMENTS ON DBO.TBLCASE.CASE_ID = DBO.TBLSETTLEMENTS.CASE_ID



GO
