USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[XN_TEMP_AMT_5]    Script Date: 6/17/2019 2:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XN_TEMP_AMT_5](
	[Patient Last Name] [nvarchar](255) NULL,
	[Patient First Name] [nvarchar](255) NULL,
	[Prim Insurance] [nvarchar](255) NULL,
	[CPT] [float] NULL,
	[MOD] [float] NULL,
	[DOS] [datetime] NULL,
	[Project Code] [nvarchar](255) NULL,
	[Medical Provider] [nvarchar](255) NULL,
	[Specialty] [nvarchar](255) NULL,
	[Bill number] [nvarchar](255) NULL,
	[Patient number Medic] [nvarchar](255) NULL,
	[Accident Date] [nvarchar](255) NULL,
	[Referring Doctor] [nvarchar](255) NULL,
	[Rendering Physician] [nvarchar](255) NULL,
	[Units] [float] NULL,
	[ICD10 1] [nvarchar](255) NULL,
	[ICD10 2] [nvarchar](255) NULL,
	[ICD10 3] [nvarchar](255) NULL,
	[Billing Date] [nvarchar](255) NULL,
	[Type of Bill] [nvarchar](255) NULL,
	[Total Billed Amount] [float] NULL,
	[Bill Adjustment] [float] NULL,
	[Voluntary payments 1] [nvarchar](255) NULL,
	[Voluntary payments 1 Date] [nvarchar](255) NULL,
	[Voluntary payments 2] [nvarchar](255) NULL,
	[Voluntary payments 2 Date] [nvarchar](255) NULL,
	[Voluntary payments 3] [nvarchar](255) NULL,
	[Voluntary payments 3 Date] [nvarchar](255) NULL,
	[Deductible] [nvarchar](255) NULL,
	[Interest] [nvarchar](255) NULL,
	[Purchase Balance] [float] NULL,
	[Purchase Price] [float] NULL,
	[Prim Policy ] [nvarchar](255) NULL,
	[Note] [nvarchar](255) NULL,
	[First Party Case Status] [nvarchar](255) NULL,
	[Case Evaluation Date] [nvarchar](255) NULL,
	[First Party Suit Filed Date] [nvarchar](255) NULL,
	[Court Type] [nvarchar](255) NULL,
	[Court County] [nvarchar](255) NULL,
	[First Party Attorney] [nvarchar](255) NULL,
	[First Party Law Firm] [nvarchar](255) NULL,
	[Attorney from Biller's Note] [nvarchar](255) NULL,
	[Our Attorney] [nvarchar](255) NULL,
	[Our Attorney Law Firm] [nvarchar](255) NULL,
	[Law Suit Type] [nvarchar](255) NULL,
	[Date of Purchase] [datetime] NULL,
	[Accounting Date] [datetime] NULL,
	[<<Purchase Debt] [nvarchar](255) NULL,
	[Voluntary Payment1] [float] NULL,
	[Deductible1] [nvarchar](255) NULL,
	[Interest1] [nvarchar](255) NULL,
	[Vol Attorney Fee1] [nvarchar](255) NULL,
	[Net Vol Pmt1] [float] NULL,
	[Voluntary Payment Date1] [datetime] NULL,
	[Payment no#1] [nvarchar](255) NULL,
	[Cheque Date1] [datetime] NULL,
	[Cheque deposited in Collection Bank1] [nvarchar](255) NULL,
	[Accounting Date1] [datetime] NULL,
	[Voluntary Payment2] [nvarchar](255) NULL,
	[Deductible2] [nvarchar](255) NULL,
	[Interest2] [nvarchar](255) NULL,
	[Vol Attorney Fee2] [nvarchar](255) NULL,
	[Net Vol Pmt2] [float] NULL,
	[Voluntary Payment Date2] [nvarchar](255) NULL,
	[Payment no#2] [nvarchar](255) NULL,
	[Cheque Date2] [nvarchar](255) NULL,
	[Cheque deposited in Collection Bank2] [nvarchar](255) NULL,
	[Accounting Date2] [nvarchar](255) NULL,
	[Settled by the First Party Litigation] [nvarchar](255) NULL,
	[<<Voluntary Payment] [nvarchar](255) NULL,
	[Total Litigation Collection 1] [nvarchar](255) NULL,
	[Court Fees 1] [nvarchar](255) NULL,
	[Litigation Fees 1] [nvarchar](255) NULL,
	[Net Litigation Collection 1] [float] NULL,
	[Litigation Payment Date 1] [nvarchar](255) NULL,
	[Payment no# 1] [nvarchar](255) NULL,
	[Cheque Date 1] [nvarchar](255) NULL,
	[Cheque deposited in Collection Bank? 1] [nvarchar](255) NULL,
	[Accounting Date11] [nvarchar](255) NULL,
	[Total Litigation Collection 2] [nvarchar](255) NULL,
	[Court Fees 2] [nvarchar](255) NULL,
	[Litigation Fees 2] [nvarchar](255) NULL,
	[Net Litigation Collection 2] [nvarchar](255) NULL,
	[Litigation Payment Date 2] [nvarchar](255) NULL,
	[Payment no# 2] [nvarchar](255) NULL,
	[Cheque Date 2] [nvarchar](255) NULL,
	[Cheque deposited in Collection Bank? 2] [nvarchar](255) NULL,
	[Accounting Date21] [nvarchar](255) NULL,
	[<<Litigated Payments] [nvarchar](255) NULL,
	[Total Amount Billed] [float] NULL,
	[Total Vol Payments] [float] NULL,
	[Current Balance] [float] NULL,
	[First Party Case Status1] [nvarchar](255) NULL,
	[Case Evaluation Date1] [nvarchar](255) NULL,
	[First Party Suit Filed Date1] [nvarchar](255) NULL,
	[Court County1] [nvarchar](255) NULL,
	[First Party Attorney1] [nvarchar](255) NULL,
	[First Party Law Firm1] [nvarchar](255) NULL,
	[Attorney from Biller's Note1] [nvarchar](255) NULL,
	[Our Attorney1] [nvarchar](255) NULL,
	[Our Attorney Law Firm1] [nvarchar](255) NULL,
	[Law Suit Type1] [nvarchar](255) NULL,
	[Litigation Court] [nvarchar](255) NULL,
	[County/District] [nvarchar](255) NULL,
	[Our File Date / Motion Pending Date] [nvarchar](255) NULL,
	[Case eval offer amount($)] [nvarchar](255) NULL,
	[Settlement Conference offer Amont] [nvarchar](255) NULL,
	[Faciliation Offer Amount] [nvarchar](255) NULL,
	[Trial Decision Amount] [nvarchar](255) NULL,
	[Judges Name] [nvarchar](255) NULL,
	[Recomendation] [nvarchar](255) NULL,
	[Attorney Comment] [nvarchar](255) NULL,
	[Latest Offer] [nvarchar](255) NULL,
	[% of Face] [nvarchar](255) NULL,
	[Automatically Generated Decision] [nvarchar](255) NULL,
	[Consistency] [nvarchar](255) NULL,
	[Decided Action] [nvarchar](255) NULL,
	[Explanation] [nvarchar](255) NULL,
	[Case Number] [nvarchar](255) NULL,
	[Case Status_(for Assigned and First Party Claims)] [nvarchar](255) NULL,
	[<<Litigation Update] [nvarchar](255) NULL,
	[Denied by Insurance Company] [nvarchar](255) NULL,
	[% Collected] [float] NULL,
	[Current Balance per patient] [float] NULL,
	[Aging (months past DOS) as of 30 Jun 18] [nvarchar](255) NULL,
	[Case closed bc cannot filing for liti] [nvarchar](255) NULL,
	[Litigation Coding] [nvarchar](255) NULL,
	[Assignment date] [nvarchar](255) NULL,
	[Aging (months past assignment date) as of 30 Jun 18] [nvarchar](255) NULL,
	[<<Litigation Monitoring] [nvarchar](255) NULL,
	[When Refunded?] [nvarchar](255) NULL,
	[For Swapping] [nvarchar](255) NULL,
	[x] [nvarchar](255) NULL,
	[STATUS of Patient Bill_(ACTIVE/REFUNDED)] [nvarchar](255) NULL,
	[<<Refund History] [nvarchar](255) NULL,
	[Q3 2018 Invoice Balance] [float] NULL,
	[Q4 2018_Vol Pay 1 (net of deductions)] [float] NULL,
	[Q4 2018 UNDEPOSITED CHECKS_Vol Pay (net of deductions)] [float] NULL,
	[Q4 2018_Vol Pay 2 (net of deductions)] [float] NULL,
	[Q4 2018_Vol Pay 1+2] [float] NULL,
	[Q4 2018_Investment Income_(from Vol Pay)] [float] NULL,
	[Q4 2018_Invoice Balance_(after Vol Pay)] [float] NULL,
	[Q4 2018_Lit Pay1] [float] NULL,
	[Q4 2018 UNDEPOSITED CHECKS_Lit Pay1] [float] NULL,
	[Q4 2018_Lit Pay2] [float] NULL,
	[Q4 2018_Total Lit Pay] [float] NULL,
	[Q4 2018_Investment Income_(from Lit Pay)] [float] NULL,
	[Q4 2018_Invoice Balance_(after Lit Pay)] [float] NULL,
	[<<Q4 2018 Investment income calculations] [nvarchar](255) NULL,
	[PRIMARY KEY in GP] [nvarchar](255) NULL,
	[CaseID] [varchar](50) NULL
) ON [PRIMARY]
GO
