USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tbldelcase]    Script Date: 6/17/2019 2:22:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbldelcase](
	[Case_AutoId] [int] IDENTITY(1,1) NOT NULL,
	[Case_Id] [nvarchar](50) NOT NULL,
	[Case_Code] [varchar](100) NULL,
	[Provider_Code] [varchar](100) NULL,
	[InsuranceCompany_Code] [varchar](100) NULL,
	[Provider_Id] [int] NULL,
	[InsuranceCompany_Id] [int] NULL,
	[InjuredParty_LastName] [nvarchar](100) NULL,
	[InjuredParty_FirstName] [nvarchar](100) NULL,
	[InjuredParty_Address] [nvarchar](255) NULL,
	[InjuredParty_City] [nvarchar](40) NULL,
	[InjuredParty_State] [nvarchar](40) NULL,
	[InjuredParty_Zip] [nvarchar](40) NULL,
	[InjuredParty_Phone] [varchar](20) NULL,
	[InjuredParty_Misc] [varchar](50) NULL,
	[InsuredParty_LastName] [nvarchar](100) NULL,
	[InsuredParty_FirstName] [nvarchar](100) NULL,
	[InsuredParty_Address] [nvarchar](255) NULL,
	[InsuredParty_City] [nvarchar](40) NULL,
	[InsuredParty_State] [nvarchar](40) NULL,
	[InsuredParty_Zip] [nvarchar](40) NULL,
	[InsuredParty_Misc] [varchar](50) NULL,
	[Accident_Date] [datetime] NULL,
	[Accident_Address] [nvarchar](255) NULL,
	[Accident_City] [nvarchar](40) NULL,
	[Accident_State] [nvarchar](40) NULL,
	[Accident_Zip] [nvarchar](40) NULL,
	[Policy_Number] [varchar](40) NULL,
	[Ins_Claim_Number] [nvarchar](50) NULL,
	[IndexOrAAA_Number] [varchar](40) NULL,
	[Status] [nvarchar](50) NULL,
	[Defendant_Id] [nvarchar](50) NULL,
	[Date_Opened] [datetime] NULL,
	[Last_Status] [varchar](50) NULL,
	[Initial_Status] [nvarchar](20) NULL,
	[Memo] [nvarchar](255) NULL,
	[InjuredParty_Type] [nvarchar](20) NULL,
	[InsuredParty_Type] [nvarchar](20) NULL,
	[Adjuster_Id] [int] NULL,
	[DenialReasons_Type] [nvarchar](50) NULL,
	[Court_Id] [int] NULL,
	[Attorney_FileNumber] [nvarchar](100) NULL,
	[Group_Data] [int] NULL,
	[Group_Id] [int] NULL,
	[Date_Status_Changed] [datetime] NULL,
	[Date_Answer_Received] [datetime] NULL,
	[Motion_Date] [datetime] NULL,
	[Trial_Date] [char](50) NULL,
	[Attorney_Id] [varchar](50) NULL,
	[Date_Answer_Expected] [datetime] NULL,
	[Reply_Date] [datetime] NULL,
	[Calendar_Part] [varchar](50) NULL,
	[Motion_Type] [varchar](100) NULL,
	[Whose_Motion] [varchar](50) NULL,
	[Defense_Opp_Due] [datetime] NULL,
	[Date_Ext_Of_Time_2] [datetime] NULL,
	[XMotion_Type] [varchar](50) NULL,
	[Case_Billing] [float] NULL,
	[DateOfService_Start] [varchar](50) NULL,
	[DateOfService_End] [varchar](50) NULL,
	[Claim_Amount] [varchar](100) NULL,
	[Paid_Amount] [varchar](100) NULL,
	[Date_BillSent] [varchar](250) NULL,
	[Caption] [nvarchar](1000) NULL,
	[Group_ClaimAmt] [nvarchar](200) NULL,
	[Group_PaidAmt] [nvarchar](200) NULL,
	[Group_Balance] [nvarchar](200) NULL,
	[Group_InsClaimNo] [nvarchar](200) NULL,
	[Group_All] [nvarchar](500) NULL,
	[Date_Packeted] [datetime] NULL,
	[Group_Accident] [nvarchar](200) NULL,
	[Group_PolicyNum] [nvarchar](200) NULL,
	[GROUP_CASE_SEQUENCE] [int] NULL,
	[Our_SJ_Motion_Activity] [nvarchar](100) NULL,
	[Their_SJ_Motion_Activity] [nvarchar](100) NULL,
	[Our_Discovery_Demands] [nvarchar](100) NULL,
	[Our_Discovery_Responses] [nvarchar](100) NULL,
	[Date_Summons_Printed] [datetime] NULL,
	[Plaintiff_Discovery_Due_Date] [datetime] NULL,
	[Defendant_Discovery_Due_Date] [datetime] NULL,
	[Date_Bill_Submitted] [datetime] NULL,
	[Date_Index_Number_Purchased] [datetime] NULL,
	[Date_Afidavit_Filed] [datetime] NULL,
	[Date_Ext_Of_Time] [datetime] NULL,
	[Date_Summons_Sent_Court] [datetime] NULL,
	[Date_Ext_Of_Time_3] [datetime] NULL,
	[Served_To] [varchar](100) NULL,
	[Served_On_Date] [datetime] NULL,
	[Served_On_Time] [varchar](50) NULL,
	[Date_Closed] [datetime] NULL,
	[Notary_id] [int] NULL,
	[DomainId] [nvarchar](512) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbldelcase] ADD  DEFAULT ('h1') FOR [DomainId]
GO
