USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[MST_TEMPLATES]    Script Date: 6/17/2019 2:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_TEMPLATES](
	[I_TEMPLATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_TEMPLATE_NAME] [nvarchar](500) NOT NULL,
	[SZ_TEMPLATE_FORMAT] [char](5) NOT NULL,
	[SZ_TEMPLATE_PATH] [nvarchar](500) NOT NULL,
	[SZ_TEMPLATE_FILENAME] [nvarchar](500) NOT NULL,
	[fk_default_node_id] [int] NULL,
	[DomainId] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MST_TEMPLATES] PRIMARY KEY CLUSTERED 
(
	[I_TEMPLATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_TEMPLATES] ADD  DEFAULT ('h1') FOR [DomainId]
GO
