USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tblTags]    Script Date: 6/17/2019 2:22:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTags](
	[NodeID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[NodeName] [nvarchar](300) NULL,
	[CaseID] [nvarchar](50) NOT NULL,
	[DocTypeID] [int] NULL,
	[NodeIcon] [nvarchar](50) NULL,
	[NodeLevel] [int] NULL,
	[Expanded] [bit] NULL,
	[TSTAMP] [datetime] NULL,
	[NodeType] [nvarchar](6) NULL,
	[CaseType] [nvarchar](50) NULL,
	[DomainId] [nvarchar](512) NOT NULL,
	[nodeid1] [int] NULL,
 CONSTRAINT [PK_tblTags] PRIMARY KEY CLUSTERED 
(
	[DomainId] ASC,
	[CaseID] ASC,
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblTags] ADD  CONSTRAINT [DF_tblTags_TSTAMP]  DEFAULT (getdate()) FOR [TSTAMP]
GO
ALTER TABLE [dbo].[tblTags] ADD  CONSTRAINT [DF__tblTags__DomainI__0A338187]  DEFAULT ('h1') FOR [DomainId]
GO
