USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tblTempNodeDone]    Script Date: 6/17/2019 2:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTempNodeDone](
	[NodeID] [int] NULL
) ON [PRIMARY]
GO
