USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[Auto_Packet]    Script Date: 6/17/2019 2:22:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto_Packet](
	[DomainId] [varchar](100) NULL,
	[Case_Id] [varchar](100) NULL
) ON [PRIMARY]
GO
