USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[MST_DENIAL_CATEGORY]    Script Date: 6/17/2019 2:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DENIAL_CATEGORY](
	[I_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[SZ_CATEGORY_COLOR] [nvarchar](50) NULL,
	[DomainId] [nvarchar](512) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_DENIAL_CATEGORY] ADD  DEFAULT ('h1') FOR [DomainId]
GO
