USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE]    Script Date: 6/17/2019 2:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE](
	[SZ_CASE_ASSOCIATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_DIAGNOSIS_SET_ID] [nvarchar](20) NULL,
	[SZ_CASE_ID] [nvarchar](20) NOT NULL,
	[SZ_DIAGNOSIS_CODE_ID] [nvarchar](20) NOT NULL,
	[DomainId] [nvarchar](512) NOT NULL,
 CONSTRAINT [IX_TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE] UNIQUE NONCLUSTERED 
(
	[SZ_CASE_ID] ASC,
	[SZ_DIAGNOSIS_CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE] ADD  DEFAULT ('h1') FOR [DomainId]
GO
