USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tblTransactions_Details]    Script Date: 6/17/2019 2:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransactions_Details](
	[TransactionsDetails_Id] [int] IDENTITY(1,1) NOT NULL,
	[Case_Id] [nvarchar](100) NOT NULL,
	[DomainId] [nvarchar](512) NOT NULL,
	[TT_PreC_1] [money] NULL,
	[TT_PreC_2] [money] NULL,
	[TT_PreC_3] [money] NULL,
	[TD_PreC_1] [datetime] NULL,
	[TD_PreC_2] [datetime] NULL,
	[TD_PreC_3] [datetime] NULL,
	[TC_PreC_1] [datetime] NULL,
	[TC_PreC_2] [datetime] NULL,
	[TC_PreC_3] [datetime] NULL,
	[TCN_PreC_1] [nvarchar](50) NULL,
	[TCN_PreC_2] [nvarchar](50) NULL,
	[TCN_PreC_3] [nvarchar](50) NULL,
	[TT_C_1] [money] NULL,
	[TT_C_2] [money] NULL,
	[TT_C_3] [money] NULL,
	[TD_C_1] [datetime] NULL,
	[TD_C_2] [datetime] NULL,
	[TD_C_3] [datetime] NULL,
	[TC_C_1] [datetime] NULL,
	[TC_C_2] [datetime] NULL,
	[TC_C_3] [datetime] NULL,
	[TCN_C_1] [nvarchar](50) NULL,
	[TCN_C_2] [nvarchar](50) NULL,
	[TCN_C_3] [nvarchar](50) NULL,
	[TT_AF_1] [money] NULL,
	[TT_AF_2] [money] NULL,
	[TT_AF_3] [money] NULL,
	[TD_AF_1] [datetime] NULL,
	[TD_AF_2] [datetime] NULL,
	[TD_AF_3] [datetime] NULL,
	[TC_AF_1] [datetime] NULL,
	[TC_AF_2] [datetime] NULL,
	[TC_AF_3] [datetime] NULL,
	[TCN_AF_1] [nvarchar](50) NULL,
	[TCN_AF_2] [nvarchar](50) NULL,
	[TCN_AF_3] [nvarchar](50) NULL,
	[TT_FF_1] [money] NULL,
	[TT_FF_2] [money] NULL,
	[TT_FF_3] [money] NULL,
	[TD_FF_1] [datetime] NULL,
	[TD_FF_2] [datetime] NULL,
	[TD_FF_3] [datetime] NULL,
	[TC_FF_1] [datetime] NULL,
	[TC_FF_2] [datetime] NULL,
	[TC_FF_3] [datetime] NULL,
	[TCN_FF_1] [nvarchar](50) NULL,
	[TCN_FF_2] [nvarchar](50) NULL,
	[TCN_FF_3] [nvarchar](50) NULL,
	[Transactions_Description_1] [nvarchar](255) NULL
) ON [PRIMARY]
GO
