USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tblTemp]    Script Date: 6/17/2019 2:22:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTemp](
	[nodeid] [int] NULL,
	[ParentID] [int] NULL,
	[ParentIDNew] [int] NULL
) ON [PRIMARY]
GO
