USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[case_search_saved_query]    Script Date: 6/17/2019 2:22:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_search_saved_query](
	[pk_search_query_id] [int] IDENTITY(1,1) NOT NULL,
	[domainid] [varchar](100) NULL,
	[column_value] [varchar](max) NULL,
	[column_name] [varchar](max) NULL,
	[query_name] [nvarchar](250) NULL,
	[userid] [int] NULL,
	[modified_userid] [int] NULL,
	[create_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[providersel] [varchar](max) NULL,
	[insurancesel] [varchar](max) NULL,
	[currentstatussel] [varchar](max) NULL,
	[initialstatussel] [varchar](max) NULL,
	[case_id] [varchar](100) NULL,
	[oldcaseid] [varchar](100) NULL,
	[injuredname] [varchar](100) NULL,
	[insuredname] [varchar](100) NULL,
	[policyno] [varchar](100) NULL,
	[claimno] [varchar](100) NULL,
	[billnumber] [varchar](200) NULL,
	[indexoraaano] [varchar](100) NULL,
	[denailreasonid] [int] NULL,
	[courtsel] [int] NULL,
	[defendantsel] [int] NULL,
	[reviewingdoctor] [int] NULL,
	[providergroupsel] [varchar](100) NULL,
	[insurancegroupsel] [varchar](100) NULL,
	[date_opened_from] [varchar](10) NULL,
	[date_opened_to] [varchar](10) NULL,
	[dos_from] [varchar](10) NULL,
	[dos_to] [varchar](10) NULL,
	[date_status_changed_from] [varchar](10) NULL,
	[date_status_changed_to] [varchar](10) NULL,
	[Final_Status] [nvarchar](200) NULL,
	[forum] [nvarchar](200) NULL,
	[injuredfirstname] [varchar](100) NULL,
	[injuredlastname] [varchar](100) NULL,
	[insuredfirstname] [varchar](100) NULL,
	[insuredlastname] [varchar](100) NULL,
	[packetid] [varchar](100) NULL,
	[adjusterfirstname] [varchar](100) NULL,
	[adjusterlastname] [varchar](100) NULL,
	[accidentdate] [varchar](10) NULL,
	[accountno] [varchar](100) NULL,
	[checknumber] [varchar](100) NULL,
	[paymentdatefrom] [varchar](10) NULL,
	[paymentdateto] [varchar](10) NULL,
	[filledunfiled] [varchar](20) NULL,
	[specialityid] [varchar](max) NULL,
	[attorneyfirmid] [varchar](max) NULL,
	[rebuttalstatusid] [varchar](max) NULL,
	[casetypeid] [varchar](max) NULL,
	[locationid] [varchar](max) NULL,
	[PortfolioId] [varchar](max) NULL,
	[Date_AAA_Arb_Filed] [datetime] NULL,
	[Status_Age] [nvarchar](200) NULL,
	[Case_Age] [nvarchar](200) NULL,
	[Date_BillSent] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
