USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[MCR_TXN_FILE_UPLOAD]    Script Date: 6/17/2019 2:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCR_TXN_FILE_UPLOAD](
	[I_TRANSACTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_CASE_ID] [nvarchar](50) NOT NULL,
	[SZ_USER_NAME] [nvarchar](20) NOT NULL,
	[DT_UPLOAD_TIME] [datetime] NOT NULL,
	[SZ_PROCESS_ID] [nvarchar](10) NOT NULL,
	[SZ_FILENAME] [nvarchar](255) NOT NULL,
	[SZ_UPLOAD_LOCATION] [nvarchar](500) NOT NULL,
	[I_UPLOAD_STATUS] [int] NOT NULL,
	[SZ_PROCESSING_ERROR] [nvarchar](2000) NULL,
	[DomainId] [nvarchar](512) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MCR_TXN_FILE_UPLOAD] ADD  DEFAULT (getdate()) FOR [DT_UPLOAD_TIME]
GO
ALTER TABLE [dbo].[MCR_TXN_FILE_UPLOAD] ADD  DEFAULT ('h1') FOR [DomainId]
GO
