USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[TXN_EXHIBIT_SEQUENCE_FOR_RESPONSES]    Script Date: 6/17/2019 2:22:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_EXHIBIT_SEQUENCE_FOR_RESPONSES](
	[I_SEQUENCE] [int] NOT NULL,
	[I_DOCUMENT_TYPE] [int] NULL,
	[DOCUMENT_TYPE] [nvarchar](200) NULL,
	[DomainId] [nvarchar](512) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TXN_EXHIBIT_SEQUENCE_FOR_RESPONSES] ADD  DEFAULT ('h1') FOR [DomainId]
GO
