USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[MST_DIAGNOSIS_CODE]    Script Date: 6/17/2019 2:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DIAGNOSIS_CODE](
	[SZ_DIAGNOSIS_CODE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_DIAGNOSIS_CODE] [nvarchar](100) NOT NULL,
	[SZ_DESCRIPTION] [nvarchar](500) NULL,
	[SZ_DIAGNOSIS_TYPE_ID] [nvarchar](20) NULL,
	[DomainId] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_MST_DIAGNOSIS_CODE] PRIMARY KEY CLUSTERED 
(
	[SZ_DIAGNOSIS_CODE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_DIAGNOSIS_CODE] ADD  DEFAULT ('h1') FOR [DomainId]
GO
