USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[MST_DOCUMENT_NODES]    Script Date: 6/17/2019 2:22:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DOCUMENT_NODES](
	[NodeID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[NodeName] [nvarchar](300) NULL,
	[NodeLevel] [int] NULL,
	[Expanded] [bit] NULL,
	[FriendlyName] [nvarchar](300) NULL,
	[DomainId] [nvarchar](512) NOT NULL,
 CONSTRAINT [PK_MST_DOCUMENT_NODES] PRIMARY KEY CLUSTERED 
(
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_DOCUMENT_NODES] ADD  DEFAULT ('h1') FOR [DomainId]
GO
