USE [LS_ATLAS_DB]
GO
/****** Object:  Table [dbo].[tblBatchOrientDocs]    Script Date: 6/17/2019 2:22:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBatchOrientDocs](
	[DocId] [int] IDENTITY(1,1) NOT NULL,
	[Batch_Type] [varchar](250) NOT NULL,
	[Docs_Name] [varchar](250) NOT NULL,
	[Exhibit] [varchar](500) NULL,
	[Sequence_No] [int] NOT NULL,
	[DomainId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblBatchOrientDocs] PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
