USE [DKATLAS]
GO
/****** Object:  UserDefinedTableType [dbo].[UT_TransferCases]    Script Date: 6/17/2019 2:53:52 AM ******/
CREATE TYPE [dbo].[UT_TransferCases] AS TABLE(
	[CaseId] [int] NOT NULL,
	[CaseNo] [varchar](500) NULL,
	[PatientFirstName] [varchar](800) NULL,
	[PatientLastName] [varchar](800) NULL,
	[InsuranceName] [varchar](800) NULL,
	[InsuranceAddress] [nvarchar](max) NULL,
	[InsuranceCity] [varchar](800) NULL,
	[InsuranceState] [varchar](800) NULL,
	[InsuranceZip] [varchar](800) NULL,
	[InsurancePhone] [varchar](800) NULL,
	[InsuranceEmail] [varchar](800) NULL,
	[PatientAddress] [nvarchar](max) NULL,
	[PatientStreet] [varchar](800) NULL,
	[PatientCity] [varchar](800) NULL,
	[PatientState] [varchar](800) NULL,
	[PatientZip] [varchar](800) NULL,
	[PatientPhone] [varchar](800) NULL,
	[PolicyNumber] [varchar](800) NULL,
	[ClaimNumber] [varchar](800) NULL,
	[BillStatusName] [varchar](800) NULL,
	[AttorneyName] [varchar](max) NULL,
	[AttorneyLastName] [varchar](max) NULL,
	[AttorneyAddress] [nvarchar](max) NULL,
	[AttorneyCity] [varchar](800) NULL,
	[AttorneyState] [varchar](800) NULL,
	[AttorneyZip] [varchar](800) NULL,
	[AttorneyFax] [varchar](800) NULL,
	[SocialSecurityNo] [varchar](800) NULL,
	[PolicyHolder] [varchar](800) NULL,
	[BillNumber] [varchar](800) NULL,
	[FltBillAmount] [varchar](800) NULL,
	[FltPaid] [varchar](800) NULL,
	[FltBalance] [varchar](800) NULL,
	[FirstVisitDate] [datetime] NULL,
	[LastVisitDate] [datetime] NULL,
	[CaseTypeName] [varchar](800) NULL,
	[Location] [varchar](800) NULL,
	[CompanyId] [varchar](800) NULL,
	[CompanyName] [varchar](800) NULL,
	[ProviderName] [varchar](800) NULL,
	[ProviderAddress] [nvarchar](max) NULL,
	[ProviderCity] [varchar](800) NULL,
	[ProviderZip] [varchar](800) NULL,
	[ProviderState] [varchar](800) NULL,
	[ProviderTaxId] [varchar](800) NULL,
	[DoctorTaxId] [varchar](800) NULL,
	[DoctorName] [varchar](800) NULL,
	[Specialty] [varchar](800) NULL,
	[DateofAccident] [datetime] NULL,
	[AssignedLawFirmId] [varchar](800) NULL,
	[TransferAmount] [varchar](800) NULL,
	[DateOfTransferred] [datetime] NULL,
	[BillDate] [datetime] NULL,
	[provider_id] [varchar](800) NULL,
	[insurancecompanyid] [varchar](800) NULL,
	[DenialReason1] [varchar](8000) NULL,
	[DenialReason2] [varchar](8000) NULL,
	[DenialReason3] [varchar](8000) NULL,
	[DomainId] [varchar](100) NULL,
	[AtlasProviderId] [int] NULL,
	[IsDuplicateCase] [int] NULL
)
GO
