USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SPROC_NOTES_GENERAL_DETAILS]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SPROC_NOTES_GENERAL_DETAILS] 
	@INSURANCE_ID INT =NULL ,@PROVIDER_ID INT =NULL
AS
BEGIN
	
	SET NOCOUNT ON;
SELECT     ID, [DESC], PRIORITY,[DATE],AGENT,CASE WHEN INSURANCE_ID IS NOT NULL THEN 'INSURANCE'  WHEN PROVIDER_ID IS NOT NULL THEN 'PROVIDER' ELSE 'GENERAL' END AS SOURCE
FROM         BX_NOTES_GENERAL
WHERE (INSURANCE_ID=@INSURANCE_ID) OR (PROVIDER_ID=@PROVIDER_ID) OR (INSURANCE_ID IS NULL AND PROVIDER_ID IS NULL)
ORDER BY [DATE] DESC
END
GO
