USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_POPUP_NOTES]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_POPUP_NOTES]  --'FL15-5176'
@SZ_CASE_ID NVARCHAR(20)  
AS  
BEGIN  

 SELECT REPLACE(REPLACE(REPLACE(REPLACE(NOTES_DESC,'''','\'''), CHAR(13),'\n'), CHAR(10),'\n'), CHAR(9),'\n') [NOTES] FROM TBLNOTES  
 WHERE CASE_ID=@SZ_CASE_ID AND NOTES_TYPE in  ('POPUP')
END
GO
