USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_VERIFICATION_REQUEST]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_VERIFICATION_REQUEST]
	@SZ_CASE_ID NVARCHAR(20),
	@SZ_VERIFICATION_RECEIVED DATETIME = NULL, 
	@SZ_VERIFICATION_REPLIED DATETIME = NULL,
	@SZ_USER_ID NVARCHAR(20),
	@SZ_NOTES NVARCHAR(2000) = NULL,
	@I_VERIFICATION_ID INT=NULL
AS
BEGIN
SELECT * FROM TXN_VERIFICATION_REQUEST
	IF EXISTS (SELECT I_VERIFICATION_ID FROM TXN_VERIFICATION_REQUEST
			WHERE I_VERIFICATION_ID = @I_VERIFICATION_ID)
	BEGIN
		UPDATE TXN_VERIFICATION_REQUEST
			SET DT_VERIFICATION_RECEIVED = @SZ_VERIFICATION_RECEIVED,
				DT_VERIFICATION_REPLIED = @SZ_VERIFICATION_REPLIED,
				SZ_NOTES = @SZ_NOTES,SZ_USER_ID = @SZ_USER_ID
			WHERE I_VERIFICATION_ID = @I_VERIFICATION_ID
	END
	ELSE
	BEGIN
		INSERT INTO TXN_VERIFICATION_REQUEST(SZ_CASE_ID,DT_VERIFICATION_RECEIVED,DT_VERIFICATION_REPLIED,
			SZ_NOTES,SZ_USER_ID)
			VALUES(@SZ_CASE_ID,@SZ_VERIFICATION_RECEIVED,@SZ_VERIFICATION_REPLIED,@SZ_NOTES,@SZ_USER_ID)
	END
END
GO
