USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_DIAGNOSIS_CODE_LIST]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_DIAGNOSIS_CODE_LIST]


AS
BEGIN
		SELECT  SZ_DIAGNOSIS_CODE_ID,
				SZ_DIAGNOSIS_CODE,	
				SZ_DESCRIPTION,		
				SZ_DIAGNOSIS_TYPE_ID		
		FROM MST_DIAGNOSIS_CODE
END
GO
