USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[bx_sproc_process_add]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 9/11/2008
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[bx_sproc_process_add] 
	
	@service_id int , 
	@process_type smallint,  @process_date datetime,@process_notes varchar(2000)
AS
DECLARE @PROCESS_DESC VARCHAR(100),@NOTES VARCHAR(500),@CASE_ID INT,
@CALENDAR_REQUIRE BIT,
@CALENDAR_EVENT_TYPE SMALLINT,@CALENDAR_EVENT_NOTES VARCHAR(200),@CALENDAR_EVENT_DATE_PUSH INT , @CALENDAR_REMINDER_DATE_PUSH INT,
@CALENDAR_PRIVATE BIT,@SQLSTRING_ID NVARCHAR(max) ,@SQLSTRING_CASE NVARCHAR(max),@DATE1 VARCHAR(20),@DATE2 VARCHAR(20)
BEGIN
	
	SET NOCOUNT ON;
		SELECT @CASE_ID=CASE_ID FROM BX_SERVICES WHERE ID=@SERVICE_ID


    	INSERT INTO BX_PROCESS (SERVICE_ID,PROCESS_TYPE,PROCESS_DATE,PROCESS_NOTES)
		VALUES(@service_id, @process_type,@PROCESS_DATE,@PROCESS_NOTES)

		SELECT @CALENDAR_REQUIRE=CALENDAR_REQUIRE ,@CALENDAR_EVENT_TYPE=CALENDAR_EVENT_TYPE,@CALENDAR_EVENT_NOTES=CALENDAR_EVENT_NOTES,
@CALENDAR_EVENT_DATE_PUSH=CALENDAR_EVENT_DATE_PUSH,@CALENDAR_REMINDER_DATE_PUSH=CALENDAR_REMINDER_DATE_PUSH,
@CALENDAR_PRIVATE=CALENDAR_PRIVATE,@SQLSTRING_ID=SQLSTRING_ID,@SQLSTRING_CASE=SQLSTRING_CASE FROM BX_PROCESS_TYPE WHERE PROCESS_TYPE_ID=@process_type

		IF @CALENDAR_REQUIRE=1 
		BEGIN

		SET @DATE1 = CONVERT(VARCHAR(20),DATEADD(D,@CALENDAR_EVENT_DATE_PUSH,GETDATE()),1)
		SET @DATE2 = CONVERT(VARCHAR(20),DATEADD(D,@CALENDAR_REMINDER_DATE_PUSH,GETDATE()),1)
		SET @CALENDAR_EVENT_NOTES = @CALENDAR_EVENT_NOTES + '  // BILL ID : ' + CONVERT(VARCHAR(20),@SERVICE_ID)

		EXEC BX_SPROC_EVENT_ADD @CASE_ID=@CASE_ID,@EV_NOTES=@CALENDAR_EVENT_NOTES,@EV_DATETIME_START=@DATE1,
		@EV_DATETIME_END=@DATE1,@EV_TYPE=@CALENDAR_EVENT_TYPE,@EV_REMIND_BEFORE=@DATE2,
		@EV_PRIVATE=@CALENDAR_PRIVATE

		END 

		IF @SQLSTRING_ID IS NOT NULL
			BEGIN
			EXEC SP_EXECUTESQL @SQLSTRING_ID,N'@BILL_ID INT',@BILL_ID=@SERVICE_ID
			END
		





SELECT @PROCESS_DESC=PROCESS_NAME FROM BX_PROCESS_TYPE WHERE PROCESS_TYPE_ID=@PROCESS_TYPE

SET @NOTES = 'PROCESS EXECUTED ON '+ CONVERT(VARCHAR(12),@PROCESS_DATE) + ' : ' + @PROCESS_DESC
EXEC BX_SP_ADD_NOTES @CASE_ID = @CASE_ID,@DESC=@NOTES,@TYPE='ACTIVITY',@PRIORITY=0
END
GO
