USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATECOSTBALANCE]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATECOSTBALANCE](
@PID VARCHAR(50),
@AMT MONEY
)
AS
BEGIN
UPDATE tblprovider SET COST_BALANCE=@AMT where provider_id = @PID
END
GO
