USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_ARBITRATION_REPORT]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ARBITRATION_REPORT] --[GET_ARBITRATION_REPORT] '1'
(
	@type varchar(10)
)
AS
BEGIN
	IF(@type ='0')
	BEGIN
		select Convert(varchar(10),ACCIDENT_DATE,101) as ACCIDENT_DATE,
		CASE WHEN Convert(varchar(50),DENIAL_DATE,101)='01/01/1900' THEN '' ELSE Convert(varchar(50),DENIAL_DATE,101) END as  DENIAL_DATE,
		BALANCE_AMOUNT,
		LVC.CASE_ID,
		LVC.CASE_ID AS CASES,
		CLAIM_AMOUNT,
		DOS_END,
		DOS_START,
		INJUREDPARTY_NAME,
		INJUREDPARTY_ADDRESS,
		INJUREDPARTY_CITY,
		INJUREDPARTY_STATE,
		INJUREDPARTY_ZIP,
		INS_CLAIM_NUMBER,
		INSURANCECOMPANY_LOCAL_CITY,
		INSURANCECOMPANY_LOCAL_STATE,
		INSURANCECOMPANY_LOCAL_ZIP,
		INSURANCECOMPANY_NAME,
		INSUREDPARTY_ADDRESS,
		INSUREDPARTY_CITY,
		INSUREDPARTY_NAME,
		INSUREDPARTY_LASTNAME,
		INSUREDPARTY_FIRSTNAME,
		INSUREDPARTY_STATE,
		INSUREDPARTY_ZIP,
		PAID_AMOUNT,
		POLICY_NUMBER,
		PROVIDER_LOCAL_ADDRESS,
		PROVIDER_LOCAL_CITY,
		PROVIDER_LOCAL_STATE,
		PROVIDER_LOCAL_ZIP,
		PROVIDER_SUITNAME,
		TODAY_DATE,
		TODAYDATE,
		FIRSTCAP_INSCOMPANY_LOCAL_ADDRESS,
		FIRSTCAP_INSCOMPANY_LOCAL_CITY,
		InsuranceCompany_Initial_Address,
		Representetive,
		Representative_Contact_Number
		--(SELECT count(*)FROM tblImages WHERE DeleteFlag=0 and Case_Id=LVC.Case_Id) AS Images
		from LCJ_VW_CaseSearchDetails LVC
		WHERE status in('AAA OPEN','AAA PENDING- RESOLVED','GBB ARB','GBB AWAITING REQUEST RETURNS') and Case_Id in (select case_id from tblArbitrationCases)
		--and (SELECT count(*)FROM tblImages WHERE DeleteFlag=0 and Case_Id=LVC.Case_Id) >0
	END
	Else
	BEGIN
		select Convert(varchar(10),ACCIDENT_DATE,101) as ACCIDENT_DATE,
		CASE WHEN Convert(varchar(50),DENIAL_DATE,101)='01/01/1900' THEN '' ELSE Convert(varchar(50),DENIAL_DATE,101) END as  DENIAL_DATE,
		BALANCE_AMOUNT,
		LVC.CASE_ID,
		LVC.CASE_ID AS CASES,
		CLAIM_AMOUNT,
		DOS_END,
		DOS_START,
		INJUREDPARTY_NAME,
		INJUREDPARTY_ADDRESS,
		INJUREDPARTY_CITY,
		INJUREDPARTY_STATE,
		INJUREDPARTY_ZIP,
		INS_CLAIM_NUMBER,
		INSURANCECOMPANY_LOCAL_CITY,
		INSURANCECOMPANY_LOCAL_STATE,
		INSURANCECOMPANY_LOCAL_ZIP,
		INSURANCECOMPANY_NAME,
		INSUREDPARTY_ADDRESS,
		INSUREDPARTY_CITY,
		INSUREDPARTY_NAME,
		INSUREDPARTY_LASTNAME,
		INSUREDPARTY_FIRSTNAME,
		INSUREDPARTY_STATE,
		INSUREDPARTY_ZIP,
		PAID_AMOUNT,
		POLICY_NUMBER,
		PROVIDER_LOCAL_ADDRESS,
		PROVIDER_LOCAL_CITY,
		PROVIDER_LOCAL_STATE,
		PROVIDER_LOCAL_ZIP,
		PROVIDER_SUITNAME,
		TODAY_DATE,
		TODAYDATE,
		FIRSTCAP_INSCOMPANY_LOCAL_ADDRESS,
		FIRSTCAP_INSCOMPANY_LOCAL_CITY,
		InsuranceCompany_Initial_Address,
		Representetive,
		Representative_Contact_Number
		--(SELECT count(*)FROM tblImages WHERE DeleteFlag=0 and Case_Id=LVC.Case_Id) AS Images
		from LCJ_VW_CaseSearchDetails LVC
		WHERE status in('AAA OPEN','AAA PENDING- RESOLVED','GBB ARB','GBB AWAITING REQUEST RETURNS') and Case_Id Not in (select case_id from tblArbitrationCases)
		--and (SELECT count(*)FROM tblImages WHERE DeleteFlag=0 and Case_Id=LVC.Case_Id) >0
	END
END
GO
