USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_MONEYVALUE]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_MONEYVALUE]--'40522','01/01/2008','01/01/2011','0'
	@SZ_PROVIDER_ID NVARCHAR(100),
	@SZ_START_DATE NVARCHAR(50),
	@SZ_END_DATE NVARCHAR(50),
	@PROVIDER_GROUP VARCHAR(10)
AS
BEGIN
IF @PROVIDER_GROUP <> '0'
BEGIN
	SELECT 
		TBLCASE.STATUS,
		COUNT(DISTINCT TBLCASE.CASE_ID) AS [CNT],
		SUM(TBLTREATMENT.CLAIM_AMOUNT) AS [AMOUNT BILLED]
	FROM 
		TBLCASE INNER JOIN TBLTREATMENT 
		ON TBLCASE.CASE_ID = TBLTREATMENT.CASE_ID
	WHERE 
		PROVIDER_ID IN
		(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
			(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
		AND
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
		AND  
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
		AND
		TBLCASE.status not in ('CLOSED','Closed Arbitration','Closed as per RCF','Closed Judgement','Closed Withdrawn with Prejudice','Closed Withdrawn without prejudice','Settled','Withdrawn-with-prejudice','withdrawn-without-prejudice','Carrier In Rehab','Pending','Open-Old','Trial Lost') 
	GROUP BY 
		STATUS 
	ORDER BY STATUS
END
ELSE
BEGIN
	SELECT 
		TBLCASE.STATUS,
		COUNT(DISTINCT TBLCASE.CASE_ID) AS [CNT],
		SUM(TBLTREATMENT.CLAIM_AMOUNT) AS [AMOUNT BILLED]
	FROM 
		TBLCASE INNER JOIN TBLTREATMENT 
		ON TBLCASE.CASE_ID = TBLTREATMENT.CASE_ID
	WHERE 
		PROVIDER_ID=@SZ_PROVIDER_ID
		AND
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
		AND  
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
		AND
		TBLCASE.status not in ('CLOSED','Closed Arbitration','Closed as per RCF','Closed Judgement','Closed Withdrawn with Prejudice','Closed Withdrawn without prejudice','Settled','Withdrawn-with-prejudice','withdrawn-without-prejudice','Carrier In Rehab','Pending','Open-Old','Trial Lost') 
	GROUP BY 
		STATUS 
	ORDER BY STATUS
END
END
GO
