USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_DDL_Nodes]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[LCJ_DDL_Nodes]
AS 
BEGIN
		SELECT DISTINCT NodeName FROM  MST_DOCUMENT_NODES
		
END
GO
