USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_INSERT_DEFENDANT_DETAILS]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_INSERT_DEFENDANT_DETAILS]
	@SZ_ATTORNEY_NAME	VARCHAR(100),
	@SZ_ATTORNEY_ADDRESS	VARCHAR(100),
	@SZ_ATTORNEY_CITY	VARCHAR(100),
	@SZ_ATTORNEY_STATE	VARCHAR(50),
	@SZ_ATTORNEY_ZIP		VARCHAR(50),
	@SZ_ATTORNEY_FAX		VARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT TOP 1 1 FROM TBLDEFENDANT WHERE Defendant_Name = @SZ_ATTORNEY_NAME)
	BEGIN
		SELECT Defendant_id FROM TBLDEFENDANT WHERE Defendant_Name = @SZ_ATTORNEY_NAME
	END
	ELSE
	BEGIN
		INSERT INTO TBLDEFENDANT
		(
			Defendant_Name,
			Defendant_Address,
			Defendant_City,
			Defendant_State,
			Defendant_Zip,
			Defendant_Fax
		)
		VALUES
		(
			@SZ_ATTORNEY_NAME,
			@SZ_ATTORNEY_ADDRESS,
			@SZ_ATTORNEY_CITY,
			@SZ_ATTORNEY_STATE,	
			@SZ_ATTORNEY_ZIP,	
			@SZ_ATTORNEY_FAX
		)
		SELECT Defendant_id FROM TBLDEFENDANT WHERE Defendant_Name = @SZ_ATTORNEY_NAME
	END
END
GO
