USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[sp_view_edit_modified_date_update]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_view_edit_modified_date_update]
(      
	@i_a_image_id		INT,
	@i_a_modified_by	INT
)
AS
BEGIN
	DECLARE @i_l_duplicate INT = 0	
	SELECT @i_l_duplicate = COUNT(*) FROM tblImageTag WHERE ImageID = @i_a_image_id
	IF(@i_l_duplicate <> 0)
	BEGIN
			UPDATE
					tblImageTag
			SET
					DateModified	=	GETDATE()
			WHERE
					ImageID			=	@i_a_image_id
					
			SET @i_l_duplicate		=	0
			SELECT @i_l_duplicate	=	COUNT(*) FROM  tbl_ImageTag_Modifiedby	WHERE ImageId	=	@i_a_image_id
			IF(@i_l_duplicate = 0)
			BEGIN
					INSERT INTO tbl_ImageTag_Modifiedby
					VALUES(@i_a_image_id,@i_a_modified_by)
			END
			ELSE
			BEGIN
					UPDATE
							tbl_ImageTag_Modifiedby
					SET
							modified_by		=	@i_a_modified_by
					WHERE
							ImageId			=	@i_a_image_id
			END
	END	
END
GO
