USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[DEMANDSUPDATE]    Script Date: 6/17/2019 2:54:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEMANDSUPDATE](
@CID VARCHAR(50),
@DATEDEMANDSSENTOUT VARCHAR(50)
)
AS
BEGIN
UPDATE TBLCASE SET Date_Demands_Printed=@DATEDEMANDSSENTOUT WHERE CASE_ID=@CID

INSERT INTO TBLNOTES
SELECT 'DEMANDS PRINTED AND SENT OUT ON ' + CONVERT(VARCHAR,@DATEDEMANDSSENTOUT),'General',0,@cid,getdate(),'system'

END
GO
