USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_contact_add]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 9/25/08
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_contact_add] 
@CONTACT_FIRST_NAME VARCHAR(30),@CONTACT_LAST_NAME VARCHAR(30), @CONTACT_SUFFIX	varchar(5)=NULL,
@CONTACT_ADDRESS VARCHAR(50)=NULL , @CONTACT_CITY VARCHAR(50)=NULL , @CONTACT_STATE VARCHAR(2)=NULL ,
@CONTACT_ZIP VARCHAR(5) =NULL, @CONTACT_PHONE VARCHAR(10)=NULL,
@CONTACT_PHONE2 VARCHAR(10)=NULL,@CONTACT_MOBILE VARCHAR(10)=NULL,@CONTACT_FAX VARCHAR(10)=NULL,@CONTACT_EMAIL VARCHAR(50)=NULL,
@CONTACT_TITLE VARCHAR(10)=NULL,
@CONTACT_IMPORTANCE VARCHAR(10)=NULL,@INSURANCE_ID INT,@CONTACT_EXTENSION VARCHAR(10) =NULL

	
AS
DECLARE @TEMP_ID INT,@CONTACT_ID INT
SET @TEMP_ID = RAND()*100000000
BEGIN

	
	SET NOCOUNT ON;

if @CONTACT_SUFFIX ='' set @contact_suffix=null
if @CONTACT_ADDRESS ='' set @CONTACT_ADDRESS=null
if @CONTACT_CITY ='' set @CONTACT_CITY=null
if @CONTACT_STATE='' set @CONTACT_STATE=null
if @CONTACT_ZIP='' set @CONTACT_ZIP=null
if @CONTACT_PHONE ='' set @CONTACT_PHONE= null
if @CONTACT_PHONE2 ='' set @CONTACT_PHONE2=null
if @CONTACT_MOBILE='' set @CONTACT_MOBILE=null
if @CONTACT_FAX='' set @CONTACT_FAX=null
if @CONTACT_EMAIL='' set @CONTACT_EMAIL=null
if @CONTACT_TITLE='' set @CONTACT_TITLE=null
if @CONTACT_IMPORTANCE='' set @CONTACT_IMPORTANCE=null
IF @CONTACT_EXTENSION='' set @CONTACT_EXTENSION=null

    
	INSERT INTO BX_CONTACTS (CONTACT_FIRST_NAME,CONTACT_LAST_NAME,CONTACT_SUFFIX,CONTACT_ADDRESS,CONTACT_CITY,CONTACT_STATE,
	CONTACT_ZIP,CONTACT_PHONE,CONTACT_PHONE2,CONTACT_MOBILE,CONTACT_FAX,CONTACT_EMAIL,CONTACT_TITLE,
	CONTACT_IMPORTANCE,TEMP_ID,INSURANCE_ID,CONTACT_EXTENSION)
	VALUES (@CONTACT_FIRST_NAME,@CONTACT_LAST_NAME,@CONTACT_SUFFIX,@CONTACT_ADDRESS,@CONTACT_CITY,@CONTACT_STATE,
	@CONTACT_ZIP,@CONTACT_PHONE,@CONTACT_PHONE2,@CONTACT_MOBILE,@CONTACT_FAX,@CONTACT_EMAIL,@CONTACT_TITLE,
	@CONTACT_IMPORTANCE,@TEMP_ID,@INSURANCE_ID,@CONTACT_EXTENSION)

SELECT @CONTACT_ID = CONTACT_ID FROM BX_CONTACTS WHERE TEMP_ID = @TEMP_ID

UPDATE BX_CONTACTS
SET TEMP_ID = NULL
FROM BX_CONTACTS WHERE TEMP_ID =@TEMP_ID


SELECT @CONTACT_ID AS CONTACT_ID

END
GO
