USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_FREEZETRANSACTIONS]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LCJ_FREEZETRANSACTIONS](        
@Provider_Id varchar(50)        
)        
as        
BEGIN        
	DECLARE        
		@IID INT ,
		@BILL_FF INT,
		@RETURN_FF INT,
		@RETURN_RFB INT

		SET @IID = 0        
		SELECT @IID = MAX(ACCOUNT_ID) FROM TBLCLIENTACCOUNT WHERE PROVIDER_ID=@Provider_Id  AND DATEDIFF(D,ACCOUNT_DATE,GETDATE())=0        
			IF @IID > 0    
			BEGIN 
					--UPDATE tblcase set status='PAYMENT DISBURSED' where case_id in (SELECT distinct case_id from TBLTRANSACTIONS where PROVIDER_ID=@PROVIDER_ID AND TRANSACTIONS_STATUS IS NULL AND TRANSACTIONS_TYPE IN ('C','I')  )      
					UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('C','I') AND (Provider_Id IN (SELECT Provider_Id FROM tblProviderFinancial))
		
					UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('C','I','Prec','PreCToP') AND (Provider_Id NOT IN (SELECT Provider_Id FROM tblProviderFinancial))
		
					SELECT @BILL_FF = ISNULL(PROVIDER_FF,0) FROM TBLPROVIDER WHERE PROVIDER_ID=@PROVIDER_ID
		
					IF @BILL_FF=1
						UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('EXP','FFB')
					ELSE
						UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('EXP')
		
		
					SELECT @RETURN_FF = ISNULL(PROVIDER_RETURNFF,0) FROM TBLPROVIDER WHERE PROVIDER_ID=@PROVIDER_ID
					SELECT @RETURN_RFB = ISNULL(Provider_Rebuttal,0) FROM TBLPROVIDER WHERE PROVIDER_ID=@PROVIDER_ID
		
		
		
					IF @RETURN_FF = 1
						UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('FFC')
					
					IF @RETURN_RFB = 1
						UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID 
						WHERE  (PROVIDER_ID = @PROVIDER_ID  OR PROVIDER_ID in (SELECT provider_id from tblProvider where Provider_GroupName in  (select Provider_GroupName from tblProvider WHERE Provider_Id = @PROVIDER_ID)))
						AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('RFB')
		
			
						UPDATE TBLTRANSACTIONS SET TRANSACTIONS_STATUS='FREEZED',INVOICE_ID=@IID WHERE PROVIDER_ID=@PROVIDER_ID AND (TRANSACTIONS_STATUS IS NULL or TRANSACTIONS_STATUS = 'CONFIRMED') AND TRANSACTIONS_TYPE IN ('CRED','EXPF','EXPP','EXPC')     
		
		END 
END
GO
