USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_DELETE_PAYMENT]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 1/28/09
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_DELETE_PAYMENT] 
	
	@ID int , 
	@SERVICE_ID int 
AS
DECLARE @CASE_ID INT, @NOTES VARCHAR(50), @AMOUNT MONEY,@complete bit,@litigated bit
BEGIN
	
	SET NOCOUNT ON;
SELECT     @CASE_ID =BX_SERVICES.CASE_ID, @AMOUNT=BX_PAYMENTS.AMOUNT ,@complete=BX_SERVICES.COMPLETE,@LITIGATED=BX_SERVICES.LITIGATED
FROM         BX_SERVICES INNER JOIN
                      BX_PAYMENTS ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID
WHERE     (BX_SERVICES.ID = @SERVICE_ID) AND (BX_PAYMENTS.FREEZED=0)



DELETE FROM BX_PAYMENTS WHERE ID=@ID AND SERVICE_ID=@SERVICE_ID AND FREEZED=0 AND INVOICE_ID IS NULL


SET @NOTES='PAYMENT DELETED :$'+ CONVERT(VARCHAR(20),@AMOUNT)
EXEC BX_SP_ADD_NOTES @CASE_ID=@CASE_ID,@DESC=@NOTES,@TYPE= 'PAYMENT',@PRIORITY=0
   

END
GO
