USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SPROC_IMAGE_TRANSFER_ALL]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BX_SPROC_IMAGE_TRANSFER_ALL] 
	
	@documentid int, @case_id INT, @new_caseid	 INT
AS
declare @imagepath nvarchar(255),@filename nvarchar(100),@scandate smalldatetime,@userid VARCHAR(50),
@recorddescriptor varchar(220), @deleteflag int , @page_count int , @notes nvarchar(100),@IMAGEID INT

BEGIN

SET NOCOUNT ON;
CREATE TABLE #TEMPTABLE (IMAGEPATH nvarchar(255),FILENAME nvarchar(100),IMAGEID INT,DOCUMENTID INT,
CASE_ID INT,SCANDATE SMALLDATETIME,USERID VARCHAR(50),RECORDDESCRIPTOR VARCHAR(220),
PAGE_COUNT INT ,NOTES NVARCHAR(300))

INSERT INTO #TEMPTABLE
SELECT IMAGEPATH,FILENAME,IMAGEID,DOCUMENTID,CASE_ID,SCANDATE,USERID,RECORDDESCRIPTOR,PAGE_COUNT,NOTES,ACCT_IMAGE,ACCT_ID,BILL_ID FROM BX_IMAGES
WHERE CASE_ID = @CASE_ID AND DOCUMENTID=@DOCUMENTID

UPDATE #TEMPTABLE 
SET NOTES = ISNULL(NOTES,'') + 'OLD IMG/CASE ID:'+ CONVERT(VARCHAR(10),IMAGEID)+'/'+CONVERT(VARCHAR(10),@CASE_ID) + '|||',CASE_ID=@NEW_CASEID
FROM #TEMPTABLE

SET @NOTES = ISNULL(@NOTES,'') +'XFERED TO '+ CONVERT(VARCHAR(20),@NEW_CASEID)+'|||'

  UPDATE BX_IMAGES
SET DELETEFLAG =1 , NOTES = @NOTES
FROM BX_IMAGES WHERE  CASE_ID = @CASE_ID AND DOCUMENTID=@DOCUMENTID

	
	
INSERT INTO BX_IMAGES (IMAGEPATH,FILENAME,DOCUMENTID,CASE_ID,SCANDATE,USERID,RECORDDESCRIPTOR,PAGE_COUNT,NOTES,COPIED,ACCT_IMAGE,ACCT_ID,BILL_ID)
SELECT IMAGEPATH,FILENAME,DOCUMENTID,CASE_ID,SCANDATE,USERID,RECORDDESCRIPTOR,PAGE_COUNT,NOTES,'1',ACCT_IMAGE,ACCT_ID,BILL_ID FROM #TEMPTABLE

DROP TABLE #TEMPTABLE

END
GO
