USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_FINANC_INVOICES]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SROSENTHAL
-- ALTER date: 2/10/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_FINANC_INVOICES] 
@provider_id INT
	
	
AS
BEGIN
	
	SET NOCOUNT ON;

SELECT     tblProvider.Provider_Name, BX_INVOICES.ID, BX_INVOICES.DATE, ISNULL(BX_INVOICES.AMOUNT,0) AS AMOUNT,ISNULL(BX_INVOICES.PAYMENTS,0) AS PAYMENTS, BX_INVOICES.TR_COUNT, ISNULL(BX_INVOICES.BILL_COUNT,0) AS BILL_COUNT, 
                      MONTH(BX_INVOICES.DATE) AS MONTH, YEAR(BX_INVOICES.DATE) AS YEAR, BX_INVOICES.FEES, SUM(BX_TRANSACTIONS.TR_AMOUNT) 
                      AS AMOUNT_PAID, BX_TRANSACTIONS.INVOICE_ID, BX_INVOICES.FEES - ISNULL(SUM(BX_TRANSACTIONS.TR_AMOUNT), 0) AS BALANCE, 
                      BX_TRANSACTIONS.TR_TYPE
FROM         BX_INVOICES INNER JOIN
                      tblProvider ON BX_INVOICES.PROVIDER_ID = tblProvider.Provider_Id LEFT OUTER JOIN
                      BX_TRANSACTIONS ON BX_INVOICES.ID = BX_TRANSACTIONS.INVOICE_ID
WHERE     (tblProvider.Provider_Id = @PROVIDER_ID)
GROUP BY tblProvider.Provider_Name, BX_INVOICES.ID, BX_INVOICES.DATE, BX_INVOICES.AMOUNT,BX_INVOICES.PAYMENTS, BX_INVOICES.TR_COUNT, BX_INVOICES.BILL_COUNT, 
                      MONTH(BX_INVOICES.DATE), YEAR(BX_INVOICES.DATE), BX_INVOICES.FEES, BX_TRANSACTIONS.INVOICE_ID, BX_TRANSACTIONS.TR_TYPE

ORDER BY BX_INVOICES.ID DESC
END
GO
