USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_WorkDesk_RemoveCases]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[LCJ_WorkDesk_RemoveCases]
(
@Desk_Id NVARCHAR(200),
@Case_Id NVARCHAR(3000),
@User_Id NVARCHAR(50)

)
AS
BEGIN
	DECLARE
	@ST NVARCHAR(3500)
	IF @Case_Id <> '' AND @Desk_Id <> ''
		BEGIN

		SET @ST = 'Delete from tblCaseDesk where Desk_Id = '+@Desk_Id + ' And Case_Id in (''' +Replace(@Case_Id,',',''',''') + ''')'
		PRINT @ST
		EXEC SP_EXECUTESQL @ST
		INSERT INTO tblNotes -- (NDesc,Notes_Type,Notes_Priority,Case_Id, Notes_Date, User_Id) 
		VALUES ('Case deleted from default desk!','Activity',1,@Case_Id, getdate(),@User_Id)
	END
END
GO
