USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_BILLING_DATA]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_BILLING_DATA]
	@SZ_COMPANY_ID VARCHAR(200)=null,
	@SZ_OFFICE_ID VARCHAR(200)=null,
	@SZ_INSURANCE_ID VARCHAR(100)=null,
	@SZ_CASE_ID	VARCHAR(100),
	@SZ_CASE_NO	VARCHAR(100),
	@SZ_PATIENT_NAME	VARCHAR(500),
	@SZ_PATIENT_ADDRESS	VARCHAR(1000),
	@SZ_PATIENT_CITY	VARCHAR(100),
	@SZ_PATIENT_STATE VARCHAR(100),
	@SZ_PATIENT_ZIP	VARCHAR(100),
	@SZ_PATIENT_PHONE	VARCHAR(50),
	@DT_DATE_OF_ACCIDENT	VARCHAR(100),
	@DT_DOB	VARCHAR(100),
	@SZ_POLICY_HOLDER VARCHAR(500),
	@SZ_POLICY_NUMBER VARCHAR(100),
	@SZ_CLAIM_NUMBER VARCHAR(100),
	@SZ_INSURANCE_NAME VARCHAR(500),
	@SZ_INSURANCE_ADDRESS VARCHAR(1000),
	@SZ_INSURANCE_CITY VARCHAR(100),
	@SZ_STATE VARCHAR(100),
	@SZ_INSURANCE_ZIP VARCHAR(100),
	@SZ_INSURANCE_EMAIL VARCHAR(100),
	@SZ_STATUS_NAME VARCHAR(100),
	@SZ_ATTORNEY_NAME VARCHAR(500),
	@SZ_ATTORNEY_ADDRESS VARCHAR(1000),
	@SZ_ATTORNEY_CITY VARCHAR(100),
	@SZ_ATTORNEY_STATE VARCHAR(100),
	@SZ_ATTORNEY_ZIP VARCHAR(100),
	@SZ_ATTORNEY_FAX VARCHAR(100),
	@SZ_PROVIDER VARCHAR(1000),
	@SZ_BILL_NUMBER VARCHAR(100),
	@DT_START_VISIT_DATE VARCHAR(100),
	@DT_END_VISIT_DATE VARCHAR(100),
	@FLT_BILL_AMOUNT VARCHAR(100),
	@FLT_PAID VARCHAR(100),
	@FLT_BALANCE VARCHAR(100)
AS
BEGIN
	INSERT INTO TBLBILLING_DATA
	(
		SZ_CASE_ID,	
		SZ_CASE_NO,
		SZ_PATIENT_NAME,
		SZ_PATIENT_ADDRESS,
		SZ_PATIENT_CITY,
		SZ_PATIENT_STATE,
		SZ_PATIENT_ZIP,
		SZ_PATIENT_PHONE,
		DT_DATE_OF_ACCIDENT,
		DT_DOB,
		SZ_POLICY_HOLDER,
		SZ_POLICY_NUMBER,
		SZ_CLAIM_NUMBER,
		SZ_INSURANCE_NAME,
		SZ_INSURANCE_ADDRESS,
		SZ_INSURANCE_CITY,
		SZ_STATE,
		SZ_INSURANCE_ZIP,
		SZ_INSURANCE_EMAIL,
		SZ_STATUS_NAME,
		SZ_ATTORNEY_NAME,
		SZ_ATTORNEY_ADDRESS,
		SZ_ATTORNEY_CITY,
		SZ_ATTORNEY_STATE ,
		SZ_ATTORNEY_ZIP,
		SZ_ATTORNEY_FAX,
		SZ_PROVIDER,
		SZ_BILL_NUMBER,
		DT_START_VISIT_DATE,
		DT_END_VISIT_DATE,
		FLT_BILL_AMOUNT,
		FLT_PAID,
		FLT_BALANCE
	)
	VALUES
	(
		@SZ_CASE_ID,	
		@SZ_CASE_NO,
		@SZ_PATIENT_NAME,
		@SZ_PATIENT_ADDRESS,
		@SZ_PATIENT_CITY,
		@SZ_PATIENT_STATE,
		@SZ_PATIENT_ZIP,
		@SZ_PATIENT_PHONE,
		@DT_DATE_OF_ACCIDENT,
		@DT_DOB,
		@SZ_POLICY_HOLDER,
		@SZ_POLICY_NUMBER,
		@SZ_CLAIM_NUMBER,
		@SZ_INSURANCE_NAME,
		@SZ_INSURANCE_ADDRESS,
		@SZ_INSURANCE_CITY,
		@SZ_STATE,
		@SZ_INSURANCE_ZIP,
		@SZ_INSURANCE_EMAIL,
		@SZ_STATUS_NAME,
		@SZ_ATTORNEY_NAME,
		@SZ_ATTORNEY_ADDRESS,
		@SZ_ATTORNEY_CITY,
		@SZ_ATTORNEY_STATE ,
		@SZ_ATTORNEY_ZIP,
		@SZ_ATTORNEY_FAX,
		@SZ_PROVIDER,
		@SZ_BILL_NUMBER,
		@DT_START_VISIT_DATE,
		@DT_END_VISIT_DATE,
		@FLT_BILL_AMOUNT,
		@FLT_PAID,
		@FLT_BALANCE
	)


END
GO
