USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GETINSURANCEGROUPS]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETINSURANCEGROUPS]
AS
BEGIN
	SELECT * FROM dbo.tblInsuranceGroups
END
GO
