USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DOCTYPE_EXHIBITS]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_DOCTYPE_EXHIBITS] --'FH09-55947','C:'

@SZ_CASE_ID NVARCHAR(100),
@SZ_BASE_PATH NVARCHAR(100),
@SZ_DOCUMENT_TYPE NVARCHAR(300)=NULL

AS
BEGIN

DECLARE @COunt int
DECLARE @STRQUERY VARCHAR(8000)

IF @SZ_DOCUMENT_TYPE IS NOT NULL
BEGIN

SET @STRQUERY = 'SELECT DISTINCT 
	I_SEQUENCE, 
	CASE_ID,
	DOCUMENTID [EXHIBIT_ID],
	replace(isnull('''+@SZ_BASE_PATH +'''+ ''\'' + IMAGEPATH + ''\'' + [FILENAME],N''''),''/'',''\'') [InputFilePath]
	FROM TBLIMAGES INNER JOIN
	TXN_EXHIBIT_SEQUENCE ON I_DOCUMENT_TYPE=DOCUMENTID
	WHERE CASE_ID IN (''' + @SZ_CASE_ID + ''') AND DOCUMENTID IN (' + @SZ_DOCUMENT_TYPE +')
	ORDER BY I_SEQUENCE'
PRINT(@STRQUERY)
EXEC(@STRQUERY)
END
ELSE
BEGIN
SET @STRQUERY = 'SELECT DISTINCT 
	I_SEQUENCE, 
	CASE_ID,
	DOCUMENTID [EXHIBIT_ID],
	DOCUMENT_TYPE,
	replace(isnull('''+@SZ_BASE_PATH +'''+ ''\'' + IMAGEPATH + ''\'' + [FILENAME],N''''),''/'',''\'') [InputFilePath]
	FROM TBLIMAGES INNER JOIN
	TXN_EXHIBIT_SEQUENCE ON I_DOCUMENT_TYPE=DOCUMENTID INNER JOIN TBLDOCUMENTTYPE ON DOCUMENT_ID=DOCUMENTID
	WHERE CASE_ID IN (''' + @SZ_CASE_ID + ''')
	ORDER BY I_SEQUENCE'
PRINT(@STRQUERY)
EXEC(@STRQUERY)
END


END
GO
