USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_READY_FOR_LIT_CASES]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_READY_FOR_LIT_CASES] 
 	
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE BX_SERVICES
SET LIT_PRCSS =1
FROM         BX_SERVICES INNER JOIN
                      BX_SERVICE_STATUS ON BX_SERVICES.STATUS = BX_SERVICE_STATUS.ID INNER JOIN
                      BX_PHYSICIANS ON BX_SERVICES.RENDERED_BY = BX_PHYSICIANS.ID INNER JOIN
                      tblServiceType ON BX_SERVICES.TYPE = tblServiceType.ServiceType_ID INNER JOIN
                      BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblDenialReasons ON BX_SERVICES.DENIAL_REASON = tblDenialReasons.DenialReasons_Id LEFT OUTER JOIN
                      BX_PAYMENTS ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID

WHERE (BX_SERVICES.LIT_PRCSS =0) AND (BX_SERVICES.CASE_ID=1000) AND (BX_SERVICES.COMPLETE=0) AND (BX_SERVICES.LITIGATED =0 ) AND (BX_CASE.DELETED=0) AND (((BX_SERVICE_STATUS.DENIAL=0)AND DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE())> 35) 
OR ((BX_SERVICE_STATUS.DENIAL=1) AND DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE())> 35) OR BX_SERVICE_STATUS.TOTAL_DENIAL=1 OR BX_SERVICES.PREP_FOR_LIT=1)




    SELECT     BX_SERVICES.ID,BX_SERVICES.CASE_ID, BX_CASE.CASE_ID_LONG, BX_CASE.PROVIDER, BX_CASE.PATIENT_FIRSTNAME, BX_CASE.PATIENT_LASTNAME, 
                      BX_CASE.INSURED_FIRSTNAME, BX_CASE.INSURED_LASTNAME, BX_CASE.INSURANCE, BX_CASE.POLICY_NUMBER, BX_CASE.CLAIM_NUMBER, 
                      BX_CASE.ACCIDENT_DATE
FROM         BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS INNER JOIN
                      BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID
WHERE (BX_SERVICES.LIT_PRCSS =1) AND (BX_SERVICES.COMPLETE=0) AND (BX_SERVICES.LITIGATED =0 )

GROUP BY BX_SERVICES.ID,BX_SERVICES.CASE_ID, BX_CASE.CASE_ID_LONG, BX_CASE.PROVIDER, BX_CASE.PATIENT_FIRSTNAME, BX_CASE.PATIENT_LASTNAME, 
                      BX_CASE.INSURED_FIRSTNAME, BX_CASE.INSURED_LASTNAME, BX_CASE.INSURANCE, BX_CASE.POLICY_NUMBER, BX_CASE.CLAIM_NUMBER, 
                      BX_CASE.ACCIDENT_DATE

ORDER BY BX_SERVICES.CASE_ID




END
GO
