USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_ADMIN_GETSTATUS]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[LCJ_ADMIN_GETSTATUS]


AS

Select STATUS_ABR, LTRIM(RTRIM(UPPER(STATUS_TYPE))) AS STATUS_TYPE  from tblStatus where 1=1
GO
