USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_ADD_SERVICE]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 1/23/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_ADD_SERVICE] 
	
	@CASE_ID int ,
	@DOS_START VARCHAR(20) ,@DOS_END VARCHAR(20) ,@SERVICE_TYPE SMALLINT ,@AMOUNT MONEY,@DATE_SENT VARCHAR(20),
 @STATUS VARCHAR(50),@RENDERED_BY SMALLINT ,@MEMO VARCHAR(1000) = NULL, @REFERENCE VARCHAR(20) =NULL,@DATE_DENIED VARCHAR(20)=NULL,
@DENIAL_REASON varchar =NULL ,@BATCH_ID VARCHAR(20) = NULL
AS
BEGIN

DECLARE @NOTES VARCHAR(100)
	
	SET NOCOUNT ON;
IF @DATE_SENT='' SET @DATE_SENT = NULL
IF @DATE_DENIED ='' SET @DATE_DENIED =NULL
IF @DENIAL_REASON ='' SET @DENIAL_REASON=NULL



INSERT INTO BX_SERVICES (CASE_ID,DOS_START,dOS_END,AMOUNT,DATE_SENT,STATUS,RENDERED_BY,TYPE,MEMO,REFERENCE,DENIAL_DATE,DENIAL_REASON,BATCH_ID)
  	VALUES( @CASE_ID, @DOS_START ,@DOS_END,@AMOUNT,@DATE_SENT,@STATUS,@RENDERED_BY,@SERVICE_TYPE,@MEMO,@REFERENCE,@DATE_DENIED,@DENIAL_REASON,@BATCH_ID)


SET @NOTES = 'NEW BILL ADDED FOR DOS '+@DOS_START+' - ' +@DOS_END + ' . AMOUNT :$'+CONVERT(VARCHAR(20),@AMOUNT)
EXEC BX_SP_ADD_NOTES @CASE_ID=@CASE_ID,@DESC=@NOTES,@TYPE='Activity',@priority=0

END
GO
