USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_FINANC_OPENS_DETAILS]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_FINANC_OPENS_DETAILS]
	@PROVIDER_ID INT
AS
BEGIN
	
	SET NOCOUNT ON;

  SELECT     BX_SERVICES.ID AS SERVICE_ID,tblProvider.Provider_Id, tblProvider.Provider_Name, SUM(BX_SERVICES.AMOUNT) AS AMOUNT, ISNULL(SUM(BX_PAYMENTS.AMOUNT),0) AS PAYMENTS, 
                      COUNT(DISTINCT BX_PAYMENTS.ID) AS PAYMENT_COUNT, COUNT(DISTINCT BX_SERVICES.ID) AS BILL_COUNT,
			CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101) 
                      + '  -  ' + CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) AS DOS, 
                      BX_CASE.PATIENT_FIRSTNAME + ' ' + BX_CASE.PATIENT_LASTNAME AS PATIENT, BX_CASE.CASE_ID_LONG
FROM         tblProvider INNER JOIN
                      BX_CASE INNER JOIN
                      BX_SERVICES ON BX_CASE.CASE_ID = BX_SERVICES.CASE_ID ON tblProvider.Provider_Id = BX_CASE.PROVIDER LEFT OUTER JOIN
                      BX_PAYMENTS INNER JOIN
                      BX_PAYMENT_TYPE ON BX_PAYMENTS.TYPE = BX_PAYMENT_TYPE.ID ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID

WHERE     (BX_PAYMENT_TYPE.IS_FOR_INS = 1 OR BX_PAYMENT_TYPE.IS_FOR_INS IS NULL) AND (BX_PAYMENT_TYPE.PROVIDER_FEE = 0 OR BX_PAYMENT_TYPE.PROVIDER_FEE IS NULL) AND (tblProvider.BX_SERV = 1) AND 
                      (BX_PAYMENTS.FREEZED = 0 OR BX_PAYMENTS.FREEZED IS NULL ) AND (BX_SERVICES.FREEZED=0) AND (tblProvider.Provider_Id=@PROVIDER_ID)


GROUP BY BX_SERVICES.ID ,tblProvider.Provider_Id, tblProvider.Provider_Name,BX_PAYMENTS.SERVICE_ID, BX_SERVICES.CASE_ID, BX_CASE.CASE_ID_LONG, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101) 
                      + '  -  ' + CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101), BX_CASE.PATIENT_FIRSTNAME + ' ' + BX_CASE.PATIENT_LASTNAME
END
GO
