USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TXN_SET_ORDER]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[INSERT_TXN_SET_ORDER]
	@IMAGEID VARCHAR(500)
AS
BEGIN

	DECLARE @BASEFOLDER AS VARCHAR(5000)
	DECLARE @SZ_FILENAME AS VARCHAR(1000)
	DECLARE @SZ_FILEPATH AS VARCHAR(MAX)
	DECLARE @SEQ_ORDER AS INT

	SELECT @BASEFOLDER=PARAMETERVALUE FROM tblApplicationSettings WHERE PARAMETERNAME='DocumentUploadLocationPhysical'
	SELECT @SZ_FILENAME = FILENAME FROM TBLDOCIMAGES WHERE IMAGEID = @IMAGEID
	SELECT @SZ_FILEPATH = @BASEFOLDER+FILEPATH + FILENAME FROM TBLDOCIMAGES WHERE IMAGEID=@IMAGEID

	SET @SEQ_ORDER = (SELECT ISNULL(MAX(SEQ_ORDER + 1),1) FROM TXN_SET_ORDER)
	
	INSERT INTO TXN_SET_ORDER
	(
		SZ_IMAGEID,
		SZ_FILENAME,
		SZ_FILEPATH,
		SEQ_ORDER
	)
	VALUES
	(
		@IMAGEID,
		@SZ_FILENAME,
		@SZ_FILEPATH,
		@SEQ_ORDER
	)
END
GO
