USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_FINANC_INVOICE_GEN]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_FINANC_INVOICE_GEN] 
	
	@PROVIDER_ID INT 
AS
DECLARE @TEMP_ID INT ,@INVOICE_ID INT ,@AMOUNT MONEY,@TRCOUNT INT,@BILLCOUNT INT,@FEE1 DECIMAL(4,2),@FEE2 DECIMAL(4,2),@PSTG MONEY,@SCHEDULE INT,
@FEES MONEY,@PAYMENTS MONEY
BEGIN
	
	SET NOCOUNT ON;
SET @TEMP_ID = ROUND(RAND()*10000,0)

	WHILE EXISTS (SELECT TEMP_ID FROM BX_INVOICES WHERE TEMP_ID=@TEMP_ID)
			BEGIN
			SET @TEMP_ID = ROUND(RAND()*10000,0)
			END

INSERT INTO BX_INVOICES (TEMP_ID,DATE) VALUES (@TEMP_ID,GETDATE())
SELECT @INVOICE_ID = ID FROM BX_INVOICES WHERE TEMP_ID =@TEMP_ID


/*SELECT     @AMOUNT=SUM(BX_SERVICES.AMOUNT) , @FEES=SUM(ISNULL(BX_PAYMENTS_VIEW.FEE, 0)) , 
                      @BILLCOUNT=COUNT(BX_SERVICES.ID) , @PAYMENTS=ISNULL(SUM(BX_PAYMENTS_VIEW.AMOUNT), 0) , @PROVIDER_ID=tblProvider.Provider_Id, 
                      @TRCOUNT=ISNULL(SUM(BX_PAYMENTS_VIEW.PAYMENT_COUNT), 0) , @SCHEDULE=tblProvider.BX_FEE_SCHEDULE
FROM         BX_CASE INNER JOIN
                      BX_SERVICES ON BX_CASE.CASE_ID = BX_SERVICES.CASE_ID INNER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id LEFT OUTER JOIN
                      BX_PAYMENTS_VIEW ON BX_SERVICES.ID = BX_PAYMENTS_VIEW.SERVICE_ID
WHERE     ((BX_SERVICES.INVOICE_ID IS NULL AND BX_PAYMENTS_VIEW.INVOICE_ID IS NULL) OR (BX_SERVICES.INVOICE_ID IS NOT NULL AND BX_PAYMENTS_VIEW.INVOICE_ID IS NULL AND BX_PAYMENTS_VIEW.AMOUNT IS NOT NULL)) AND (BX_PAYMENTS_VIEW.FREEZED = 1 OR
                      BX_PAYMENTS_VIEW.FREEZED IS NULL) AND (BX_PAYMENTS_VIEW.INVOICE_ID IS NULL) AND (BX_PAYMENTS_VIEW.IS_FOR_INS = 1 OR
                      BX_PAYMENTS_VIEW.IS_FOR_INS IS NULL) AND (BX_PAYMENTS_VIEW.PROVIDER_FEE = 0 OR
                      BX_PAYMENTS_VIEW.PROVIDER_FEE IS NULL) AND (BX_SERVICES.FREEZED = 1 OR
                      BX_SERVICES.FREEZED IS NULL OR (BX_SERVICES.FREEZED = 1 AND (BX_PAYMENTS_VIEW.FREEZED IS NULL OR BX_PAYMENTS_VIEW.FREEZED =1)))
GROUP BY tblProvider.Provider_Name, tblProvider.Provider_Id, tblProvider.BX_FEE_SCHEDULE */



SELECT     @AMOUNT=SUM(BX_SERVICES.AMOUNT) , 
                      @BILLCOUNT=COUNT(BX_SERVICES.ID) ,  @PROVIDER_ID=tblProvider.Provider_Id 
FROM         BX_CASE INNER JOIN
                      BX_SERVICES ON BX_CASE.CASE_ID = BX_SERVICES.CASE_ID INNER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id 
WHERE     (BX_SERVICES.INVOICE_ID IS NULL ) AND (BX_SERVICES.FREEZED = 1) AND (BX_CASE.DELETED=0)AND (BX_CASE.PROVIDER=@PROVIDER_ID)
GROUP BY tblProvider.Provider_Name, tblProvider.Provider_Id



SELECT      @FEES=SUM(ISNULL(BX_PAYMENTS_VIEW.FEE, 0)) , @PAYMENTS=ISNULL(SUM(BX_PAYMENTS_VIEW.AMOUNT), 0) , 
                      @TRCOUNT=ISNULL(SUM(BX_PAYMENTS_VIEW.PAYMENT_COUNT), 0) , @SCHEDULE=tblProvider.BX_FEE_SCHEDULE
FROM         BX_CASE INNER JOIN
                      BX_SERVICES ON BX_CASE.CASE_ID = BX_SERVICES.CASE_ID INNER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id LEFT OUTER JOIN
                      BX_PAYMENTS_VIEW ON BX_SERVICES.ID = BX_PAYMENTS_VIEW.SERVICE_ID
WHERE     (BX_PAYMENTS_VIEW.INVOICE_ID IS NULL)  AND (BX_PAYMENTS_VIEW.FREEZED = 1) AND (BX_PAYMENTS_VIEW.IS_FOR_INS = 1)
			 AND (BX_PAYMENTS_VIEW.PROVIDER_FEE = 0) AND (BX_PAYMENTS_VIEW.APPLY_TO_INVOICE = 1)AND (BX_CASE.PROVIDER=@PROVIDER_ID)
GROUP BY tblProvider.Provider_Name, tblProvider.Provider_Id, tblProvider.BX_FEE_SCHEDULE



UPDATE BX_PAYMENTS
SET INVOICE_ID = @INVOICE_ID
FROM         BX_PAYMENTS INNER JOIN
                      BX_PAYMENT_TYPE ON BX_PAYMENTS.TYPE = BX_PAYMENT_TYPE.ID INNER JOIN
                      BX_SERVICES ON BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID INNER JOIN
                      BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID
WHERE     (BX_PAYMENTS.FREEZED = 1) AND (BX_PAYMENT_TYPE.IS_FOR_INS = 1) AND (BX_CASE.DELETED = 0) AND 
                      (BX_PAYMENTS.INVOICE_ID IS NULL) AND (BX_CASE.PROVIDER=@PROVIDER_ID)



UPDATE BX_SERVICES
SET INVOICE_ID = @INVOICE_ID
FROM             BX_CASE INNER JOIN
                      BX_SERVICES ON BX_CASE.CASE_ID = BX_SERVICES.CASE_ID  INNER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id
WHERE     (tblProvider.BX_SERV = 1) AND 
                      (BX_SERVICES.FREEZED = 1) AND (BX_CASE.DELETED = 0)AND (tblProvider.Provider_Id=@PROVIDER_ID)
					AND (BX_SERVICES.INVOICE_ID IS NULL)




UPDATE BX_INVOICES
SET PROVIDER_ID=@PROVIDER_ID,AMOUNT=@AMOUNT,TR_COUNT=@TRCOUNT,BILL_COUNT=@BILLCOUNT,TEMP_ID=NULL,PAYMENTS=@PAYMENTS,
SCHEDULE_ID=@SCHEDULE,FEES=@FEES

FROM BX_INVOICES WHERE ID = @INVOICE_ID

SELECT @INVOICE_ID AS INVOICE_ID

END
GO
