USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_CASE_SEARCH_ALT]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 1/28/09
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_CASE_SEARCH_ALT] 
@CASE_ID VARCHAR(50) =NULL,@FILENUMBER VARCHAR(50)=NULL,@PATIENT VARCHAR(50)=NULL,@INSURED VARCHAR(50)=NULL,@PROVIDER VARCHAR(200)=NULL,
@FACILITY VARCHAR(50)=NULL ,@INSURANCE VARCHAR(200)=NULL,@POLICY VARCHAR(50)=NULL,@CLAIM VARCHAR(50)=NULL,@DOA VARCHAR(50)=NULL,
@RESULT VARCHAR(10)	,@TYPE VARCHAR(50)=NULL
	
AS
BEGIN
DECLARE @RESULT1 INT,@QUERY_STRING NVARCHAR(MAX),@FILTER_STRING NVARCHAR(MAX),@GROUP_BY_STRING NVARCHAR(MAX)
	
	SET NOCOUNT ON;
SET @PROVIDER= REPLACE(REPLACE(@PROVIDER,'[','{'),']','}')
SET @FILTER_STRING=''
IF @CASE_ID IS NOT NULL AND @CASE_ID <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (BX_CASE.CASE_ID = ' + @CASE_ID + ') AND '
IF @FILENUMBER IS NOT NULL AND @FILENUMBER <> 'NULL' SET @FILTER_STRING = @FILTER_STRING+' (BX_CASE.PROVIDER_FILENUMBER LIKE ''%' + @FILENUMBER + '%'') AND '
IF @PATIENT IS NOT NULL AND @PATIENT <> 'NULL' SET @FILTER_STRING=@FILTER_STRING +' ((BX_CASE.PATIENT_LASTNAME + '', '' + BX_CASE.PATIENT_FIRSTNAME) LIKE ''%' + @PATIENT  + '%'') AND '
IF @INSURED IS NOT NULL AND @INSURED <> 'NULL' SET @FILTER_STRING=@FILTER_STRING + ' ((BX_CASE.INSURED_LASTNAME + '', '' + BX_CASE.INSURED_FIRSTNAME) LIKE ''%' + @INSURED + '%'') AND '
IF @PROVIDER IS NOT NULL AND @PROVIDER <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (tblProvider.Provider_Name + ISNULL('' { '' + tblProvider.Provider_GroupName + '' } '', '''')  = ''' + @PROVIDER + ''') AND '
IF @FACILITY IS NOT NULL AND @FACILITY <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (BX_FACILITY.SHORT_NAME = ''' + @FACILITY + ''') AND '
IF @INSURANCE IS NOT NULL AND  @INSURANCE <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (tblInsuranceCompany.InsuranceCompany_Name = ''' + @INSURANCE + ''') AND '
IF @POLICY IS NOT NULL AND  @POLICY <> 'NULL' SET @FILTER_STRING = @FILTER_STRING +  ' (BX_CASE.POLICY_NUMBER LIKE ''%' + @POLICY + '%'') AND '
IF @CLAIM IS NOT NULL AND @CLAIM <> 'NULL'SET @FILTER_STRING = @FILTER_STRING + ' (BX_CASE.CLAIM_NUMBER LIKE ''%' + @CLAIM + '%'') AND '
IF @DOA IS NOT NULL AND @DOA <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (CONVERT(VARCHAR(10),BX_CASE.ACCIDENT_DATE,101) = ''' + @DOA + ''') AND '
IF @TYPE IS NOT NULL AND @TYPE <> 'NULL' SET @FILTER_STRING = @FILTER_STRING + ' (BX_CASE_TYPE.DESCRIPTION = ''' + @TYPE + ''') AND '



IF LEN(@FILTER_STRING)>0
BEGIN
SET @FILTER_STRING = (LEFT(@FILTER_STRING,LEN(@FILTER_STRING)-4))
SET @FILTER_STRING = 'WHERE   ' + @FILTER_STRING
END 

IF @RESULT='ALL'
	BEGIN

SET @QUERY_STRING = ' SELECT     BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name + ISNULL('' [ '' + tblProvider.Provider_GroupName + '' ]'', '''') 
                      AS Provider_name, BX_CASE.PROVIDER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, 
                      BX_CASE.PATIENT_LASTNAME + '', '' + BX_CASE.PATIENT_FIRSTNAME AS PATIENT, BX_CASE.ACCIDENT_DATE, BX_CASE.PROVIDER_FILENUMBER, 
                      tblInsuranceCompany.InsuranceCompany_Name, COUNT(BX_SERVICES_VIEW.SERVICE_ID) AS BILLS, SUM(BX_SERVICES_VIEW.AMOUNT) 
                      AS AMOUNT, SUM(BX_SERVICES_VIEW.PAYMENTS) AS PAYMENTS, SUM(BX_SERVICES_VIEW.BALANCE) AS BALANCE, 
                      BX_CASE.CLAIM_NUMBER
FROM         tblProvider RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_SERVICES_VIEW ON BX_CASE.CASE_ID = BX_SERVICES_VIEW.CASE_ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID ON tblProvider.Provider_Id = BX_CASE.PROVIDER LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id   
 '                
                      
                  



SET @GROUP_BY_STRING= ' GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name + ISNULL('' [ '' + tblProvider.Provider_GroupName + '' ]'', ''''), 
                      BX_CASE.PROVIDER, BX_CASE_TYPE.DESCRIPTION, BX_CASE.PATIENT_LASTNAME + '', '' + BX_CASE.PATIENT_FIRSTNAME, 
                      BX_CASE.ACCIDENT_DATE, BX_CASE.PROVIDER_FILENUMBER, tblInsuranceCompany.InsuranceCompany_Name, BX_CASE.CLAIM_NUMBER

ORDER BY BX_CASE.CASE_ID DESC

'

SET @QUERY_STRING = @QUERY_STRING + @FILTER_STRING + @GROUP_BY_STRING

EXEC SP_EXECUTESQL @QUERY_STRING

GOTO FINISH
	END

--SET @RESULT1 = CONVERT(INT,@RESULT)

SET @QUERY_STRING =   ' SELECT TOP(' + @RESULT + ') BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name + ISNULL('' [ '' + tblProvider.Provider_GroupName + '' ]'', '''') 
                      AS Provider_name, BX_CASE.PROVIDER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, 
                      BX_CASE.PATIENT_LASTNAME + '', '' + BX_CASE.PATIENT_FIRSTNAME AS PATIENT, BX_CASE.ACCIDENT_DATE, BX_CASE.PROVIDER_FILENUMBER, 
                      tblInsuranceCompany.InsuranceCompany_Name, COUNT(BX_SERVICES_VIEW.SERVICE_ID) AS BILLS, SUM(BX_SERVICES_VIEW.AMOUNT) 
                      AS AMOUNT, SUM(BX_SERVICES_VIEW.PAYMENTS) AS PAYMENTS, SUM(BX_SERVICES_VIEW.BALANCE) AS BALANCE, 
                      BX_CASE.CLAIM_NUMBER
FROM         tblProvider RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_SERVICES_VIEW ON BX_CASE.CASE_ID = BX_SERVICES_VIEW.CASE_ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID ON tblProvider.Provider_Id = BX_CASE.PROVIDER LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id 
    '

SET @GROUP_BY_STRING=' GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name + ISNULL('' [ '' + tblProvider.Provider_GroupName + '' ]'', ''''), 
                      BX_CASE.PROVIDER, BX_CASE_TYPE.DESCRIPTION, BX_CASE.PATIENT_LASTNAME + '', '' + BX_CASE.PATIENT_FIRSTNAME, 
                      BX_CASE.ACCIDENT_DATE, BX_CASE.PROVIDER_FILENUMBER, tblInsuranceCompany.InsuranceCompany_Name, BX_CASE.CLAIM_NUMBER

ORDER BY BX_CASE.CASE_ID DESC

'

SET @QUERY_STRING = @QUERY_STRING + @FILTER_STRING + @GROUP_BY_STRING

EXEC SP_EXECUTESQL @QUERY_STRING


FINISH:
 END
GO
