USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[STP_DSP_IMAGEPHYSICALFILEPATH]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE   [dbo].[STP_DSP_IMAGEPHYSICALFILEPATH] --'24770'
	@IMAGEID AS VARCHAR(200)
AS
SET NOCOUNT ON

DECLARE @BASEFOLDER AS NVARCHAR(255)
DECLARE @FILEPATH AS VARCHAR(MAX)

BEGIN

	SELECT @BASEFOLDER=PARAMETERVALUE FROM tblApplicationSettings WHERE PARAMETERNAME='DocumentUploadLocationPhysical'
	--print(@BASEFOLDER)
	SELECT @BASEFOLDER+FILEPATH + FILENAME as [InputFilePath] FROM TBLDOCIMAGES WHERE IMAGEID=@IMAGEID
	--print(@FILEPATH)

END
GO
