USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SPROC_HIDE_IMAGES_ALL]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BX_SPROC_HIDE_IMAGES_ALL] @CASE_ID INT,@DOCUMENTID INT
AS 
BEGIN
SET NOCOUNT ON

UPDATE BX_IMAGES
SET DELETEFLAG=1 
FROM BX_IMAGES WHERE DOCUMENTID=@DOCUMENTID AND CASE_ID = @CASE_ID

END
GO
