USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[F_DDL_TEMPLATES_BYUSERID]    Script Date: 6/17/2019 2:54:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[F_DDL_TEMPLATES_BYUSERID]

	@s_a_Value NVARCHAR(100)
AS
BEGIN
	SELECT 
		T.I_TEMPLATE_ID,T.SZ_TEMPLATE_NAME 
	FROM 
		MST_TEMPLATES T
		INNER JOIN
		TXN_TEMPLATES_ACCESS A
		ON T.I_TEMPLATE_ID = A.TEMPLATE_ID
	WHERE
		USER_TYPE = @s_a_Value
	order by SZ_TEMPLATE_NAME 
END
GO
