USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TREATINGDOCTOR_DETAILS]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_TREATINGDOCTOR_DETAILS]
	@ID INT
AS
BEGIN
	DELETE FROM txn_case_treating_doctor WHERE ID = @ID
END
GO
