USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[STP_UID_UPLOADIMAGES]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[STP_UID_UPLOADIMAGES]  
@PARENTID	bigint,
@FILEPATH	NVARCHAR(max),
@FILENAME	NVARCHAR(max),
@LOGINID	NVARCHAR(max)
AS
BEGIN  
 DECLARE @NEWIMAGEID bigint
 
 IF(@LOGINID = '')
	SET @LOGINID	=	'1'
 ELSE IF(@LOGINID IS NULL)
	SET @LOGINID	=	'1'

SET @LOGINID = (SELECT USERID FROM dbo.IssueTracker_Users where UserName=RTRIM(@LOGINID))
  
 INSERT INTO tblDocImages (FILENAME, FILEPATH, OCRDATA, STATUS,from_flag)  
 VALUES(@FILENAME, @FILEPATH, NULL, 1,0)  
   
 SET @NEWIMAGEID = (select max(imageid) from tbldocimages)  
  
 INSERT INTO tblImageTag (IMAGEID, TAGID, LOGINID, DateInserted)   
     VALUES (@NEWIMAGEID,@PARENTID,@LOGINID, GetDate())  
  
  
END
--sp_columns TBLDOCIMAGES
GO
