USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_FILENAME]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHANGE_FILENAME]
AS
BEGIN
		DECLARE curHtmlTable CURSOR
		
		LOCAL forward_only dynamic scroll_locks 
		FOR SELECT I_ID , SZ_FILENAME from TXN_DOCUMENT_UPLOAD 
			where -- sz_case_id='FH07-42372' and 
			SZ_PROCESS_ID = 'PROC-002'
				
	  	  OPEN curHtmlTable
		  DECLARE @TEMP_I_ID AS INT
		  DECLARE @TEMP_FILE_NAME AS NVARCHAR(500)
		  DECLARE @NEW_FILE_NAME AS NVARCHAR(500)
	  	  FETCH NEXT FROM curHtmlTable INTO @TEMP_I_ID, @TEMP_FILE_NAME
		  
	  	  WHILE @@FETCH_STATUS = 0
		  BEGIN
			SET @NEW_FILE_NAME = REPLACE(@TEMP_FILE_NAME,'/','/DiscoveryResponse/')
			--PRINT @NEW_FILE_NAME

			UPDATE TXN_DOCUMENT_UPLOAD SET SZ_FILENAME = @NEW_FILE_NAME	WHERE I_ID = @TEMP_I_ID

			FETCH NEXT FROM curHtmlTable INTO @TEMP_I_ID, @TEMP_FILE_NAME
		  END
		  CLOSE curHtmlTable
		  DEALLOCATE curHtmlTable
END

-- EXEC SP_CHANGE_FILENAME
GO
