USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDOSTABLE]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETDOSTABLE](
@CID VARCHAR(50)
)
AS
BEGIN
SELECT * FROM TBLTREATMENT WHERE CASE_ID=@CID ORDER BY DATEOFSERVICE_START
END
GO
