USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_POM_SCANS_PATH]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_POM_SCANS_PATH] --1
	@POM_ID AS INT
AS
BEGIN
	SELECT TOP 1 ImagePath+'\'+FileName [FILEPATH] FROM TBLIMAGES 
	WHERE CASE_ID = 
			(SELECT TOP 1 CASE_ID FROM TBLPOMCASE WHERE POM_ID=@POM_ID)
		AND DocumentId = 12
	ORDER BY ScanDate DESC
END
GO
