USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_CASE_UPDATE]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BX_CASE_UPDATE] 
	
	@PATIENT_FIRSTNAME VARCHAR(50) , 
	@PATIENT_LASTNAME VARCHAR(50) ,
@INSURED_LASTNAME VARCHAR(50),
@INSURED_FIRSTNAME VARCHAR(50),
@DOA DATETIME,
@FILENUMBER  VARCHAR(50),
@INSURANCE INT,
@CLAIM_NUMBER VARCHAR(50),
@POLICY_NUMBER VARCHAR(50),
@MEMO VARCHAR (500),@CASE_ID INT
AS
BEGIN
	
	SET NOCOUNT ON;

UPDATE BX_CASE
SET PATIENT_FIRSTNAME =@PATIENT_FIRSTNAME,
PATIENT_LASTNAME=@PATIENT_LASTNAME,
INSURED_LASTNAME=@INSURED_LASTNAME,
INSURED_FIRSTNAME=@INSURED_FIRSTNAME,
ACCIDENT_DATE=@DOA,
PROVIDER_FILENUMBER=@FILENUMBER,
INSURANCE=@INSURANCE,
CLAIM_NUMBER=@CLAIM_NUMBER,
POLICY_NUMBER=@POLICY_NUMBER,
MEMO=@MEMO
FROM BX_CASE WHERE CASE_ID =@CASE_ID

	
END
GO
