USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_FINANC_INVOICES_PAYMENTS]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SROSENTHAL
-- ALTER date: 2/10/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_FINANC_INVOICES_PAYMENTS] 
@INVOICE_ID INT
	
	
AS
BEGIN
	
	SET NOCOUNT ON;

SELECT     tblProvider.Provider_Name, BX_INVOICES.ID, BX_TRANSACTIONS.TR_AMOUNT AS AMOUNT_PAID, BX_TRANSACTIONS.INVOICE_ID, 
                      BX_TRANSACTIONS.TR_TYPE, BX_TRANSACTIONS.TR_AMOUNT, BX_TRANSACTIONS.TR_DATE, BX_TRANSACTIONS.TR_DESC, 
                      BX_INVOICES.FEES - ISNULL(SUM(BX_TRANSACTIONS.TR_AMOUNT), 0) AS BALANCE, BX_INVOICES.FEES
FROM         BX_INVOICES INNER JOIN
                      tblProvider ON BX_INVOICES.PROVIDER_ID = tblProvider.Provider_Id INNER JOIN
                      BX_TRANSACTIONS ON BX_INVOICES.ID = BX_TRANSACTIONS.INVOICE_ID
WHERE     (BX_TRANSACTIONS.INVOICE_ID= @INVOICE_ID)
GROUP BY tblProvider.Provider_Name, BX_INVOICES.ID, BX_TRANSACTIONS.TR_AMOUNT, BX_TRANSACTIONS.INVOICE_ID, BX_TRANSACTIONS.TR_TYPE, 
                      BX_TRANSACTIONS.TR_DATE, BX_TRANSACTIONS.TR_DESC, BX_INVOICES.FEES
ORDER BY BX_TRANSACTIONS.TR_DATE DESC
END
GO
