USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TXN_LIST_EMAIL_FILES]    Script Date: 6/17/2019 2:54:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[INSERT_TXN_LIST_EMAIL_FILES] --[INSERT_TXN_LIST_EMAIL_FILES] 7
	@IMAGEID VARCHAR(500)
AS
BEGIN

	DECLARE @BASEFOLDER AS VARCHAR(5000)
	DECLARE @SZ_FILENAME AS VARCHAR(1000)
	DECLARE @SZ_FILEPATH AS VARCHAR(MAX)

	SELECT @BASEFOLDER=PARAMETERVALUE FROM dbo.tblApplicationSettings WHERE PARAMETERNAME='DocumentUploadLocationPhysical'
	SELECT @SZ_FILENAME = FILENAME FROM TBLDOCIMAGES WHERE IMAGEID = @IMAGEID
	SELECT @SZ_FILEPATH = @BASEFOLDER+FILEPATH + FILENAME FROM TBLDOCIMAGES WHERE IMAGEID=@IMAGEID

	INSERT INTO TXN_LIST_EMAIL_FILES
	(
		SZ_IMAGEID,
		SZ_FILENAME,
		SZ_FILEPATH
	)
	VALUES
	(
		@IMAGEID,
		@SZ_FILENAME,
		@SZ_FILEPATH
	)
END
GO
