USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[STP_UID_DELETEIMAGE_NODE]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[STP_UID_DELETEIMAGE_NODE]
@NODETYPE CHAR,
@NODEID  INT
AS

BEGIN
	IF @NODETYPE='N'
	BEGIN
		DELETE FROM TBLDOCIMAGES WHERE IMAGEID IN (SELECT IMAGEID FROM TBLIMAGETAG WHERE TAGID=@NODEID)
		DELETE FROM TBLIMAGETAG WHERE TAGID=@NODEID
	END
	ELSE
	BEGIN
		DELETE FROM TBLDOCIMAGES WHERE IMAGEID=@NODEID
		DELETE FROM TBLIMAGETAG WHERE IMAGEID=@NODEID
	END
END
GO
