USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_LIT_TRANSFER_BILLS]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_LIT_TRANSFER_BILLS] 
	
	@CASE_ID int , 
	@TEMP_ID VARCHAR(50),@SERVICE_ID INT
AS
BEGIN

DECLARE @CASE_ID_LIT VARCHAR(50), @NOTES VARCHAR(3000),@USER VARCHAR(20)

	
	SET NOCOUNT ON;


	SELECT @CASE_ID_LIT=CASE_ID FROM TBLCASE WHERE BX_TEMP_ID = @TEMP_ID

     IF @CASE_ID_LIT IS NULL
	BEGIN 
		SELECT     @CASE_ID_LIT=tblTreatment.Case_Id
		FROM         tblcase INNER JOIN
                     tblTreatment ON tblcase.Case_Id = tblTreatment.Case_Id
		WHERE tblTreatment.BX_BILL_ID=@SERVICE_ID

				IF @CASE_ID_LIT IS NULL
				BEGIN 
					UPDATE BX_SERVICES
					SET LIT_PRCSS=0
					WHERE ID=@SERVICE_ID
					GOTO SKIP_ADD
				END
	END



   INSERT INTO TBLTREATMENT (CASE_ID,DATEOFSERVICE_START,DATEOFSERVICE_END,CLAIM_AMOUNT,PAID_AMOUNT,DATE_BILLSENT,SERVICE_TYPE,BX_BILL_ID)
   SELECT     @CASE_ID_LIT , BX_SERVICES.DOS_START, BX_SERVICES.DOS_END, BX_SERVICES.AMOUNT, ISNULL(SUM(BX_PAYMENTS.AMOUNT), 0) 
                      , BX_SERVICES.DATE_SENT, tblServiceType.ServiceType, 
                      @SERVICE_ID 
	FROM         BX_SERVICES INNER JOIN
					  BX_SERVICE_STATUS ON BX_SERVICES.STATUS = BX_SERVICE_STATUS.ID INNER JOIN
					  BX_PHYSICIANS ON BX_SERVICES.RENDERED_BY = BX_PHYSICIANS.ID INNER JOIN
					  tblServiceType ON BX_SERVICES.TYPE = tblServiceType.ServiceType_ID INNER JOIN
					  BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
					  BX_PAYMENTS ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID
	WHERE     (BX_SERVICES.ID = @SERVICE_ID) AND (BX_SERVICES.LIT_PRCSS = 2)
	GROUP BY BX_SERVICES.ID, BX_SERVICES.CASE_ID, BX_SERVICES.DOS_START, BX_SERVICES.DOS_END, BX_SERVICES.AMOUNT, 
					  BX_SERVICES.DATE_SENT, BX_SERVICES.STATUS, BX_SERVICES.PAY_STATUS, BX_SERVICE_STATUS.NAME, BX_PHYSICIANS.NAME, 
                      BX_SERVICES.COMPLETE, DATEDIFF(D, BX_SERVICES.DOS_START, GETDATE()), BX_SERVICES.LITIGATED, tblServiceType.ServiceType, 
                      BX_SERVICES.MEMO, BX_CASE.CASE_ID_LONG, BX_SERVICES.REFERENCE, BX_SERVICES.DENIAL_DATE,tblServiceType.ServiceType_ID

	DECLARE @i_l_treatment_id INT
	SET @i_l_treatment_id=  SCOPE_IDENTITY()
	
	
	INSERT INTO TXN_tblTreatment(Treatment_Id,DenialReasons_Id)
	SELECT @i_l_treatment_id,tblDenialReasons.DenialReasons_Id	FROM         BX_SERVICES INNER JOIN
					  BX_SERVICE_STATUS ON BX_SERVICES.STATUS = BX_SERVICE_STATUS.ID INNER JOIN
					  BX_PHYSICIANS ON BX_SERVICES.RENDERED_BY = BX_PHYSICIANS.ID INNER JOIN
					  tblServiceType ON BX_SERVICES.TYPE = tblServiceType.ServiceType_ID 
					  INNER JOIN				  
					  BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID 
					  LEFT OUTER JOIN tblDenialReasons on tblDenialReasons.DenialReasons_Id = BX_SERVICES.DENIAL_REASON
					  LEFT OUTER JOIN
					  BX_PAYMENTS ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID
	WHERE     (BX_SERVICES.ID = @SERVICE_ID) AND (BX_SERVICES.LIT_PRCSS = 2)

	UPDATE BX_SERVICES
	SET LIT_PRCSS=3
	WHERE LIT_PRCSS=2 AND ID=@SERVICE_ID




SET @NOTES = 'CASE PUT INTO SUIT BY BILLING DEPARTMEMT.'
SET @USER= USER_NAME()
EXEC LCJ_AddNotes @case_id=@CASE_ID_LIT,@notes_type='Billing',@Ndesc=@NOTES,@USER_ID=@USER,@APPLYTOGROUP =1



SKIP_ADD:
END
GO
