USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[Task_Type_Delete]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Task_Type_Delete]
(

   @i_a_Task_Type_ID	 INT,
   @s_a_Description		 VARCHAR(100),
   @s_a_Created_By_User	 VARCHAR(100)
  
)

AS
BEGIN
	 DECLARE @s_l_message				NVARCHAR(500),
			 @s_l_notes_desc			NVARCHAR(500)
			
	 BEGIN
		IF EXISTS(SELECT Task_Type_ID FROM Task WHERE Task_Type_ID = @i_a_Task_Type_ID )	
	    BEGIN
	       SET @s_l_message	=  'Task type exists in case..!!!'
	    END
	    ELSE 
	    BEGIN
			BEGIN TRAN
	        
	        DELETE FROM Task_Type  WHERE Task_Type_ID = @i_a_Task_Type_ID 
	        
			SET @s_l_message	= 'Task  deleted'
			SET @s_l_notes_desc = 'Task  deleted - ' + @s_a_Description 
		    
		    EXEC F_AdminNotes_Add @s_a_notes_desc=@s_l_notes_desc,@s_a_user_Id=@s_a_Created_By_User,@s_a_notes_type='TaskType'
		    
		    COMMIT TRAN 
		END
	END	
		
		SELECT @s_l_message AS [MESSAGE]
		
END
GO
