USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GetPOMPrintInfo]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPOMPrintInfo]--12,'','','','',''
	@POMID AS INT,
	@CASE_ID AS VARCHAR(100),
	@INJURED_LAST_NAME AS VARCHAR(100),
	@INJURED_FIRST_NAME AS VARCHAR(100),
	@PROVIDER_ID AS VARCHAR(50),
	@INSURANCECOMPANY_ID AS VARCHAR(50)
AS
BEGIN
	DECLARE @STRQUERY AS VARCHAR(MAX)
	SET @STRQUERY = 'SELECT DISTINCT
			P.pom_id,
			CONVERT(NVARCHAR(12),pom_date,101) AS pom_date,
			pom_generated_by,
			pom_scan_date,
			[Received_Date]=(CASE WHEN pom_scan_date IS NOT NULL THEN CONVERT(VARCHAR(12),pom_scan_date,101) ELSE convert(varchar(12),''-'') END),
			pom_scan_by
	FROM
			TBLPOM P
			INNER JOIN 
			TBLPOMCASE PC
			ON P.POM_ID=PC.POM_ID
			INNER JOIN
			TBLCASE TC
			ON PC.CASE_ID = TC.CASE_ID
	WHERE 1=1 '
	IF @POMID IS NOT NULL AND @POMID <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND P.POM_ID = ' + CONVERT(VARCHAR(10),@POMID)
	END
	IF @CASE_ID IS NOT NULL AND @CASE_ID <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND TC.CASE_ID LIKE ''%' + @CASE_ID + '%'''
	END
	IF @INJURED_LAST_NAME IS NOT NULL AND @INJURED_LAST_NAME <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND TC.InjuredParty_LastName LIKE ''%' + @INJURED_LAST_NAME + '%'''
	END
	IF @INJURED_FIRST_NAME IS NOT NULL AND @INJURED_FIRST_NAME <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND TC.InjuredParty_FirstName LIKE ''%' + @INJURED_FIRST_NAME + '%'''
	END
	IF @PROVIDER_ID IS NOT NULL AND @PROVIDER_ID <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND TC.PROVIDER_ID = ' + @PROVIDER_ID
	END
	IF @INSURANCECOMPANY_ID IS NOT NULL AND @INSURANCECOMPANY_ID <> ''
	BEGIN
		SET @STRQUERY = @STRQUERY + ' AND TC.INSURANCECOMPANY_ID = ' + @INSURANCECOMPANY_ID
	END
	SET @STRQUERY = @STRQUERY + ' order by P.POM_ID'
	PRINT(@STRQUERY)
	EXEC(@STRQUERY)
END
GO
