USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SERVICE_SEARCH]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 1/28/09
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SERVICE_SEARCH] 
@CASE_ID VARCHAR(50),@FILENUMBER VARCHAR(50),@PATIENT VARCHAR(100),@INSURED VARCHAR(100),@PROVIDER VARCHAR(200),
@FACILITY VARCHAR(100) ,@INSURANCE VARCHAR(200),@POLICY VARCHAR(50),@CLAIM VARCHAR(50),@DOA VARCHAR(50),
@RESULT VARCHAR(10)	,@DOS VARCHAR(20),@DATE_SENT VARCHAR(20), @PHYSICIAN VARCHAR(100),@STATUS VARCHAR(50),@COMPLETE VARCHAR(2),
@LITIGATED VARCHAR(2),@AGING INT , @AGING_TYPE varchar(20),@REFERENCE VARCHAR(20),@TYPE VARCHAR(50),@BATCH VARCHAR(20)
	
AS
BEGIN
DECLARE @RESULTSET INT
	
	SET NOCOUNT ON;

IF @COMPLETE = '-1' SET @COMPLETE='1'
IF @LITIGATED = '-1' SET @LITIGATED = '1'

SET @PROVIDER= REPLACE(REPLACE(@PROVIDER,'[','{'),']','}')




IF @RESULT = 'ALL'
  BEGIN
	IF @AGING_TYPE='Equal to'
		BEGIN
			SELECT     BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name + ISNULL(' [ ' + tblProvider.Provider_GroupName + ' ]', '') 
                      AS Provider_name, BX_CASE.PATIENT_LASTNAME + ', ' + BX_CASE.PATIENT_FIRSTNAME AS PATIENT, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) 
                      + ' - ' + CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS , ISNULL(BX_SERVICES.AMOUNT, 0) - SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id
			
WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					(CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE())  END = @AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%') AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0

GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]',''), BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   

				ORDER BY BX_CASE.CASE_ID DESC


	GOTO FINISH
	END
IF @AGING_TYPE='More than'
		BEGIN
			SELECT     BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') as Provider_name, 
                      BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME AS PATIENT, tblInsuranceCompany.InsuranceCompany_Name, 
                      BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS , ISNULL(BX_SERVICES.AMOUNT, 0) - SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id



			WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					ISNULL((CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) ELSE '0' END),'0') >= CONVERT(VARCHAR(5),@AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%') AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0


				GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]',''), BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   
				ORDER BY BX_CASE.CASE_ID DESC


	GOTO FINISH
	END


IF @AGING_TYPE='Less than'
		BEGIN
			SELECT     BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') as Provider_name, 
                      BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME AS PATIENT, tblInsuranceCompany.InsuranceCompany_Name, 
                      BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS , (ISNULL(BX_SERVICES.AMOUNT, 0))-SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id


			WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					ISNULL((CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) END),0) <= CONVERT(VARCHAR(5),@AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%') AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0


				GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG,tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') , BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   

				ORDER BY BX_CASE.CASE_ID DESC


	GOTO FINISH
	END
	
END 

-------- RESULT SET
SET @RESULTSET=CONVERT(INT,@RESULT)

IF @AGING_TYPE='Equal to'
		BEGIN
			SELECT   TOP(@RESULTSET)  BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') as Provider_name, 
                      BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME AS PATIENT, tblInsuranceCompany.InsuranceCompany_Name, 
                      BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS , (ISNULL(BX_SERVICES.AMOUNT, 0))-SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id


			WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					ISNULL((CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) END),0) = CONVERT(VARCHAR(5),@AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%') AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0


				GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG,  tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]',''), BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   
				ORDER BY BX_CASE.CASE_ID DESC


	GOTO FINISH
	END
IF @AGING_TYPE='More than'
		BEGIN
			SELECT   TOP(@RESULTSET)  BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') as Provider_name, 
                      BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME AS PATIENT, tblInsuranceCompany.InsuranceCompany_Name, 
                      BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS , (ISNULL(BX_SERVICES.AMOUNT, 0))-SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id

			WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					ISNULL((CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) END),0) >= CONVERT(VARCHAR(5),@AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%')AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0


				GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG,tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') , BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   
				ORDER BY BX_CASE.CASE_ID DESC


	GOTO FINISH
	END


IF @AGING_TYPE='Less than'
		BEGIN
			SELECT  TOP(@RESULTSET)   BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]','') as Provider_name, 
                      BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME AS PATIENT, tblInsuranceCompany.InsuranceCompany_Name, 
                      BX_SERVICES.ID, BX_SERVICES.AMOUNT, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1) AS DOS, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN ISNULL(DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()), 0) ELSE '0' END AS AGING, 
                      BX_PHYSICIANS.NAME, BX_SERVICE_STATUS.NAME AS STATUS_NAME, BX_SERVICES.REFERENCE, BX_SERVICES.DATE_SENT, 
                      BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION AS CASE_TYPE, BX_SERVICES.BATCH_ID,SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS PAYMENTS ,(ISNULL(BX_SERVICES.AMOUNT, 0))-SUM(ISNULL(BX_PAYMENTS.AMOUNT, 0)) AS BALANCE
FROM         BX_PAYMENTS RIGHT OUTER JOIN
                      BX_PHYSICIANS INNER JOIN
                      BX_SERVICE_STATUS INNER JOIN
                      BX_SERVICES ON BX_SERVICE_STATUS.ID = BX_SERVICES.STATUS ON BX_PHYSICIANS.ID = BX_SERVICES.RENDERED_BY ON 
                      BX_PAYMENTS.SERVICE_ID = BX_SERVICES.ID RIGHT OUTER JOIN
                      BX_CASE INNER JOIN
                      BX_CASE_TYPE ON BX_CASE.TYPE = BX_CASE_TYPE.ID LEFT OUTER JOIN
                      BX_FACILITY ON BX_CASE.FACILITY = BX_FACILITY.ID LEFT OUTER JOIN
                      tblProvider ON BX_CASE.PROVIDER = tblProvider.Provider_Id ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblInsuranceCompany ON BX_CASE.INSURANCE = tblInsuranceCompany.InsuranceCompany_Id


			WHERE (BX_CASE.CASE_ID_LONG LIKE  '%' + ISNULL(@CASE_ID , '') + '%') 
				   AND (ISNULL(BX_CASE.PROVIDER_FILENUMBER, '') LIKE '%' + ISNULL(@FILENUMBER , '') + '%') 
					 AND (BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME LIKE '%' + ISNULL(@PATIENT , 
                      '') + '%') AND (BX_CASE.INSURED_FIRSTNAME + ' ' + BX_CASE.INSURED_LASTNAME LIKE '%' + ISNULL( @INSURED , '') + '%') AND 
                      ((Provider_Name +Isnull(' { '+Provider_GroupName + ' }','')) LIKE '%' + ISNULL( @PROVIDER , '') + '%') AND (ISNULL(BX_FACILITY.SHORT_NAME, '') LIKE '%' + ISNULL( @FACILITY , 
                      '') + '%') AND (tblInsuranceCompany.InsuranceCompany_Name LIKE '%' + ISNULL( @INSURANCE , '') + '%') AND (ISNULL(BX_CASE.POLICY_NUMBER, 
                      '') LIKE '%' + ISNULL( @POLICY , '') + '%') AND (ISNULL(BX_CASE.CLAIM_NUMBER, '') LIKE '%' + ISNULL( @CLAIM , '') + '%') 
						AND(CONVERT(VARCHAR(20), BX_CASE.ACCIDENT_DATE, 101) LIKE '%' + ISNULL(@DOA , '') + '%') AND ((CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 101)
                      LIKE '%' + ISNULL(@DOS , '') + '%') OR (CONVERT(VARCHAR(20), BX_SERVICES.DOS_END, 101) LIKE '%' + ISNULL(@DOS , '') + '%')) AND 
                      (CONVERT(VARCHAR(20), ISNULL(BX_SERVICES.DATE_SENT,''), 101) LIKE '%' + ISNULL(@DATE_SENT , '') + '%') AND 
					(BX_PHYSICIANS.NAME LIKE '%' + ISNULL( @PHYSICIAN , '') + '%')AND (CONVERT(VARCHAR(5),BX_SERVICES.LITIGATED) LIKE '%'+ISNULL( @LITIGATED ,'') + '%') AND
					(CONVERT(VARCHAR(5),BX_SERVICES.COMPLETE) LIKE '%'+ISNULL( @COMPLETE ,'') + '%')AND (BX_SERVICE_STATUS.NAME LIKE '%' + ISNULL(@STATUS , '') + '%') AND
					ISNULL((CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) END),0) <= CONVERT(VARCHAR(5),@AGING) AND (ISNULL(BX_SERVICES.REFERENCE,'') LIKE '%' + ISNULL(@REFERENCE , '') + '%')
					AND (BX_CASE_TYPE.DESCRIPTION LIKE '%' + ISNULL(@TYPE, '') + '%') AND (ISNULL(BX_SERVICES.BATCH_ID,'') LIKE '%' + ISNULL(@BATCH, '') + '%') AND BX_CASE.DELETED=0


				GROUP BY BX_CASE.CASE_ID, BX_CASE.CASE_ID_LONG, tblProvider.Provider_Name +Isnull(' [ '+Provider_GroupName + ' ]',''), BX_CASE.PATIENT_LASTNAME + ', ' +  BX_CASE.PATIENT_FIRSTNAME, 
                      tblInsuranceCompany.InsuranceCompany_Name, BX_SERVICES.ID, CONVERT(VARCHAR(20), BX_SERVICES.DOS_START, 1) + ' - ' + CONVERT(VARCHAR(20), 
                      BX_SERVICES.DOS_END, 1), 
                      BX_SERVICES.AMOUNT, BX_SERVICES.LITIGATED, BX_SERVICES.COMPLETE, BX_SERVICES.DATE_SENT, BX_PHYSICIANS.NAME,BX_SERVICES.DOS_END,BX_SERVICES.DOS_START,BX_SERVICES.STATUS,
					  BX_SERVICE_STATUS.NAME,BX_SERVICES.REFERENCE,BX_CASE.CLAIM_NUMBER, BX_CASE_TYPE.DESCRIPTION,Provider_GroupName, BX_SERVICES.BATCH_ID
					   
				ORDER BY BX_CASE.CASE_ID DESC
				END


FINISH:
 END
GO
