USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_DENIALREASONS]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_DENIALREASONS] --'40522','01/01/2008','01/01/2011','0'
	@SZ_PROVIDER_ID NVARCHAR(100),
	@SZ_START_DATE NVARCHAR(50),
	@SZ_END_DATE NVARCHAR(50),
	@PROVIDER_GROUP VARCHAR(10)
AS
BEGIN
SET FMTONLY OFF;  


	CREATE TABLE #TEMP
	(
		CASE_ID NVARCHAR(50),
		PROVIDER_NAME NVARCHAR(200),
		INITIAL_STATUS NVARCHAR(50),
		DENIALREASONS_TYPE NVARCHAR(200)
	)
IF @PROVIDER_GROUP <> '0'
BEGIN
	INSERT INTO #TEMP
	SELECT
	TBLCASE.CASE_ID,
	PROVIDER_NAME,
	INITIAL_STATUS ,
	TBLDENIALREASONS.DENIALREASONS_TYPE
	FROM TBLCASE
	INNER JOIN TBLPROVIDER ON TBLCASE.PROVIDER_ID=TBLPROVIDER.PROVIDER_ID 
	INNER JOIN TBLINSURANCECOMPANY ON TBLCASE.INSURANCECOMPANY_ID=TBLINSURANCECOMPANY.INSURANCECOMPANY_ID  
	INNER JOIN TBLTREATMENT ON TBLCASE.CASE_ID=TBLTREATMENT.CASE_ID
	INNER JOIN TXN_TBLTREATMENT ON TBLTREATMENT.TREATMENT_ID=TXN_TBLTREATMENT.TREATMENT_ID
	INNER JOIN TBLDENIALREASONS ON TBLDENIALREASONS.DENIALREASONS_ID=TXN_TBLTREATMENT.DENIALREASONS_ID
	WHERE 
	TBLCASE.PROVIDER_ID IN
		(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
			(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
	AND
	CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
	AND  
	CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
	AND
	TBLCASE.STATUS NOT IN ('CLOSED','CLOSED ARBITRATION','CLOSED AS PER RCF','CLOSED JUDGEMENT','CLOSED WITHDRAWN WITH PREJUDICE','CLOSED WITHDRAWN WITHOUT PREJUDICE','SETTLED','WITHDRAWN-WITH-PREJUDICE','WITHDRAWN-WITHOUT-PREJUDICE','CARRIER IN REHAB','PENDING','OPEN-OLD','TRIAL LOST')
END
ELSE
BEGIN	
	INSERT INTO #TEMP

	SELECT

	TBLCASE.CASE_ID,
	PROVIDER_NAME,
	INITIAL_STATUS ,
	TBLDENIALREASONS.DENIALREASONS_TYPE
	FROM TBLCASE
	 INNER JOIN 
	TBLPROVIDER ON TBLCASE.PROVIDER_ID=TBLPROVIDER.PROVIDER_ID 
	INNER JOIN 
	TBLINSURANCECOMPANY ON TBLCASE.INSURANCECOMPANY_ID=TBLINSURANCECOMPANY.INSURANCECOMPANY_ID  
	INNER JOIN 
	TBLTREATMENT ON TBLCASE.CASE_ID=TBLTREATMENT.CASE_ID
	INNER JOIN
	TXN_TBLTREATMENT ON TBLTREATMENT.TREATMENT_ID=TXN_TBLTREATMENT.TREATMENT_ID
	INNER JOIN
	TBLDENIALREASONS ON TBLDENIALREASONS.DENIALREASONS_ID=TXN_TBLTREATMENT.DENIALREASONS_ID
	 
	WHERE 
	TBLCASE.PROVIDER_ID =@SZ_PROVIDER_ID
	AND
	CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
	AND  
	CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
	AND
	TBLCASE.STATUS NOT IN ('CLOSED','CLOSED ARBITRATION','CLOSED AS PER RCF','CLOSED JUDGEMENT','CLOSED WITHDRAWN WITH PREJUDICE','CLOSED WITHDRAWN WITHOUT PREJUDICE','SETTLED','WITHDRAWN-WITH-PREJUDICE','WITHDRAWN-WITHOUT-PREJUDICE','CARRIER IN REHAB','PENDING','OPEN-OLD','TRIAL LOST')

END

	SELECT 
		DENIALREASONS_TYPE,
		COUNT(DISTINCT CASE_ID) AS CNT 
	FROM #TEMP 
	WHERE DENIALREASONS_TYPE <> '0SELECT DENIAL REASON' 
	GROUP BY 
		DENIALREASONS_TYPE
	ORDER BY 
		DENIALREASONS_TYPE
END
GO
