USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_MST_DIAGNOSIS_CODE]    Script Date: 6/17/2019 2:54:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_MST_DIAGNOSIS_CODE]
@SZ_DIAGNOSIS_CODE_ID		INT=NULL


AS
BEGIN

		DELETE FROM  MST_DIAGNOSIS_CODE
		WHERE SZ_DIAGNOSIS_CODE_ID=@SZ_DIAGNOSIS_CODE_ID
END
GO
