USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_INSERT_CASE_ASSIGNMENT_FOLDER]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_INSERT_CASE_ASSIGNMENT_FOLDER] --'FH11-80531',null,'GET'
	@CASE_ID VARCHAR(100),
	@FOLDER_PATH VARCHAR(MAX)=NULL,
	@FLAG VARCHAR(100)
AS
BEGIN
	IF @FLAG = 'GET'
	BEGIN
		SELECT GBDOCUMENT_RELATIVEPATH
		FROM TBLCASE
		WHERE CASE_ID = @CASE_ID
	END
	IF @FLAG = 'INSERT'
	BEGIN
		UPDATE TBLCASE
		SET GBDOCUMENT_RELATIVEPATH = @FOLDER_PATH,
		GBDOCUMENT_ABSOLUTEPATH = @FOLDER_PATH	
		WHERE CASE_ID = @CASE_ID
	END
END
GO
