USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_SPECIALITY]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_SPECIALITY] --'',''
	@USERTYPE NVARCHAR(50),
	@USERTYPELOGIN NVARCHAR(50)
AS
BEGIN
	SELECT 
		SERVICETYPE AS CODE,
		SERVICETYPE AS [DESC]
	FROM
		TBLSERVICETYPE
	ORDER BY SERVICETYPE
END
GO
