USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[F_M_Provider_Retrieve]    Script Date: 6/17/2019 2:54:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[F_M_Provider_Retrieve]
	
	(
		@i_a_Provider_Id INT
		
	)

AS
BEGIN

	SELECT  
	ISNULL(Provider_Id,'') AS Provider_Id,
		ISNULL(Provider_Name,'') AS Provider_Name,
		ISNULL(Provider_Suitname,'') AS Provider_Suitname,
		ISNULL(Provider_President,'') AS Provider_President,
		ISNULL(Provider_TaxID,'') AS Provider_TaxID,
		ISNULL(Provider_FF,'') AS Provider_FF,
		ISNULL(Provider_RETURNFF,'') AS Provider_RETURNFF,
		ISNULL(Provider_Type,'') AS Provider_Type,
		ISNULL(Provider_Billing,'0.00') AS Provider_Billing,
		ISNULL(Provider_Local_Address,'') AS Provider_Local_Address,
		ISNULL(Provider_Local_City,'') AS Provider_Local_City,
		ISNULL(Provider_Local_State,'') AS Provider_Local_State,
		ISNULL(Provider_Local_Zip,'') AS Provider_Local_Zip,
		ISNULL(Provider_Local_Phone,'') AS Provider_Local_Phone,
		ISNULL(Provider_Local_Fax,'') AS Provider_Local_Fax, 
		ISNULL(Provider_Perm_Address,'') AS Provider_Perm_Address,
		ISNULL(Provider_Perm_City,'') AS Provider_Perm_City,
		ISNULL(Provider_Perm_State,'') AS Provider_Perm_State,
		ISNULL(Provider_Perm_Zip,'') AS Provider_Perm_Zip,
		ISNULL(Provider_Perm_Phone,'') AS Provider_Perm_Phone,
		ISNULL(Provider_Perm_Fax,'') AS Provider_Perm_Fax,   
		ISNULL(Provider_Contact,'') AS Provider_Contact,   
		ISNULL(Provider_Email,'') AS Provider_Email,
		ISNULL(Provider_ReferredBy,'') AS Provider_ReferredBy,
		ISNULL(Provider_Notes,'') AS Provider_Notes,
		ISNULL(Provider_Contact2,'') AS Provider_Contact2,
		ISNULL(Provider_INTBilling,'') AS Provider_INTBilling,
		ISNULL(cost_balance,'0.00') AS cost_balance,
		ISNULL(Invoice_Type,'') AS Invoice_Type,
		ISNULL(provider_Rfunds,'') AS provider_Rfunds,
		ISNULL(Provider_GroupName,'') AS Provider_GroupName,
		null AS FHKP_ATTORNEY,
		ISNULL(Provider_Collection_Agent,'') AS Provider_Collection_Agent,
		ISNULL(Billing_Manager,'') AS Billing_Manager,
		ISNULL(Provider_SeesFF,'')as Provider_SeesFF,
		ISNULL(Provider_SeesRFF,'') AS Provider_SeesRFF,
		ISNULL(Provider_InvoicedFF,'')as Provider_InvoicedFF,
		ISNULL(SZ_SHORT_NAME,'') AS SZ_SHORT_NAME,
		ISNULL(BX_SERV,'') AS BX_SERV,
		ISNULL(BX_SHR_FEE,'') AS BX_SHR_FEE,   
		ISNULL(BX_PSTG,'0.00')as BX_PSTG,
		ISNULL(SD_CODE,'') AS SD_CODE,
		ISNULL(BX_FEE_SCHEDULE,'')as BX_FEE_SCHEDULE, 
		ISNULL(isFromNassau,'') AS  isFromNassau,
		ISNULL(BitVerification,'') AS  BitVerification,
		ISNULL(active,'') AS active,
		ISNULL(fileRETURN, NULL) AS fileRETURN,
		ISNULL(Position,'') AS Position,
		ISNULL(Practice,'') AS Practice,
		ISNULL(Email_For_Arb_Awards,'') AS Email_For_Arb_Awards,
		ISNULL(Email_For_Invoices,'') AS Email_For_Invoices,
		ISNULL(Email_For_Closing_Reports,'') AS Email_For_Closing_Reports,
		ISNULL(Email_For_Monthly_Report,'') AS Email_For_Monthly_Report
	FROM        
		tblProvider
	WHERE
		Provider_Id = @i_a_Provider_Id
END

GO
