USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE]  
@SZ_CASE_ASSOCIATE_ID NVARCHAR(20)=NULL,  
@SZ_DIAGNOSIS_SET_ID NVARCHAR(20)=NULL,  
@SZ_CASE_ID    NVARCHAR(20)=NULL,  
@SZ_DIAGNOSIS_CODE_ID NVARCHAR(20)=NULL,  
@FLAG     VARCHAR(50)  
AS  
BEGIN  
  
  IF @FLAG = 'ADD'  
    BEGIN  
     --IF NOT EXISTS(SELECT SZ_CASE_ASSOCIATE_ID FROM TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE WHERE SZ_DIAGNOSIS_SET_ID=@SZ_DIAGNOSIS_SET_ID AND SZ_DIAGNOSIS_CODE_ID=@SZ_DIAGNOSIS_CODE_ID AND SZ_PROCEDURE_ID=@SZ_PROCEDURE_ID)  
      INSERT INTO TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE  
       (  
         SZ_DIAGNOSIS_SET_ID ,  
         SZ_CASE_ID,      
         SZ_DIAGNOSIS_CODE_ID  
       )  
      VALUES  
       (  
         @SZ_DIAGNOSIS_SET_ID,   
         @SZ_CASE_ID,     
         @SZ_DIAGNOSIS_CODE_ID  
       )  
    END  
  
  IF @FLAG = 'GET_ASSO_ID'  
    BEGIN  
     SELECT    
       MST_DIAGNOSIS_CODE.SZ_DIAGNOSIS_CODE_ID,  
       SZ_DIAGNOSIS_CODE,  
       SZ_DESCRIPTION  
     FROM   
      TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE,  
      MST_DIAGNOSIS_CODE  
     WHERE   
      MST_DIAGNOSIS_CODE.SZ_DIAGNOSIS_CODE_ID = TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE.SZ_DIAGNOSIS_CODE_ID  
      AND SZ_CASE_ID = @SZ_CASE_ID  
    END  
  
  IF @FLAG = 'DELETE_ASSO_ID'  
    BEGIN  
     DELETE  
     FROM   
      TXN_CASE_ASSOCIATED_DIAGNOSIS_CODE  
     WHERE   
      SZ_CASE_ID = @SZ_CASE_ID  
    END  
END
GO
