USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_LIT_TRANSFER_IMAGES]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_LIT_TRANSFER_IMAGES] 
	
	@CASE_ID int , 
	@TEMP_ID VARCHAR(50),@IMAGEPATH VARCHAR(100), @FILENAME VARCHAR (100),@DOCUMENTID INT,@IMAGEID VARCHAR(20)
AS
BEGIN

DECLARE @CASE_ID_LIT VARCHAR(50), @USER VARCHAR(20),@DATE VARCHAR(20),@NOTES VARCHAR(200),@DESC VARCHAR(50)

	
	SET NOCOUNT ON;
	SET @DATE =CONVERT(VARCHAR(20),GETDATE(),101)
	SET @USER = USER_NAME()


	SELECT @CASE_ID_LIT=CASE_ID FROM TBLCASE WHERE BX_TEMP_ID = @TEMP_ID

SET @DESC = 'BX'+@IMAGEID+'-'+@CASE_ID_LIT
IF EXISTS (SELECT IMAGEID FROM TBLIMAGES WHERE RECORDDESCRIPTOR = @DESC)
BEGIN
GOTO SKIP_ADD
END



EXEC SP_INSERTIMAGE @IMAGEPATH=@IMAGEPATH,@FILENAME=@FILENAME,@DOCUMENTID=@DOCUMENTID,@CASEID=@CASE_ID_LIT,
@SCANDATE =@DATE,@USERID=@USER,@RECORDDESCRIPTOR = @DESC


SET @NOTES = 'IMAGES TRANSFERRED FROM BILLING SYSTEM'
EXEC LCJ_AddNotes @case_id=@CASE_ID_LIT,@notes_type='Billing',@Ndesc=@NOTES,@USER_ID=@USER,@APPLYTOGROUP =1

SKIP_ADD:

END
GO
