USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_CODING_SEARCH]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SROSENTHAL
-- ALTER date: 4/1/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_CODING_SEARCH] 
	
	@PROVIDER_ID int , 	@VERSION INT ,@CATEGORY VARCHAR(200) ,@CODE VARCHAR(10),@DESCRIPTION VARCHAR(200),@SCHEDULE TINYINT
AS
DECLARE @ZIP_CODE AS VARCHAR(5),@REGION_CODE VARCHAR(5)

BEGIN
	SELECT     @ZIP_CODE=CASE WHEN BX_FACILITY.zip IS NOT NULL THEN LEFT(BX_FACILITY.zip,5) WHEN BX_FACILITY.zip IS NULL THEN LEFT(TBLPROVIDER.provider_local_zip,5) END 
FROM         BX_FACILITY RIGHT OUTER JOIN
                      tblProvider ON BX_FACILITY.PROVIDER = tblProvider.Provider_Id
WHERE tblProvider.Provider_Id = @PROVIDER_ID



SELECT    @REGION_CODE= ZONE_NUMBER
FROM         BX_CODING_CPT_ZIPRANGE
WHERE  VERSION_ID=@VERSION AND @ZIP_CODE BETWEEN START_ZIP AND END_ZIP  




SELECT     BX_CODING_CPT_CODES.RVU, BX_CODING_CPT_CODES.CPT_CODE, BX_CODING_CPT_CODES.IS_ADD_ON, BX_CODING_CPT_CODES.IS_MOD51, 
                      BX_CODING_CPT_CODES.IS_CS_INCLUDED, BX_CODING_CPT_CODES.PCTC, BX_CODING_CPT_CODES.FUD, 
                      BX_CODING_CPT_CODES.DESCRIPTION, CASE WHEN ISNUMERIC(RVU) = 1 THEN CONVERT(VARCHAR(20), 
                      BX_CODING_CPT_CODES.RVU * BX_CODING_CPT_CONVERSION_FACTORS.VALUE) ELSE 'N/A' END AS FEE_SCHEDULE, 
                      BX_CODING_CPT_CATEGORY.CATEGORY_DESC, BX_CODING_CPT_CODES.CATEGORY, BX_CODING_CPT_CODES.CODE_VERSION
FROM         BX_CODING_CPT_CODES INNER JOIN
                      BX_CODING_CPT_CATEGORY ON BX_CODING_CPT_CODES.CATEGORY = BX_CODING_CPT_CATEGORY.CATEGORY_ID INNER JOIN
                      BX_CODING_CPT_CONVERSION_FACTORS ON BX_CODING_CPT_CATEGORY.CATEGORY_ID = BX_CODING_CPT_CONVERSION_FACTORS.CATEGORY

WHERE     (BX_CODING_CPT_CONVERSION_FACTORS.ZIPRANGE_CODE = @REGION_CODE) AND (BX_CODING_CPT_CATEGORY.CATEGORY_DESC LIKE '%' + ISNULL(@CATEGORY,'') + '%')
			AND (BX_CODING_CPT_CODES.CPT_CODE LIKE ISNULL(@CODE,'') + '%') AND (BX_CODING_CPT_CODES.DESCRIPTION LIKE '%' + ISNULL(@DESCRIPTION,'') + '%') AND
			BX_CODING_CPT_CODES.SCHEDULE=@SCHEDULE AND BX_CODING_CPT_CONVERSION_FACTORS.SCHEDULE=@SCHEDULE AND BX_CODING_CPT_CODES.CODE_VERSION=@VERSION
			AND BX_CODING_CPT_CONVERSION_FACTORS.CODE_VERSION=@VERSION

ORDER BY BX_CODING_CPT_CODES.CPT_CODE,BX_CODING_CPT_CATEGORY.CATEGORY_DESC

END
GO
