USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_READY_FOR_LIT]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_READY_FOR_LIT] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT     BX_SERVICES.ID, BX_SERVICES.CASE_ID, CONVERT(VARCHAR(20),BX_SERVICES.DOS_START,101) +' - '+ CONVERT(VARCHAR(20),BX_SERVICES.DOS_END,101) AS DOS, BX_SERVICES.AMOUNT, 
                      BX_SERVICES.DATE_SENT, BX_SERVICES.STATUS, BX_SERVICES.PAY_STATUS, BX_SERVICES.LITIGATED, 
                      BX_SERVICE_STATUS.NAME AS STATUS_DESC, BX_PHYSICIANS.NAME AS PHYSICIAN_NAME, 
                      CASE WHEN BX_SERVICES.COMPLETE = 0 THEN DATEDIFF(D, dbo.BX_SERVICES.DOS_START, GETDATE()) END AS AGING, 
                      tblServiceType.ServiceType, BX_SERVICES.COMPLETE, ISNULL(BX_SERVICES.AMOUNT, 0) - ISNULL(SUM(BX_PAYMENTS.AMOUNT), 0) AS BALANCE, 
                      BX_SERVICES.MEMO, BX_CASE.CASE_ID_LONG, ISNULL(SUM(BX_PAYMENTS.AMOUNT), 0) AS PAYMENTS, BX_SERVICES.REFERENCE, 
                      BX_SERVICES.DENIAL_DATE, tblDenialReasons.DenialReasons_Type AS DENIAL_REASON,DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE()) as INS_DELAY,tblDenialReasons.DenialReasons_id,
					  BX_SERVICES.DOS_END,BX_SERVICES.DOS_START
FROM         BX_SERVICES INNER JOIN
                      BX_SERVICE_STATUS ON BX_SERVICES.STATUS = BX_SERVICE_STATUS.ID INNER JOIN
                      BX_PHYSICIANS ON BX_SERVICES.RENDERED_BY = BX_PHYSICIANS.ID INNER JOIN
                      tblServiceType ON BX_SERVICES.TYPE = tblServiceType.ServiceType_ID INNER JOIN
                      BX_CASE ON BX_SERVICES.CASE_ID = BX_CASE.CASE_ID LEFT OUTER JOIN
                      tblDenialReasons ON BX_SERVICES.DENIAL_REASON = tblDenialReasons.DenialReasons_Id LEFT OUTER JOIN
                      BX_PAYMENTS ON BX_SERVICES.ID = BX_PAYMENTS.SERVICE_ID

WHERE (BX_SERVICES.COMPLETE=0) AND (BX_SERVICES.LITIGATED =0 ) AND (BX_SERVICES.ARBITRATED =0 )AND (BX_CASE.DELETED=0) AND (((BX_SERVICE_STATUS.DENIAL=0)AND DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE())> 35) 
OR ((BX_SERVICE_STATUS.DENIAL=1) AND DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE())> 35) OR BX_SERVICE_STATUS.TOTAL_DENIAL=1 OR BX_SERVICES.PREP_FOR_LIT=1)

GROUP BY BX_SERVICES.ID, BX_SERVICES.CASE_ID, BX_SERVICES.DOS_START, BX_SERVICES.DOS_END, BX_SERVICES.AMOUNT, 
                      BX_SERVICES.DATE_SENT, BX_SERVICES.STATUS, BX_SERVICES.PAY_STATUS, BX_SERVICE_STATUS.NAME, BX_PHYSICIANS.NAME, 
                      BX_SERVICES.COMPLETE, DATEDIFF(D, BX_SERVICES.DOS_START, GETDATE()), BX_SERVICES.LITIGATED, tblServiceType.ServiceType, 
                      BX_SERVICES.MEMO, BX_CASE.CASE_ID_LONG, BX_SERVICES.REFERENCE, BX_SERVICES.DENIAL_DATE,  
                      tblDenialReasons.DenialReasons_Type,DATEDIFF(d,isnull(BX_SERVICES.DATE_SENT,getdate()),GETDATE()),tblDenialReasons.DenialReasons_id
END
GO
