USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[STP_GETCHILDDOCSFORMOVEORCOPY]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--STP_GETCHILDDOCSFORMOVEORCOPY 35,10, 32  
CREATE PROCEDURE   [dbo].[STP_GETCHILDDOCSFORMOVEORCOPY]  
(
	@NODEID INT,  
	@TARGETNODEID INT,  
	@SOURCENODEID INT  
)
AS   
  
DECLARE @BASEFOLDER AS NVARCHAR(255)  
DECLARE @DESTROOTPATH AS VARCHAR(255)  
DECLARE @SRCTROOTPATH AS VARCHAR(255)  
  
	EXEC STP_DSP_NODEROOTPATH @TARGETNODEID, @DESTROOTPATH OUT  
	EXEC STP_DSP_NODEROOTPATH @SOURCENODEID, @SRCTROOTPATH OUT  
	SELECT 
		@BASEFOLDER=PARAMETERVALUE 
	FROM 
		TBLAPPLICATIONSETTINGS 
	WHERE 
		PARAMETERNAME='DOCUMENTUPLOADLOCATION'  
  
	SELECT 
		I.FILENAME,@BASEFOLDER+@SRCTROOTPATH SOURCEROOTNODE, @BASEFOLDER+I.FILEPATH SOURCEPATH, @BASEFOLDER + @DESTROOTPATH TARGETPATH, 'F' TYPE, I.IMAGEID, T.TAGID 
	FROM 
		TBLIMAGETAG T  
		INNER JOIN TBLDOCIMAGES I  ON I.IMAGEID=T.IMAGEID  
	WHERE 
		T.TAGID=@NODEID  
  
--SELECT I.FILENAME,@SRCTROOTPATH SOURCEROOTNODE, I.FILEPATH SOURCEPATH, @DESTROOTPATH TARGETPATH, 'F' TYPE, I.IMAGEID, T.TAGID FROM TBLIMAGETAG T  
--INNER JOIN TBLDOCIMAGES I  ON I.IMAGEID=T.IMAGEID  
--WHERE T.TAGID=@NODEID  
  
  
  
--Select * from tblTags
GO
