USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_DISCOVERY_MOTION]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_DISCOVERY_MOTION] --'FH04-DOSH-014825','PROC-001'
	@SZ_CASE_ID NVARCHAR(50),
	@SZ_PROCESS_ID NVARCHAR(10)
	
AS
BEGIN
	DECLARE @Status int
	SET @Status=0
	If @SZ_PROCESS_ID='PROC-001'
		Begin
			DECLARE @I_DOCUMENT_TYPE int
			DECLARE  DOC_TYPE_LIST CURSOR
			FOR
				SELECT I_DOCUMENT_TYPE FROM TXN_EXHIBIT_SEQUENCE Where SZ_PROCESS_CODE = @SZ_PROCESS_ID
			OPEN DOC_TYPE_LIST
			FETCH NEXT FROM DOC_TYPE_LIST
			INTO @I_DOCUMENT_TYPE
			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF (SELECT Count(I_DOCUMENT_TYPE) 
						FROM TXN_EXHIBIT_SEQUENCE TSEQ
						  JOIN TBLIMAGES TIMAGES ON TSEQ.I_DOCUMENT_TYPE = TIMAGES.DOCUMENTID
						AND TIMAGES.CASE_ID =  @SZ_CASE_ID AND TSEQ.I_DOCUMENT_TYPE=@I_DOCUMENT_TYPE AND TSEQ.SZ_PROCESS_CODE = @SZ_PROCESS_ID
						--AND TIMAGES.USERID <> 'system' AND DELETEFLAG = 0) <=0
						AND DELETEFLAG = 0) <=0
					BEGIN
					SET @Status=1
					END
				FETCH NEXT FROM DOC_TYPE_LIST
				INTO @I_DOCUMENT_TYPE
			End
			CLOSE DOC_TYPE_LIST
			DEALLOCATE DOC_TYPE_LIST
			Select @Status
		End
	
END
GO
