USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_BILL_ARBITRATE]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BX_SP_BILL_ARBITRATE] 

	@ID int
AS
DECLARE @CASE_ID INT,@NOTES VARCHAR(200)
BEGIN
	SET NOCOUNT ON;
		SELECT @CASE_ID=CASE_ID FROM BX_SERVICES WHERE ID=@ID
	
		UPDATE BX_SERVICES
		SET ARBITRATED=1,COMPLETE=1,DATE_ARBITRATED=GETDATE(),
			CLOSED_BY=USER_NAME(),DATE_CLOSED=GETDATE(),ARBITRATED_BY =USER_NAME()
		FROM BX_SERVICES WHERE ID=@ID


SET @NOTES='BILL ARBITRATED. ID: '+ CONVERT(VARCHAR(10),@ID)
EXEC BX_SP_ADD_NOTES @CASE_ID=@CASE_ID,@DESC=@NOTES,@TYPE= 'Activity',@PRIORITY=0


END
GO
