USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_PROVIDER_GROUPNAMES]    Script Date: 6/17/2019 2:54:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_PROVIDER_GROUPNAMES]
	@ORIGINAL_ID NVARCHAR(50),
	@ID NVARCHAR(50),
	@DESCRIPTION VARCHAR(200),
	@SD_CODE VARCHAR(50),
	@AF_Show int
AS
BEGIN
	IF EXISTS(SELECT 1 FROM TblProvider_Groups WHERE Provider_Group_Name = @ORIGINAL_ID)
	BEGIN
		UPDATE TblProvider_Groups
		SET
			Provider_Group_Name = @ID,
			DESCRIPTION = @DESCRIPTION,
			SD_CODE = @SD_CODE,
			AF_Show = @AF_Show 
		WHERE
			Provider_Group_Name = @ORIGINAL_ID
	END
	
END
GO
