USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_TEMPLATE_BYUSERID]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TEMPLATE_BYUSERID] --[GET_TEMPLATE_BYUSERID] ''
	@USER_TYPE NVARCHAR(100)
AS
BEGIN
	SELECT 
		T.I_TEMPLATE_ID,T.SZ_TEMPLATE_NAME 
	FROM 
		MST_TEMPLATES T
	--	LEFT OUTER JOIN
	--	TXN_TEMPLATES_ACCESS A
	--	ON T.I_TEMPLATE_ID = A.TEMPLATE_ID
	--WHERE
	--	USER_TYPE = @USER_TYPE
	order by SZ_TEMPLATE_NAME 
END
GO
