USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_ADD_CASE]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SROSENTHAL
-- ALTER date: 1/20/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_ADD_CASE] 
	-- Add the parameters for the stored procedure here
	@provider_id int , @patient_fname varchar(50),@patient_lname varchar(50),
	@insured_fname varchar(50),@insured_lname varchar(50),@policy varchar(50),
	@claim varchar(50),@doa varchar(20),@memo varchar(500) = NULL,@INSURANCE INT,@FACILITY SMALLINT =NULL,
	@FILE_NUMBER VARCHAR(50)=NULL,@TYPE TINYINT
	
AS

BEGIN
DECLARE @TEMP_ID INT, @CASE_ID_LONG VARCHAR(50),@CASE_ID INT
	SET @TEMP_ID = ROUND(RAND()*1000000,0)
	SET NOCOUNT ON;

IF @FILE_NUMBER='' SET @FILE_NUMBER=NULL
IF @MEMO='' SET @MEMO=NULL
IF @FACILITY= '' SET @FACILITY=NULL

INSERT INTO BX_CASE (TYPE,PROVIDER,PATIENT_FIRSTNAME,PATIENT_LASTNAME,INSURED_FIRSTNAME
,INSURED_LASTNAME,INSURANCE,POLICY_NUMBER,CLAIM_NUMBER,ACCIDENT_DATE,MEMO,TEMP_ID,FACILITY,PROVIDER_FILENUMBER)
VALUES (@TYPE,@PROVIDER_ID,@PATIENT_FNAME,@PATIENT_LNAME,@INSURED_FNAME,@INSURED_LNAME,
@INSURANCE,@POLICY,@CLAIM,@DOA,@MEMO,@TEMP_ID,@FACILITY,@FILE_NUMBER)


SELECT @CASE_ID=CASE_ID FROM BX_CASE WHERE TEMP_ID =@TEMP_ID
SET @CASE_ID_LONG = 'BX-'+CONVERT(VARCHAR(4),YEAR(GETDATE()))+'-'+CONVERT(VARCHAR(2),MONTH(GETDATE()))+ '-' +CONVERT(VARCHAR(8),@CASE_ID)

UPDATE BX_CASE
SET CASE_ID_LONG = @CASE_ID_LONG,TEMP_ID=NULL
WHERE TEMP_ID=@TEMP_ID

SELECT @CASE_ID AS CASE_ID ,@case_id_long AS CASE_ID_LONG
	
END
GO
