USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SP_DELETE_SERVICE]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 1/23/2009
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_SP_DELETE_SERVICE] 
	
	@SERVICE_ID INT
AS
BEGIN

DECLARE @NOTES VARCHAR(100),@DOS_START VARCHAR(20),@DOS_END VARCHAR(20),
@AMOUNT MONEY,@CLOSED BIT,@CASE_ID INT
	
	SET NOCOUNT ON;


SELECT @CASE_ID =CASE_ID ,@DOS_START=DOS_START,@DOS_END=DOS_END,@AMOUNT=AMOUNT ,@CLOSED=COMPLETE FROM BX_SERVICES WHERE ID=@SERVICE_ID
IF @CLOSED =1 GOTO FINISH

DELETE FROM BX_SERVICES WHERE ID=@SERVICE_ID AND COMPLETE =0

SET @NOTES = ' BILL DELETED FOR DOS '+@DOS_START+' - ' +@DOS_END + ' . AMOUNT :$'+CONVERT(VARCHAR(20),@AMOUNT)
EXEC BX_SP_ADD_NOTES @CASE_ID=@CASE_ID,@DESC=@NOTES,@TYPE='Activity',@priority=0


FINISH:
END
GO
