USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_sproc_app_profile]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 8/17/2008
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_sproc_app_profile] 
@APP_KEY VARCHAR(50) 

AS
DECLARE @USER VARCHAR(128),@LOGIN VARCHAR(128)
BEGIN

SET @USER = USER_NAME()
SET @LOGIN= SUSER_NAME()


	SET NOCOUNT ON;


SELECT VERSION_NUMBER ,LICENSEE_NAME, LICENSEE_ADDRESS,LICENSEE_CITY,
LICENSEE_STATE,LICENSEE_ZIP ,@@SPID AS SPID,LEFT(CONVERT(VARCHAR(50),APP_KEY),4)AS MINIKEY,
EXPIRATION_DATE,UPDATE_FROM,ALLOW_ADMIN,ALLOW_CALENDAR,ALLOW_CONTACTS,ALLOW_TEMPLATES,ALLOW_FINANCIALS,ALLOW_BILLINGHOURS,ALLOW_WORKDESK,ALLOW_MULTIMEDIA,EXCHANGE_SERVER,@USER as USERNAME,
LICENSEE_LOGO_PATH,UPDATE_PATH,@LOGIN AS LOGIN_NAME
FROM BX_APP_CONTROL WHERE CONVERT(VARCHAR(50),APP_KEY) =@APP_KEY AND ACTIVE =1

END
GO
