USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GET_TEMPLATE_NAME]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TEMPLATE_NAME]
	@I_TEMPLATE_ID INT
AS
BEGIN

	SELECT
		I_TEMPLATE_ID,
		SZ_TEMPLATE_NAME,
		SZ_TEMPLATE_FILENAME
	FROM
		MST_TEMPLATES
	WHERE
		I_TEMPLATE_ID = @I_TEMPLATE_ID
END
GO
