USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[bx_sproc_event_details_bydate]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		srosenthal
-- ALTER date: 8/23/2008
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[bx_sproc_event_details_bydate]
	@date varchar(10) 
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT     BX_EVENTS.EVENT_ID, BX_EVENTS.EV_DATETIME_START, BX_EVENTS.EV_DATETIME_END, BX_EVENT_TYPES.EVENT_DESC, BX_EVENTS.EV_NOTES, 
                      BX_EVENTS.EV_USER, BX_EVENTS.EV_CONFLICTED, BX_EVENTS.EV_CASE_ID, BX_EVENTS.EV_PRIVATE, CASE WHEN EV_DATETIME_START < GETDATE() 
                      THEN BX_EVENTS.EV_REMIND_BEFORE END AS EV_REMIND_BEFORE, CASE WHEN EV_DATETIME_START < GETDATE() 
                      THEN BX_EVENTS.EV_REMIND_EVERY END AS EV_REMIND_EVERY, BX_EVENTS.EV_REMIND_STATUS, BX_USERS.BX_USER_NAME AS EV_REMIND_USER, 
                      [BX_CASE].CASE_ID_LONG
FROM         BX_EVENT_TYPES INNER JOIN
                      BX_EVENTS ON BX_EVENT_TYPES.EVENT_TYPE_ID = BX_EVENTS.EV_TYPE INNER JOIN
                      BX_USERS ON BX_EVENTS.EV_REMIND_USER = BX_USERS.BX_USER_ID LEFT OUTER JOIN
                      [BX_CASE] ON BX_EVENTS.EV_CASE_ID = [BX_CASE].CASE_ID
WHERE CONVERT(DATETIME,CONVERT(VARCHAR(12),BX_EVENTS.EV_DATETIME_START))=@date AND ((BX_EVENTS.EV_PRIVATE=0) OR (BX_EVENTS.EV_PRIVATE=1 AND BX_USERS.BX_USER_NAME = USER_NAME()))
END
GO
