USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[GETINSURANCESPECIALITY_INDEXSUMMARY]    Script Date: 6/17/2019 2:54:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETINSURANCESPECIALITY_INDEXSUMMARY]
	@SZ_SPECIALITY NVARCHAR(100),
	@SZ_START_DATE NVARCHAR(50),
	@SZ_END_DATE NVARCHAR(50)
AS
BEGIN
	SELECT
		AVG(DATEDIFF(DD,DATE_OPENED,DATE_INDEX_NUMBER_PURCHASED)) AS AVG_INDEX_NO_DAYS
	FROM
		TBLCASE TC INNER JOIN TBLTREATMENT TT
		ON TC.CASE_ID = TT.CASE_ID
	WHERE
		SERVICE_TYPE = @SZ_SPECIALITY
		and TC.case_id not like '%fh99%'
		AND
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
		AND  
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')

	GROUP BY
		SERVICE_TYPE	
END
GO
