USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_CONFIRM_LETTER]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SROSENTHAL
-- ALTER date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[BX_CONFIRM_LETTER] 
	@SERVICE_ID INT
AS
BEGIN
DECLARE @CASE_ID INT,@NOTES VARCHAR(200),@AMOUNT MONEY , @DOS VARCHAR(50)

	SET NOCOUNT ON;

SELECT @CASE_ID=CASE_ID ,@AMOUNT=AMOUNT,@DOS = convert(varchar(20),DOS_START,101) +'-'+ convert(varchar(20),DOS_END,101) FROM BX_SERVICES WHERE ID=@SERVICE_ID

SET @NOTES='BILL MAILED TO CARRIER .DOS :'+@DOS+' . AMOUNT:$'+ CONVERT(VARCHAR(20),@AMOUNT)
EXEC BX_SP_ADD_NOTES @CASE_ID=@CASE_ID,@DESC=@NOTES,@TYPE= 'Activity',@PRIORITY=0

UPDATE BX_SERVICES
SET DATE_SENT = GETDATE(),STATUS=6
WHERE ID = @SERVICE_ID AND DATE_SENT IS NULL

    
END
GO
