USE [DKATLAS]
GO
/****** Object:  StoredProcedure [dbo].[BX_SPROC_IMAGE_COPY_SINGLE_MC]    Script Date: 6/17/2019 2:53:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BX_SPROC_IMAGE_COPY_SINGLE_MC] 
	
	@IMAGEID INT,@CASE_ID int
AS
declare @imagepath nvarchar(255),@filename nvarchar(100),@scandate smalldatetime,@userid VARCHAR(50),
@recorddescriptor varchar(220), @deleteflag int , @page_count int , @notes nvarchar(100),@DOCUMENTID INT,@ACCT_IMAGE BIT,@ACCT_ID INT ,@BILL_ID INT,@new_case_id int
DECLARE CASE_CURSOR CURSOR 
FOR (SELECT CASE_ID FROM BX_TEMP_ID_TABLE WHERE USERNAME=USER_NAME())

BEGIN

	SET NOCOUNT ON;

SELECT @IMAGEPATH=IMAGEPATH,@FILENAME=FILENAME,@CASE_ID=CASE_ID,@SCANDATE=SCANDATE,@USERID = USERID,
@RECORDDESCRIPTOR=RECORDDESCRIPTOR , @PAGE_COUNT =PAGE_COUNT , @NOTES=NOTES ,@DOCUMENTID=DOCUMENTID,@ACCT_IMAGE=ACCT_IMAGE,@ACCT_ID=ACCT_ID,@BILL_ID=BILL_ID
FROM BX_IMAGES WHERE  IMAGEID = @IMAGEID  AND  CASE_ID = @CASE_ID



OPEN CASE_CURSOR
FETCH NEXT FROM CASE_CURSOR INTO @NEW_CASE_ID
WHILE @@FETCH_STATUS =0
	BEGIN

	SET @NOTES = 'OLD IMG/CASE ID:'+CONVERT(VARCHAR(20),@IMAGEID)+'/'+CONVERT(VARCHAR(20),@NEW_CASE_ID)+'|||'

	INSERT INTO BX_IMAGES (IMAGEPATH,FILENAME,DOCUMENTID,CASE_ID,SCANDATE,USERID,RECORDDESCRIPTOR,PAGE_COUNT,NOTES,COPIED,ACCT_IMAGE ,ACCT_ID  ,BILL_ID)
	VALUES (@IMAGEPATH,@FILENAME,@DOCUMENTID,@NEW_CASE_ID,@SCANDATE,@USERID,@RECORDDESCRIPTOR,@PAGE_COUNT,@NOTES,'1',@ACCT_IMAGE ,@ACCT_ID ,@BILL_ID)

	FETCH NEXT FROM CASE_CURSOR INTO @NEW_CASE_ID
	END

DELETE FROM BX_TEMP_ID_TABLE WHERE USERNAME=USER_NAME()

END
GO
