USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GET_INSERT_PROVIDER_DETAILS]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_INSERT_PROVIDER_DETAILS]
	@SZ_PROVIDER VARCHAR(500),
	@SZ_OFFICE_ID VARCHAR(500),
	@SZ_COMPANY_ID VARCHAR(200),
	@SZ_PROVIDER_ADDRESS VARCHAR(MAX)
AS
BEGIN
	DECLARE @NEW_PROV AS VARCHAR(500)
	IF EXISTS(SELECT TOP 1 1 FROM TBLPROVIDER WHERE PROVIDER_NAME = @SZ_PROVIDER AND PROVIDER_LOCAL_ADDRESS = @SZ_PROVIDER_ADDRESS)
	BEGIN		
		SET @NEW_PROV = (SELECT top 1 PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_NAME = @SZ_PROVIDER AND PROVIDER_LOCAL_ADDRESS = @SZ_PROVIDER_ADDRESS)
		IF EXISTS(SELECT TOP 1 1 FROM GREENBILLSPROVIDERS WHERE SZ_OFFICE_ID = @SZ_OFFICE_ID AND SZ_COMPANY_ID = @SZ_COMPANY_ID AND PROVIDER_ID IS NULL)
		BEGIN
			UPDATE GREENBILLSPROVIDERS SET PROVIDER_ID = @NEW_PROV WHERE SZ_OFFICE_ID = @SZ_OFFICE_ID AND SZ_COMPANY_ID = @SZ_COMPANY_ID AND PROVIDER_ID IS NULL
		END		
	END
	ELSE
	BEGIN		
		INSERT INTO TBLPROVIDER (PROVIDER_NAME,PROVIDER_LOCAL_ADDRESS,ACTIVE) VALUES(@SZ_PROVIDER,@SZ_PROVIDER_ADDRESS,0)
		SET @NEW_PROV = (SELECT MAX(PROVIDER_ID) AS PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_NAME = @SZ_PROVIDER AND PROVIDER_LOCAL_ADDRESS = @SZ_PROVIDER_ADDRESS)
		UPDATE GREENBILLSPROVIDERS SET PROVIDER_ID = @NEW_PROV WHERE SZ_OFFICE_ID = @SZ_OFFICE_ID AND SZ_COMPANY_ID = @SZ_COMPANY_ID	
	END
	SELECT @NEW_PROV as PROVIDER_ID
END

GO
