USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_SETT_FORBILL]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_SETT_FORBILL] --'CO000000000000000043','OI000000000000000192','01/01/2009','01/01/2011'
	@SZ_COMPANY_ID NVARCHAR(20),
	@SZ_OFFICE_ID NVARCHAR(20),
	@SZ_START_DATE NVARCHAR(20),
	@SZ_END_DATE NVARCHAR(20)
AS
BEGIN
create table #temp
(
case_id nvarchar(100),
sett_tot money,
Provider_Name nvarchar(100),
InsuranceCompany_Name nvarchar(100),
InjuredParty_Name nvarchar(100),
Claim_Amount money,
User_Id nvarchar(100),
Settlement_Amount money,
Settlement_Int money,
Settlement_Af money,
Settlement_Ff money,
Settlement_Date  datetime,
Settlement_Notes nvarchar(2000),
Provider_Id  nvarchar(20),
Settlement_Total money,
Paid_amount money,
Date_Opened datetime,
InsuranceCompany_Id  nvarchar(20),
DOS nvarchar(200)
 )
insert into #temp
	SELECT
		dbo.TBLSETTLEMENTS.CASE_ID, 
		SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_AMOUNT + dbo.TBLSETTLEMENTS.SETTLEMENT_INT) AS SETT_TOT, 
        dbo.TBLPROVIDER.PROVIDER_NAME, 
        dbo.TBLINSURANCECOMPANY.INSURANCECOMPANY_NAME, 
        dbo.TBLCASE.INJUREDPARTY_LASTNAME + N',' + dbo.TBLCASE.INJUREDPARTY_FIRSTNAME AS INJUREDPARTY_NAME, 
        CONVERT(MONEY, dbo.TBLCASE.CLAIM_AMOUNT) AS CLAIM_AMOUNT, 
        dbo.TBLSETTLEMENTS.USER_ID, 
        SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_AMOUNT) AS SETTLEMENT_AMOUNT, 
        SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_INT) AS SETTLEMENT_INT, 
        SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_AF) AS SETTLEMENT_AF, 
        SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_FF) AS SETTLEMENT_FF, 
        dbo.TBLSETTLEMENTS.SETTLEMENT_DATE, 
        MAX(dbo.TBLSETTLEMENTS.SETTLEMENT_NOTES) AS SETTLEMENT_NOTES, 
        dbo.TBLPROVIDER.PROVIDER_ID, 
        SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_AMOUNT + dbo.TBLSETTLEMENTS.SETTLEMENT_INT) AS SETTLEMENT_TOTAL, 
        CONVERT(MONEY, dbo.TBLCASE.PAID_AMOUNT) AS PAID_AMOUNT, 
        dbo.TBLCASE.DATE_OPENED, 
        dbo.TBLINSURANCECOMPANY.INSURANCECOMPANY_ID, 
        ISNULL(REPLACE(dbo.TBLCASE.DATEOFSERVICE_START, '12:00AM', '') 
        + ' - ' + REPLACE(dbo.TBLCASE.DATEOFSERVICE_END, '12:00AM', ''), N'N/A') AS DOS
	FROM 
		dbo.TBLINSURANCECOMPANY INNER JOIN dbo.TBLCASE 
		ON dbo.TBLINSURANCECOMPANY.INSURANCECOMPANY_ID = dbo.TBLCASE.INSURANCECOMPANY_ID 
		INNER JOIN dbo.TBLPROVIDER 
		ON dbo.TBLCASE.PROVIDER_ID = dbo.TBLPROVIDER.PROVIDER_ID 
		INNER JOIN dbo.TBLSETTLEMENTS 
		ON dbo.TBLCASE.CASE_ID = dbo.TBLSETTLEMENTS.CASE_ID
	WHERE 
		dbo.TBLPROVIDER.PROVIDER_ID = (SELECT PROVIDER_ID FROM GREENBILLSPROVIDERS WHERE SZ_COMPANY_ID = @SZ_COMPANY_ID AND SZ_OFFICE_ID = @SZ_OFFICE_ID)
		AND 
		CAST(FLOOR(CAST(SETTLEMENT_DATE AS FLOAT))AS DATETIME) >= Replace(@SZ_START_DATE,'/','-') and  
		CAST(FLOOR(CAST(SETTLEMENT_DATE AS FLOAT))AS DATETIME) <= Replace(@SZ_END_DATE,'/','-')  
		AND 
		SETTLEMENT_AMOUNT > 0		
	GROUP BY 
		dbo.TBLSETTLEMENTS.CASE_ID, 
		dbo.TBLPROVIDER.PROVIDER_NAME, 
		dbo.TBLINSURANCECOMPANY.INSURANCECOMPANY_NAME, 
		dbo.TBLCASE.INJUREDPARTY_LASTNAME + N',' + dbo.TBLCASE.INJUREDPARTY_FIRSTNAME, 
		CONVERT(MONEY, dbo.TBLCASE.CLAIM_AMOUNT), 
		dbo.TBLSETTLEMENTS.USER_ID, 
		dbo.TBLSETTLEMENTS.SETTLEMENT_DATE, 
		dbo.TBLPROVIDER.PROVIDER_ID, 
		CONVERT(MONEY, dbo.TBLCASE.PAID_AMOUNT), 
		dbo.TBLCASE.DATE_OPENED, 
		dbo.TBLINSURANCECOMPANY.INSURANCECOMPANY_ID, 
		ISNULL(REPLACE(dbo.TBLCASE.DATEOFSERVICE_START, '12:00AM', '') 
		+ ' - ' + REPLACE(dbo.TBLCASE.DATEOFSERVICE_END, '12:00AM', ''), N'N/A')
	HAVING 
		(CONVERT(MONEY, dbo.TBLCASE.CLAIM_AMOUNT)-SUM(dbo.TBLSETTLEMENTS.SETTLEMENT_AMOUNT)) >0

delete tblreportsettlement
insert into tblreportsettlement
select * from #temp

DROP TABLE #temp
SELECT 
	YEAR(SETTLEMENT_DATE) AS [YEAR],
	MONTH(SETTLEMENT_DATE) AS [MONTH],
	COUNT(*) AS 'COUNT_CASES',
	convert(decimal(38,2),isnull(SUM(CLAIM_AMOUNT),0.00))AS 'Claim Amount',
	convert(decimal(38,2),isnull(SUM(CLAIM_AMOUNT-PAID_AMOUNT),0.00)) AS 'Sum of Open Claim',
	convert(decimal(38,2),ISNULL(SUM(SETTLEMENT_AMOUNT),0)) AS 'Sum of Settlement Principal',
	convert(decimal(38,2),ISNULL(SUM(SETTLEMENT_INT),0)) AS 'Sum of Settlement Interest',
	convert(varchar(50),convert(decimal(38,2),((ISNULL(SUM(SETTLEMENT_AMOUNT),0)+ISNULL(SUM(SETTLEMENT_INT),0))*100/(isnull(SUM(CLAIM_AMOUNT-PAID_AMOUNT),0.00))))) + '%' AS 'Percentage'
FROM 
	TBLREPORTSETTLEMENT 
WHERE 
	PROVIDER_ID = (SELECT PROVIDER_ID FROM GREENBILLSPROVIDERS WHERE SZ_COMPANY_ID = @SZ_COMPANY_ID AND SZ_OFFICE_ID = @SZ_OFFICE_ID)
	AND 
	CAST(FLOOR(CAST(SETTLEMENT_DATE AS FLOAT))AS DATETIME) >= Replace(@SZ_START_DATE,'/','-') and  
	CAST(FLOOR(CAST(SETTLEMENT_DATE AS FLOAT))AS DATETIME) <= Replace(@SZ_END_DATE,'/','-')  
	AND 
	SETTLEMENT_AMOUNT > 0 
GROUP BY 
	YEAR(SETTLEMENT_DATE),
	MONTH(SETTLEMENT_DATE),
	PROVIDER_ID 
ORDER BY 
	YEAR(SETTLEMENT_DATE) DESC, 
	MONTH(SETTLEMENT_DATE) DESC
END

GO
