USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[STP_DSP_GETMOVINGNODESLIST]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--STP_DSP_GETMOVINGNODESLIST 106,75  
CREATE PROCEDURE  [dbo].[STP_DSP_GETMOVINGNODESLIST]   
@NODEID AS INT,  
@DESTNODEID AS INT  
  
AS  
  
DECLARE @BASEFOLDER AS NVARCHAR(255)  
DECLARE @PATH AS NVARCHAR(255)  
DECLARE @COUNT AS INT  
DECLARE @ROOTCOUNT INT  
DECLARE @rTARGETPATH VARCHAR(255)  
DECLARE @TARGETPATH VARCHAR(255)  
DECLARE @TABLE TABLE(ROOTID INT, TOTALCOUNTS INT, CURRENTCOUNT INT)  
  
SET @COUNT=0  
SET @ROOTCOUNT=0  
  
CREATE TABLE #TEMPTABLE(FILENAME VARCHAR(255),SOURCEPATH VARCHAR(255), DESTPATH VARCHAR(255), TYPE CHAR, IMAGEID INT, TAGID INT)  
  
SELECT @ROOTCOUNT=COUNT(*), @NODEID=NODEID, @rTARGETPATH=NODENAME FROM TBLTAGS WHERE NODEID=@NODEID  GROUP BY NODEID, NODENAME  
  
INSERT INTO @TABLE VALUES (@NODEID, @ROOTCOUNT, @ROOTCOUNT)  
WHILE ISNULL(@ROOTCOUNT,0)>0  
BEGIN  
  
 DECLARE @DESTROOTPATH AS VARCHAR(255)  
 EXEC STP_DSP_NODEROOTPATH @NODEID, @DESTROOTPATH OUT  
 SELECT @DESTROOTPATH  
  
  
 INSERT INTO #TEMPTABLE VALUES('','',@DESTROOTPATH+@rTARGETPATH, 'D',0,@NODEID)  
  
 SELECT @COUNT=COUNT(*), @NODEID=NODEID, @TARGETPATH=@DESTROOTPATH+@rTARGETPATH+ '/' + NODENAME FROM TBLTAGS WHERE PARENTID=@NODEID  GROUP BY NODEID, NODENAME  
   
 INSERT INTO @TABLE VALUES(@NODEID, @ROOTCOUNT, @ROOTCOUNT)  
  
 WHILE ISNULL(@COUNT,0)>0  
 BEGIN  
    
  INSERT INTO #TEMPTABLE VALUES('','',@TARGETPATH, 'D',0,@NODEID)  
  
  BEGIN  
   SELECT @BASEFOLDER=PARAMETERVALUE FROM TBLAPPLICATIONSETTINGS WHERE PARAMETERNAME='DOCUMENTUPLOADLOCATION'  
    
   INSERT INTO #TEMPTABLE (FILENAME,SOURCEPATH, DESTPATH, TYPE, IMAGEID, TAGID)  
   SELECT I.FILENAME,@BASEFOLDER+I.FILEPATH, @TARGETPATH, 'F', I.IMAGEID, T.TAGID FROM TBLIMAGETAG T  
   INNER JOIN TBLDOCIMAGES I  ON I.IMAGEID=T.IMAGEID  
   WHERE T.TAGID=@NODEID  
    
  END  
  
  SET @COUNT=@COUNT-1  
  SET @TARGETPATH=''  
 END  
   
 SET @rTARGETPATH=''  
  SET @ROOTCOUNT=@ROOTCOUNT-1  
  
END  
SELECT * FROM #TEMPTABLE  
SELECT * FROM @TABLE  
DROP TABLE #TEMPTABLE

GO
