USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[CheckCaseIsValid]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CheckCaseIsValid]
	@DomainID VARCHAR(50),
	@CaseId VARCHAR(50),
	@UserName VARCHAR(50)
AS
BEGIN
DECLARE @PROVIDER_ID AS VARCHAR(100)

create table #Temp(Case_ID varchar(55))
DECLARE Cur CURSOR LOCAL FOR

SELECT PROVIDER_ID FROM TXN_PROVIDER_LOGIN 
WHERE User_Id =(SELECT UserId FROM ISSUETRACKER_USERS	WHERE UserName =@UserName and DomainId =@DomainID)

OPEN Cur
FETCH NEXT FROM Cur INTO @PROVIDER_ID

WHILE @@FETCH_STATUS <> -1
BEGIN
insert into #Temp
SELECT CASE_ID FROM TBLCASE 
			WHERE PROVIDER_ID = @PROVIDER_ID
					AND 
					CASE_ID =@CaseId and DomainId = @DomainID

FETCH NEXT FROM Cur INTO @PROVIDER_ID
END
CLOSE Cur
DEALLOCATE Cur
select * from #Temp
--SET @PROVIDER_ID = (SELECT PROVIDER_ID FROM TXN_PROVIDER_LOGIN 
--WHERE User_Id =(SELECT UserId FROM ISSUETRACKER_USERS	WHERE UserName =@UserName))
	
	
END
--[CheckCaseIsValid] 'ZDBAS-PER-0077','basch'
GO
