USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_UPDATE_ROLE_NODES]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LCJ_UPDATE_ROLE_NODES]  --[LCJ_UPDATE_ROLE_NODES] 1,'1,2,3,4,5,6,7,8,9,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,38,39,40,41,42,43,44,45,46,47,48,49,50,53,54,55,56,57,58,59,60,61,62,63,64,65,66,69,70,71,72,73,74,75,76,77,78,79,80,81,84,85,86,87,88,89,90,91,92,93,94,97,98,99,100,103,104,107,108,109,110,111,112,113,114,115,116,117,120,121,122,123,124,125,128,129,130,131,132,133,134,137,138,139,142,143,146,147,148,149,150,151,152,153,154,155,156,157,158,161,162,165,166,167,168,169,170,171,174,177,178,179,180,181,182,183,184,185,186,187,188,189,190,193,194,195,196,197,198,201,202,203,204,205,207,208,209,210,211,212,215'
(
   @RoleId as int,
   @strNodeId as varchar(MAX)
)	
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM tbl_Node_Role WHERE Roleid=@RoleId
	INSERT INTO tbl_Node_Role(Roleid,NodeId) select @RoleId,items from dbo.SplitStringInt(@strNodeId,',')
  
END

GO
