USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_INSERT_IMAGE_COPY]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[LCJ_INSERT_IMAGE_COPY]
(
	@IMAGEPATH AS NVARCHAR(255),
	@FILENAME AS NVARCHAR(100),
	@DOCUMENTID AS NVARCHAR(20),
	@CASEID AS NVARCHAR(50),
	@SCANDATE AS SMALLDATETIME,
	@USERID AS VARCHAR(50),
	@RECORDDESCRIPTOR AS VARCHAR(220)
)

AS
	DECLARE @IMAGE_ID AS INT
		
	BEGIN TRANSACTION
		BEGIN
			INSERT INTO TBLIMAGES (IMAGEPATH, FILENAME, DOCUMENTID, CASE_ID, SCANDATE, USERID, RECORDDESCRIPTOR) 
			VALUES (@IMAGEPATH, @FILENAME, @DOCUMENTID, @CASEID, @SCANDATE, @USERID, @RECORDDESCRIPTOR)
			IF @@ERROR <> 0
			BEGIN
				SET @IMAGE_ID = -1
				GOTO ERR_HANDLE
			END
			
			SELECT @IMAGE_ID = MAX(IMAGEID) FROM TBLIMAGES
		END
		
ERR_HANDLE:
	IF @@ERROR<>0
		BEGIN
			ROLLBACK TRANSACTION
			RETURN @IMAGE_ID
		END
	ELSE
		BEGIN	
			COMMIT TRANSACTION
			RETURN @IMAGE_ID
		END

GO
