USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EVENTS_FOR_DATE]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_EVENTS_FOR_DATE] --'1/5/2011'
(
	@Event_Date varchar(10)
)
as
begin
	SELECT 
		EVT.CASE_ID [CASE ID],
		EVTTYPE.EVENTTYPENAME[EVENT TYPE],
		EVTSTATUS.EVENTSTATUSNAME [EVENT STATUS], 
		CONVERT(NVARCHAR(11),EVT.EVENT_DATE,101) [EVENT DATE], 
		ISNULL(CONVERT(NVARCHAR(5),EVT.EVENT_TIME,114),'')[EVENT TIME],
		ISNULL(EVT.EVENT_NOTES,'') [EVENT DESCRIPTION],
		EVT.ASSIGNED_TO[ASSIGNED TO],
		PROVIDER_NAME[PROVIDER NAME], 
		INJUREDPARTY_NAME[INJUREDPARTY NAME], 
		Court_Name[COURT NAME],
		COURT_VENUE[COURT VENUE],
		INDEXORAAA_NUMBER[INDEXORAAA NUMBER],
		DEFENDANT_NAME[DEFENDANT NAME],
		INSURANCECOMPANY_NAME[INSURANCECOMPANY NAME],
		VW.STATUS [STATUS],
		Claim_Amount [CLAIM AMOUNT]
	FROM 
		TBLEVENT EVT JOIN TBLEVENTTYPE EVTTYPE 
		ON EVTTYPE.EVENTTYPEID = EVT.EVENTTYPEID 
		JOIN TBLEVENTSTATUS EVTSTATUS 
		ON EVTSTATUS.EVENTSTATUSID = EVT.EVENTSTATUSID 
		JOIN LCJ_VW_CASESEARCHDETAILS VW 
		ON EVT.CASE_ID=VW.CASE_ID 
	WHERE 
		EVT.EVENT_DATE = @EVENT_DATE 
	ORDER BY 
		Court_Name,
		COURT_VENUE,
		EVT.EVENT_TIME 
end

GO
