USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[PRINTSUMMONS]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRINTSUMMONS](
@DT INT
)
AS
BEGIN
SELECT * FROM LCJ_VW_CASESEARCHDETAILS WHERE DATEDIFF(D,DATE_OPENED,GETDATE())=@DT ORDER BY DATE_OPENED ASC
END

GO
