USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[Get_Cases_By_Status]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Cases_By_Status]--''
@Status varchar(500)
AS
BEGIN
	--SELECT Case_AutoId,Case_Id from tblcase where Status=@Status
	select case_autoid, case_id from tblcase where Case_Id in('FH10-69962',
'FH10-69961',
'FH10-69960',
'FH10-69957',
'FH10-69950',
'FH10-69947',
'FH10-69946',
'FH10-69944',
'FH10-69943',
'FH10-69941',
'FH10-69940',
'FH10-69937',
'FH10-69936',
'FH10-69935',
'FH10-69932',
'FH10-69929',
'FH10-69928',
'FH10-69927',
'FH10-69924',
'FH10-69922',
'FH10-69920',
'FH10-69917',
'FH10-69916',
'FH10-69914',
'FH10-69913',
'FH10-69912',
'FH10-69910',
'FH10-69905',
'FH10-69904',
'FH10-69903',
'FH10-69902',
'FH10-69901',
'FH10-69899',
'FH10-69898',
'FH10-69897',
'FH10-69895',
'FH10-69893',
'FH10-69890',
'FH10-69888',
'FH10-69886',
'FH10-69885',
'FH10-69883',
'FH10-69882',
'FH10-69879',
'FH10-69878',
'FH10-69875',
'FH10-69872',
'FH10-69866',
'FH10-69857',
'FH10-69851',
'FH10-69850',
'FH10-69849',
'FH10-69846',
'FH10-69845',
'FH10-69844',
'FH10-69843',
'FH10-69840',
'FH10-69838',
'FH10-69837',
'FH10-69831',
'FH10-69829',
'FH10-69828',
'FH10-69826',
'FH10-69817',
'FH10-69799',
'FH10-69792',
'FH10-69790',
'FH10-69789',
'FH10-69788',
'FH10-69786',
'FH10-69785',
'FH10-69784',
'FH10-69783',
'FH10-69780',
'FH10-69775',
'FH10-69771',
'FH10-69766',
'FH10-69762',
'FH10-69758',
'FH10-69756',
'FH10-69754',
'FH10-69753',
'FH10-69744',
'FH10-69740',
'FH10-69738',
'FH10-69737',
'FH10-69735',
'FH10-69733',
'FH10-69731',
'FH10-69726',
'FH10-69725',
'FH10-69722',
'FH10-69714',
'FH10-69704',
'FH10-69695',
'FH10-69691',
'FH10-69690',
'FH10-69678',
'FH10-69676',
'FH10-69665',
'FH10-69662',
'FH10-69648',
'FH10-69647',
'FH10-69645',
'FH10-69630',
'FH10-69628',
'FH10-69627',
'FH10-69619',
'FH10-69617',
'FH10-69605',
'FH10-69604',
'FH10-69603',
'FH10-69600',
'FH10-69599',
'FH10-69598',
'FH10-69593',
'FH10-69581',
'FH10-69579',
'FH10-69577',
'FH10-69572',
'FH10-69571',
'FH10-69568',
'FH10-69565',
'FH10-69564',
'FH10-69561',
'FH10-69559',
'FH10-69555',
'FH10-69552',
'FH10-69551',
'FH10-69535',
'FH10-69534',
'FH10-69531',
'FH10-69518',
'FH10-69510',
'FH10-69494',
'FH10-69493',
'FH10-69478',
'FH10-69445',
'FH10-69444',
'FH10-69435',
'FH10-69432',
'FH10-69431',
'FH10-69428',
'FH10-69397',
'FH10-69384',
'FH10-69381',
'FH10-69380',
'FH10-69379',
'FH10-69377',
'FH10-69374',
'FH10-69366',
'FH10-69361',
'FH10-69360',
'FH10-69358',
'FH10-69353',
'FH10-69351',
'FH10-69350',
'FH10-69344',
'FH10-69342',
'FH10-69338',
'FH10-69330',
'FH10-69329',
'FH10-69328',
'FH10-69326',
'FH10-69325',
'FH10-69311',
'FH10-69310',
'FH10-69308',
'FH10-69307',
'FH10-69304',
'FH10-69303',
'FH10-69302',
'FH10-69301',
'FH10-69298',
'FH10-69296',
'FH10-69295',
'FH10-69292',
'FH10-69291',
'FH10-69290',
'FH10-69289',
'FH10-69288',
'FH10-69287',
'FH10-69286',
'FH10-69284',
'FH10-69280',
'FH10-69279',
'FH10-69278',
'FH10-69274',
'FH10-69273',
'FH10-69272',
'FH10-69268',
'FH10-69261',
'FH10-69257',
'FH10-69256',
'FH10-69251',
'FH10-69250',
'FH10-69244',
'FH10-69238',
'FH10-69234',
'FH10-69229',
'FH10-69228',
'FH10-69214',
'FH10-69213',
'FH10-69212',
'FH10-69211',
'FH10-69209',
'FH10-69192',
'FH10-69190',
'FH10-69188',
'FH10-69187',
'FH10-69184',
'FH10-69182',
'FH10-69181',
'FH10-69180',
'FH10-69179',
'FH10-69178',
'FH10-69177',
'FH10-69176',
'FH10-69172',
'FH10-69171',
'FH10-69168',
'FH10-69167',
'FH10-69164',
'FH10-69163',
'FH10-69161',
'FH10-69158',
'FH10-69149',
'FH10-69148',
'FH10-69147',
'FH10-69145',
'FH10-69142',
'FH10-69141',
'FH10-69140',
'FH10-69139',
'FH10-69137',
'FH10-69136',
'FH10-69135',
'FH10-69130',
'FH10-69125',
'FH10-69124',
'FH10-69122',
'FH10-69120',
'FH10-69118',
'FH10-69117',
'FH10-69114',
'FH10-69113',
'FH10-69109',
'FH10-69098',
'FH10-69074',
'FH10-69070',
'FH10-69065',
'FH10-69060',
'FH10-69053',
'FH10-69052',
'FH10-69051',
'FH10-69046',
'FH10-69041',
'FH10-69037',
'FH10-69035',
'FH10-69008',
'FH10-69003',
'FH10-68995',
'FH10-68988',
'FH10-68967',
'FH10-68966',
'FH10-68964',
'FH10-68961',
'FH10-68960',
'FH10-68957',
'FH10-68956',
'FH10-68955',
'FH10-68952',
'FH10-68950',
'FH10-68944',
'FH10-68924',
'FH10-68914',
'FH10-68909',
'FH10-68907',
'FH10-68905',
'FH10-68904',
'FH10-68902',
'FH10-68901',
'FH10-68900',
'FH10-68899')
END

GO
