USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_MANAGE_FILE_UPLOAD]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MANAGE_FILE_UPLOAD]
	@SZ_CASE_ID NVARCHAR(50) = NULL,
	@SZ_USER_NAME NVARCHAR(20) = NULL,
	@SZ_PROCESS_ID NVARCHAR(10) = NULL,
	@SZ_FILENAME NVARCHAR(255) = NULL,
	@SZ_UPLOAD_LOCATION NVARCHAR(500) = NULL,
	@I_UPLOAD_STATUS int=null,
	@SZ_PROCESSING_ERROR NVARCHAR(500) = NULL,
	@SZ_OPERATION NVARCHAR(30) = NULL
AS
BEGIN
	DECLARE @I_TRANSACTION_ID INT
	SET @I_TRANSACTION_ID = 1

	IF @SZ_OPERATION = 'SHOW-LIST'
	BEGIN
		SELECT I_TRANSACTION_ID [TRANSACTION],SZ_CASE_ID [CASE],
		CONVERT(NVARCHAR(20),GETDATE(),113) UPLOADED, I_UPLOAD_STATUS = 
			CASE
				WHEN I_UPLOAD_STATUS = 0 THEN 'FILE IS BEING PROCESSED'
				WHEN I_UPLOAD_STATUS = 1 THEN '<a href=' + 'http://192.168.100.3/FileSpace' + '/' + SZ_FILENAME +'>FILE IS PROCESSED SUCCESSFULLY</a>'
				WHEN I_UPLOAD_STATUS = 2 THEN 'TECHNICAL ERROR'
			END
		FROM MCR_TXN_FILE_UPLOAD
		WHERE SZ_USER_NAME = @SZ_USER_NAME AND SZ_CASE_ID = @SZ_CASE_ID
	END

	IF @SZ_OPERATION = 'CHECK-FOR-VALID-CASE-ID'
	BEGIN
		IF (SELECT COUNT(CASE_ID) FROM TBLCASE WHERE CASE_ID = @SZ_CASE_ID) > 0
		BEGIN
			RETURN  1
		END
		ELSE
		BEGIN
			RETURN 0
		END
	END

	IF @SZ_OPERATION = 'ADD'
		BEGIN
			INSERT INTO MCR_TXN_FILE_UPLOAD(SZ_CASE_ID,
												SZ_USER_NAME,
												DT_UPLOAD_TIME,
												SZ_PROCESS_ID,
												SZ_FILENAME,
												SZ_UPLOAD_LOCATION,
												I_UPLOAD_STATUS)
			VALUES(@SZ_CASE_ID,@SZ_USER_NAME,DEFAULT,@SZ_PROCESS_ID,@SZ_FILENAME,@SZ_UPLOAD_LOCATION,0)
		END
	
	IF @SZ_OPERATION = 'UPDATE-STATUS'
		BEGIN
			UPDATE MCR_TXN_FILE_UPLOAD
				Set 	I_UPLOAD_STATUS=@I_UPLOAD_STATUS,
						SZ_PROCESSING_ERROR=@SZ_PROCESSING_ERROR
			Where SZ_FILENAME = @SZ_FILENAME AND SZ_CASE_ID = @SZ_CASE_ID
		END
END

GO
