USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_SETTLEDANDPAID]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_SETTLEDANDPAID] --'0','1993','01/01/2008','01/01/2011','',''
(
	@SZ_INSURANCE_ID VARCHAR(255),
	@SZ_PROVIDER_ID VARCHAR(255),
	@SZ_START_DATE VARCHAR(50),
	@SZ_END_DATE VARCHAR(10),
	@PROVIDER_GROUP VARCHAR(10),
	@INSURANCE_GROUP VARCHAR(10)
)
AS
BEGIN

	DECLARE @STRQUERY VARCHAR(MAX)
	DECLARE @STRGROUP VARCHAR(MAX)
	DECLARE @STRWHERE VARCHAR(MAX)

	SET @STRQUERY = 'SELECT 
			YEAR(SETTLEMENT_DATE) AS YEARSET,
			COUNT(DISTINCT C.CASE_ID) AS NOOFCASES,
			AVG(DATEDIFF(D,SETTLEMENT_DATE,T.TRANSACTIONS_DATE)) AS AVGDAYSSETTLEDPAID 
		FROM 
			LCJ_VW_CASESEARCHDETAILS C INNER JOIN TBLTRANSACTIONS T 
			ON C.CASE_ID=T.CASE_ID 
		WHERE 
			T.TRANSACTIONS_TYPE=''C'' 
			AND C.SETTLEMENT_DATE IS NOT NULL 
			AND T.TRANSACTIONS_DATE IS NOT NULL '

	IF @PROVIDER_GROUP = '1' AND @PROVIDER_GROUP <> 'ALL'
	BEGIN
		SET @STRWHERE  = ' AND PROVIDER_GROUPNAME IN (SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID =  ' + @SZ_PROVIDER_ID + ') '
	END
	ELSE IF @SZ_PROVIDER_ID <> 'ALL'
	BEGIN
		SET @STRWHERE  = ' AND C.PROVIDER_ID =  ''' + @SZ_PROVIDER_ID + ''''
	END
	IF @INSURANCE_GROUP  = '1' AND @INSURANCE_GROUP <> 'ALL'
	BEGIN
		SET @STRWHERE  = @STRWHERE +  ' AND INSURANCECOMPANY_GROUPNAME IN (SELECT INSURANCECOMPANY_GROUPNAME FROM TBLINSURANCECOMPANY WHERE INSURANCECOMPANY_ID =  ' + @SZ_INSURANCE_ID  + ') '
	END
	ELSE IF @SZ_INSURANCE_ID <> '0'
	BEGIN
		SET @STRWHERE  = @STRWHERE + ' AND INSURANCECOMPANY_ID =  ' + @SZ_INSURANCE_ID
	END

	SET @STRWHERE = @STRWHERE + ' AND
			CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= REPLACE(''' + @SZ_START_DATE + ''',''/'',''-'') 
			AND  
			CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= REPLACE(''' + @SZ_END_DATE + ''',''/'',''-'')'



	SET @STRGROUP = ' GROUP BY YEAR(SETTLEMENT_DATE) ORDER BY YEAR(SETTLEMENT_DATE)'

	PRINT(@STRQUERY + @STRWHERE + @STRGROUP)
	EXEC(@STRQUERY + @STRWHERE + @STRGROUP)

END

GO
