USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_MST_DIAGNOSIS_CODE]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_MST_DIAGNOSIS_CODE]
@DomainId NVARCHAR(50),
@SZ_DIAGNOSIS_CODE_ID		INT=NULL


AS
BEGIN

		DELETE FROM  MST_DIAGNOSIS_CODE
		WHERE SZ_DIAGNOSIS_CODE_ID=@SZ_DIAGNOSIS_CODE_ID
		AND DomainId=@DomainId
END

GO
