USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[batch_print_offline_email_status_save]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[batch_print_offline_email_status_save] 
	@fk_batch_print_id			INT,
	@case_Id					NVARCHAR(100),
	@DomainID					VARCHAR(50),
	@fk_batch_entity_type_id	INT,
	@documentImageID			BIGINT,
	@emailStatus				VARCHAR(10),
	@emailStatusDate			DATETIME,	
	@emailAcknowledgementKey	UNIQUEIDENTIFIER,
	@ResendCount				INT
AS BEGIN
	DECLARE @pk_bp_ef_status_id	BIGINT

	IF NOT EXISTS(SELECT 1 FROM tbl_batch_print_offline_email_fax_status WHERE fk_batch_print_id = @fk_batch_print_id AND case_Id = @case_Id AND fk_batch_entity_type_id = @fk_batch_entity_type_id AND ISNULL(isDeleted,0) = 0)
	BEGIN
			INSERT INTO tbl_batch_print_offline_email_fax_status
			(
				fk_batch_print_id,		
				case_Id,
				DomainID,
				fk_batch_entity_type_id,
				documentImageID,
				emailStatus,
				emailStatusDate,				
				isDeleted,
				emailAcknowledgementKey,
				isEmailAcknowledged,
				emailAcknowledgementDate,				
				in_progress,
				ResendCount
			)
			VALUES
			(
				@fk_batch_print_id,
				@case_Id,
				@DomainID,
				@fk_batch_entity_type_id,
				CASE WHEN @documentImageID = -1 THEN NULL ELSE @documentImageID END,
				@emailStatus,
				@emailStatusDate,				
				0,
				@emailAcknowledgementKey,
				0,
				NULL,
				0,
				@ResendCount
			)

			SET @pk_bp_ef_status_id = SCOPE_IDENTITY()
	END
	ELSE
	BEGIN
			UPDATE
				tbl_batch_print_offline_email_fax_status
			SET
				documentImageID			=	CASE WHEN @documentImageID = -1 THEN NULL ELSE @documentImageID END,
				emailStatus				=	@emailStatus,
				emailStatusDate			=	@emailStatusDate,
				ResendCount				=	@ResendCount
			WHERE
				fk_batch_print_id		=	@fk_batch_print_id AND
				case_Id					=	@case_Id AND
				fk_batch_entity_type_id	=	@fk_batch_entity_type_id AND
				ISNULL(isDeleted,0)		=	0

			SELECT TOP 1
				@pk_bp_ef_status_id		=	pk_bp_ef_status_id 
			FROM 
				tbl_batch_print_offline_email_fax_status 
			WHERE 
				fk_batch_print_id		=	@fk_batch_print_id AND 
				case_Id					=	@case_Id AND
				fk_batch_entity_type_id	=	@fk_batch_entity_type_id AND
				ISNULL(isDeleted,0)		=	0
	END	

	SELECT 
		@pk_bp_ef_status_id AS pk_bp_ef_status_id,
		'Inserted Successfully..!!' as Result
END
GO
