USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SCHEDULER_STATUS_UPDATE]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SCHEDULER_STATUS_UPDATE]
@DomainId NVARCHAR(50)
AS
BEGIN

DECLARE @CASE_ID AS NVARCHAR(100)
DECLARE @DATE_STATUS_CHANGED AS DATETIME
DECLARE CASE_CURSOR CURSOR FOR
SELECT CASE_ID,DATE_CHANGED FROM MST_STATUS_LOG 
WHERE STATUS_BIT = 1

OPEN CASE_CURSOR
FETCH NEXT FROM CASE_CURSOR
INTO @CASE_ID,@DATE_STATUS_CHANGED

WHILE @@FETCH_STATUS = 0
BEGIN
	IF DATEDIFF(DD,@DATE_STATUS_CHANGED,getdate())>=21
	BEGIN
		print(@CASE_ID)
		UPDATE TBLCASE SET STATUS='OPEN 2' WHERE CASE_ID=@CASE_ID
		UPDATE MST_STATUS_LOG SET STATUS_BIT = 0,DATE_CHANGED=getdate() WHERE CASE_ID=@CASE_ID and DomainId=@DomainId
	Insert into tblNotes (Notes_Desc,	Notes_Type,	Notes_Priority,	Case_Id,	Notes_Date,	User_Id,	DomainId)
	values ('Requested documentation not received within 21 days','Activity',0,@CASE_ID,getdate(),'system',@DomainId)
	END

	FETCH NEXT FROM CASE_CURSOR INTO @CASE_ID,@DATE_STATUS_CHANGED
END
CLOSE CASE_CURSOR
DEALLOCATE CASE_CURSOR

END

GO
