USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_SCHEDULER_ASSIGN_SETTLED_CASES]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SCHEDULER_ASSIGN_SETTLED_CASES]
AS
BEGIN

DECLARE @CASE_ID AS NVARCHAR(100)
DECLARE @desc AS NVARCHAR(200)
DECLARE @USER AS INT
DECLARE @DATE_STATUS_CHANGED AS DATETIME
DECLARE @USER_ID AS NVARCHAR(100)
DECLARE @STATUS AS NVARCHAR(100)
DECLARE CASE_CURSOR CURSOR FOR
SELECT CASE_ID,DATE_CHANGED,USER_ID FROM TXN_ASSIGN_SETTLED_CASES 
WHERE isChanged = 1

OPEN CASE_CURSOR
FETCH NEXT FROM CASE_CURSOR
INTO @CASE_ID,@DATE_STATUS_CHANGED,@USER_ID

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @STATUS = (SELECT STATUS FROM TBLCASE WHERE CASE_ID=@CASE_ID)
	IF @STATUS = 'SETTLED'
	BEGIN
		IF DATEDIFF(DD,@DATE_STATUS_CHANGED,getdate())>=3
		BEGIN
			SET @USER = (SELECT top 1 UserId from Issuetracker_Users where UserName=@USER_ID)
			IF EXISTS(SELECT 1 FROM TBLCASEDESKHISTORY WHERE CASE_ID=@Case_Id AND TO_USER_ID=@USER AND BT_STATUS=1)
			BEGIN
				UPDATE TBLCASEDESKHISTORY SET LOGIN_USER_ID=0,DATE_CHANGED=GETDATE() WHERE CASE_ID=@Case_Id AND TO_USER_ID=@USER AND BT_STATUS=1
			END
			ELSE
			BEGIN
				insert into tblCaseDeskHistory
				(
					Case_Id,
					Login_User_ID,
					From_User_ID,
					To_User_ID,
					Date_Changed,
					Change_Reason,
					Bt_Status
				)
				values
				(
					@Case_Id,
					0,
					null,
					@USER,
					getdate(),
					'SETTLED-SIGNED STIP NOT RECEIVED WITHIN 3 DAYS OF CASE SETTLEMENT',
					1
				)

				SET @desc = 'Case assigned to ' + @User_Id + ' after 3 days of case settlement'
				exec LCJ_AddNotes @case_id=@Case_Id,@Notes_Type='Activity',@Ndesc = @desc,@user_Id='system',@ApplyToGroup = 0        

				UPDATE TXN_ASSIGN_SETTLED_CASES SET isChanged = 0,DATE_CHANGED=getdate() WHERE CASE_ID=@CASE_ID
			END
		END
	END
	ELSE
	BEGIN
		IF EXISTS(SELECT 1 FROM TBLCASEDESKHISTORY WHERE CASE_ID=@Case_Id AND TO_USER_ID=@USER)
		BEGIN
			UPDATE TBLCASEDESKHISTORY SET BT_STATUS=0 WHERE CASE_ID=@Case_Id AND TO_USER_ID=@USER
		END
	END
	FETCH NEXT FROM CASE_CURSOR INTO @CASE_ID,@DATE_STATUS_CHANGED,@USER_ID
END
CLOSE CASE_CURSOR
DEALLOCATE CASE_CURSOR

END

GO
