USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_ACTIVE_BILLING_STATUSES]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_ACTIVE_BILLING_STATUSES]
AS
BEGIN

		--select CASE_ID,DATEDIFF(DD,Date_Status_Changed,GETDATE()),Status,Date_Status_Changed from tblcase WHERE STATUS like 'ACTIVE BILLING DELAYED 60' AND DATEDIFF(DD,Date_Status_Changed,GETDATE()) > 60 AND DomainId='glf'

		INSERT INTO tblNotes(Notes_Desc,Notes_Type,Notes_Priority,Case_Id,Notes_Date,User_Id,DomainID)

		select 'Status changed from ' + Status + ' to ACTIVE BILLING DELAYED 60', 'Activity', 1, Case_Id, getdate(), 'admin', 'GLF' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 60
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) < 91
		  AND STATUS <> 'ACTIVE BILLING DELAYED 60'
		  AND cas.DomainId='glf'
		UNION
		select 'Status changed from ' + Status + ' to ACTIVE BILLING DELAYED 90', 'Activity', 1, Case_Id, getdate(), 'admin', 'GLF' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 90
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) < 121
		  AND STATUS <> 'ACTIVE BILLING DELAYED 90'
		  AND cas.DomainId='glf'
		UNION
		select 'Status changed from ' + Status + ' to ACTIVE BILLING DELAYED 120', 'Activity', 1, Case_Id, getdate(), 'admin', 'GLF' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 120
		  AND STATUS <> 'ACTIVE BILLING DELAYED 120'
		  AND cas.DomainId='glf'

	
		UPDATE TBLCASE SET STATUS='ACTIVE BILLING DELAYED 60' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 60
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) < 91
		  AND STATUS <> 'ACTIVE BILLING DELAYED 60'
		  AND cas.DomainId='glf'
	
		UPDATE TBLCASE SET STATUS='ACTIVE BILLING DELAYED 90' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 90
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) < 121
		  AND STATUS <> 'ACTIVE BILLING DELAYED 90'
		  AND cas.DomainId='glf'

		UPDATE TBLCASE SET STATUS='ACTIVE BILLING DELAYED 120' 
		from tblcase  cas (NOLOCK)
		INNER JOIN TXN_VERIFICATION_REQUEST vr (NOLOCK) on cas.case_id = vr.SZ_CASE_ID
		WHERE STATUS IN ('ACTIVE BILLING','ACTIVE BILLING LS','ACTIVE BILLING NEED PROVIDER/INS CO INFO','ACTIVE BILLING POM GENERATED','ACTIVE BILLING POM RECEIVED','ACTIVE BILLING RESUBMITTED','ACTIVE BILLING TO BE MAILED','ACTIVE BILLING DELAYED','ACTIVE BILLING DELAYED 120','ACTIVE BILLING DELAYED 60','ACTIVE BILLING DELAYED 90')
		  AND VR.DT_VERIFICATION_REPLIED is null  
		  AND DATEDIFF(DD,VR.DT_VERIFICATION_RECEIVED,GETDATE()) > 120
		  AND STATUS <> 'ACTIVE BILLING DELAYED 120' 
		  AND cas.DomainId='glf'


		
		INSERT INTO tblNotes(Notes_Desc,Notes_Type,Notes_Priority,Case_Id,Notes_Date,User_Id,DomainID)
		select 'Summons and Complaint Expiration Date :'+Convert(Varchar,GETDATE(),101)+' generated','Activity',1,Case_Id,GETDATE(),'admin','amt'
		from tblCase_Date_Details
		where DATEDIFF(DD,Summons_and_Complaint_Date,GETDATE())>90 and DomainId='amt' and Date_Summons_Expires is null
		

		Update tblCase_Date_Details set Date_Summons_Expires=GETDATE()
		where DATEDIFF(DD,Summons_and_Complaint_Date,GETDATE())>90 and DomainId='amt'  and Date_Summons_Expires is null

END
GO
