USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[LCJ_GETFILINGFEECASES]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LCJ_GETFILINGFEECASES]  
@DomainId NVARCHAR(50)
AS  
BEGIN  
SELECT distinct case_id,*,(CASE InsuranceCompany_type 
WHEN 1 THEN 95.00 ELSE 55.00 END) AS 'fees' FROM   
LCJ_VW_cASESEARCHDETAILS A 
WHERE DATE_SUMMONS_PRINTED IS NOT NULL AND   
0 = (SELECT COUNT(*) FROM TBLTRANSACTIONS B 
WHERE TRANSACTIONS_TYPE = 'FFB' AND B.CASE_ID=A.CASE_ID AND TRANSACTIONS_DESCRIPTION = 'INDEX FEES' and DomainId=@DomainId)  
AND STATUS in ('SUMMONS-PRINTED','SUMMONS PRINTED','SUMMONS-PRINTED AWAITING VERIFICATION','SUMMONS-PRINTED NEED REPRINT')
and DomainId=@DomainId  
order by court_name,insurancecompany_name,A.Case_Id,date_opened  
END

GO
