USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_SUMMARYDATA]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_SUMMARYDATA]--@SZ_PROVIDER_ID='1993',@SZ_QUERY='TOTALPAID'
	@SZ_PROVIDER_ID NVARCHAR(50),
	@SZ_START_DATE NVARCHAR(50)=NULL,
	@SZ_END_DATE NVARCHAR(50)=NULL,
	@SZ_QUERY VARCHAR(MAX),
	@PROVIDER_GROUP VARCHAR(10)
AS
BEGIN
IF @PROVIDER_GROUP <> '0'
BEGIN
	IF @SZ_QUERY = 'TOTALCASES'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			TBLCASE
		WHERE PROVIDER_ID IN
			(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
				(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))

	END
	ELSE IF @SZ_QUERY = 'TOTALINDEX'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			TBLCASE
		WHERE 
			PROVIDER_ID IN
			(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
				(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
			AND
			(IndexOrAAA_Number <> NULL OR IndexOrAAA_Number <> '')
	END
	ELSE IF @SZ_QUERY = 'TOTALPAID'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			dbo.[SJR-SETTLED_PAYMENTS_FULL] INNER JOIN dbo.[SJR-SETTLEMENTS_FULL] 
			ON dbo.[SJR-SETTLED_PAYMENTS_FULL].Case_Id = dbo.[SJR-SETTLEMENTS_FULL].Case_Id  
			INNER JOIN dbo.TBLCASE 
			ON dbo.TBLCASE.CASE_ID = dbo.[SJR-SETTLEMENTS_FULL].Case_Id
		WHERE 
			(dbo.[SJR-SETTLEMENTS_FULL].Sett_tot <= dbo.[SJR-SETTLED_PAYMENTS_FULL].Payments+30)
			AND
			PROVIDER_ID IN
			(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
				(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
	END
END
ELSE
BEGIN
	IF @SZ_QUERY = 'TOTALCASES'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			TBLCASE
		WHERE PROVIDER_ID = @SZ_PROVIDER_ID
	END
	ELSE IF @SZ_QUERY = 'TOTALINDEX'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			TBLCASE
		WHERE 
			PROVIDER_ID = @SZ_PROVIDER_ID
			AND
			(IndexOrAAA_Number <> NULL OR IndexOrAAA_Number <> '')
	END
	ELSE IF @SZ_QUERY = 'TOTALPAID'
	BEGIN
		SELECT 
			COUNT(*) AS VALUE
		FROM
			dbo.[SJR-SETTLED_PAYMENTS_FULL] INNER JOIN dbo.[SJR-SETTLEMENTS_FULL] 
			ON dbo.[SJR-SETTLED_PAYMENTS_FULL].Case_Id = dbo.[SJR-SETTLEMENTS_FULL].Case_Id  
			INNER JOIN dbo.TBLCASE 
			ON dbo.TBLCASE.CASE_ID = dbo.[SJR-SETTLEMENTS_FULL].Case_Id
		WHERE 
			(dbo.[SJR-SETTLEMENTS_FULL].Sett_tot <= dbo.[SJR-SETTLED_PAYMENTS_FULL].Payments+30)
			AND
			PROVIDER_ID = @SZ_PROVIDER_ID
	END
END
END

GO
