USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[STP_GETCHILDFOLDERTOCOPY]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--STP_GETCHILDFOLDERTOCOPY 13, '2222'
CREATE PROCEDURE  [dbo].[STP_GETCHILDFOLDERTOCOPY]
@NODEID INT,
@CASEID VARCHAR(255)
AS

--DECLARE @NODEID INT
--DECLARE @CASEID INT
DECLARE @SOURCENODEID INT
DECLARE @NODENAME VARCHAR(255)
DECLARE @TABLE TABLE(FILENAME VARCHAR(255),SOURCEPATH VARCHAR(255), DESTPATH VARCHAR(255), TYPE CHAR, IMAGEID INT, TAGID INT)
DECLARE @TABLE1 TABLE(NODEID INT,PARENTID INT, NODENAME VARCHAR(255), NODELEVEL INT)

--SET @NODEID=13
--SET @CASEID=2222

SELECT NODEID, PARENTID, NODENAME, NODELEVEL, CaseID FROM TBLTAGS WHERE PARENTID=@NODEID
UNION
SELECT T1.NODEID, T.NODEID, T.NODENAME, T1.NODELEVEL, T.CaseID FROM TBLTAGS T
INNER JOIN TBLTAGS T1 ON T1.PARENTID=T.NODEID AND T1.NODEID>T.PARENTID AND T1.NODELEVEL>T.NODELEVEL
WHERE T.CASEID=@CASEID AND T1.CASEID=@CASEID AND T.PARENTID IS NOT NULL AND T1.PARENTID IS NOT NULL
AND T1.NODEID>=@NODEID AND T1.PARENTID>=@NODEID 
AND T.PARENTID>=@NODEID AND T.NODEID>=@NODEID 

--SELECT * FROM @TABLE1

GO
