USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[Downlaod_Documents]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
CREATE PROCEDURE [dbo].[Downlaod_Documents]-- [Downlaod_Documents] 'GLF18-103507','GLF'  
 (  
  @s_a_case_id varchar(max)= 'GLF18-100001',--'RFA14-166802'  
  @s_a_DomainID VARCHAR(50)='GLF'  
 )-- Add the parameters for the stored procedure here  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
     
 SELECT REPLACE(FilePath + Filename,'/','\')  AS ImagePath,  
  CaseID+'\' + NodeName +'\'+ Filename AS ImagePathNew,  
  I.BasePathId,  
  BasePathType ,
  CaseID 
 from dbo.TBLDOCIMAGES I  (nolock) 
 inner Join dbo.tblImageTag IT (nolock)  on IT.ImageID=i.ImageID   
 inner Join dbo.tblTags T (nolock)  on T.NodeID = IT.TagID   
 LEFT OUTER JOIN dbo.tblBasePath b (nolock)  ON I.BasePathID = b.BasePathID  
 WHERE -- T.CaseID IN (SELECT LTRIM(RTRIM(items)) FROM dbo.STRING_SPLIT(@s_a_case_id,','))  
 --AND
  T.DomainId  = 'GLF'  
 AND CaseID IN ('ACT18-112452', 'ACT18-112466', 'ACT18-115707', 'ACT18-115709', 'ACT18-115723', 'ACT18-123242', 'ACT18-123669', 'ACT18-123744', 'ACT18-123745', 'ACT19-124360', 'ACT19-129269', 'GLF18-100141', 'GLF18-100144', 'GLF18-100223', 'GLF18-100254', 'GLF18-101838', 'GLF18-101839', 'GLF18-102223', 'GLF18-102507', 'GLF18-103615', 'GLF18-103694', 'GLF18-104281', 'GLF18-104326', 'GLF18-104651', 'GLF18-104772', 'GLF18-104775', 'GLF18-104831', 'GLF18-104835', 'GLF18-104965', 'GLF18-105014', 'GLF18-105051', 'GLF18-105404', 'GLF18-105412', 'GLF18-105595', 'GLF18-105600', 'GLF18-105678', 'GLF18-105679', 'GLF18-105920', 'GLF18-105982', 'GLF18-106015', 'GLF18-106266', 'GLF18-106273', 'GLF19-106552', 'GLF19-106837', 'GLF19-106838', 'GLF19-106945', 'GLF19-107375', 'GLF19-107462', 'GLF19-107590', 'GLF19-107591', 'GLF19-107592', 'GLF19-107593', 'GLF19-107594', 'GLF19-107595', 'GLF19-107598', 'GLF19-107599', 'GLF19-107600', 'GLF19-107601', 'GLF19-107602', 'GLF19-107603', 'GLF19-107605', 'GLF19-107608', 'GLF19-107610', 'GLF19-107612', 'GLF19-107614', 'GLF19-107615', 'GLF19-107616', 'GLF19-107617', 'GLF19-107618', 'GLF19-107619', 'GLF19-107620', 'GLF19-107621', 'GLF19-107622', 'GLF19-107624', 'GLF19-107626', 'GLF19-107628', 'GLF19-107630', 'GLF19-107631', 'GLF19-107634', 'GLF19-107636', 'GLF19-107637', 'GLF19-107639', 'GLF19-107641', 'GLF19-107642', 'GLF19-107643', 'GLF19-107644', 'GLF19-107646', 'GLF19-107648', 'GLF19-107649', 'GLF19-107650', 'GLF19-107651', 'GLF19-107654', 'GLF19-107655', 'GLF19-107656', 'GLF19-107658', 'GLF19-107659', 'GLF19-107660', 'GLF19-107661', 'GLF19-107662', 'GLF19-107663', 'GLF19-107664', 'GLF19-107665', 'GLF19-107666', 'GLF19-107667', 'GLF19-107668', 'GLF19-107669', 'GLF19-107670', 'GLF19-107671', 'GLF19-107672', 'GLF19-107673', 'GLF19-107674', 'GLF19-107675', 'GLF19-107676', 'GLF19-107677', 'GLF19-107678', 'GLF19-107679', 'GLF19-107680', 'GLF19-107681', 'GLF19-107682', 'GLF19-107683', 'GLF19-107684', 'GLF19-107685', 'GLF19-107686', 'GLF19-107687', 'GLF19-107688', 'GLF19-107689', 'GLF19-107690', 'GLF19-107691', 'GLF19-107692', 'GLF19-107693', 'GLF19-107694', 'GLF19-107695', 'GLF19-107696', 'GLF19-107697', 'GLF19-107698', 'GLF19-107699', 'GLF19-107700', 'GLF19-107701', 'GLF19-107705', 'GLF19-107706', 'GLF19-107708', 'GLF19-107710', 'GLF19-107711', 'GLF19-107712', 'GLF19-107713', 'GLF19-107714', 'GLF19-107717', 'GLF19-107718', 'GLF19-107719', 'GLF19-107720', 'GLF19-107721', 'GLF19-107722', 'GLF19-107723', 'GLF19-107724', 'GLF19-107725', 'GLF19-107726', 'GLF19-107727', 'GLF19-107728', 'GLF19-107729', 'GLF19-107730', 'GLF19-107731', 'GLF19-107732', 'GLF19-107733', 'GLF19-107734', 'GLF19-107735', 'GLF19-107736', 'GLF19-107737', 'GLF19-107738', 'GLF19-107739', 'GLF19-107740', 'GLF19-107741', 'GLF19-107743', 'GLF19-107744', 'GLF19-107745', 'GLF19-107746', 'GLF19-107747', 'GLF19-107748', 'GLF19-107749', 'GLF19-107750', 'GLF19-107751', 'GLF19-107752', 'GLF19-107753', 'GLF19-107754', 'GLF19-107755', 'GLF19-107756', 'GLF19-107758', 'GLF19-107760', 'GLF19-107766', 'GLF19-107767', 'GLF19-107768', 'GLF19-107769', 'GLF19-107770', 'GLF19-107771', 'GLF19-107774', 'GLF19-107775', 'GLF19-107777', 'GLF19-107778', 'GLF19-107781', 'GLF19-107784', 'GLF19-107785', 'GLF19-107786', 'GLF19-107788', 'GLF19-107789', 'GLF19-107790', 'GLF19-107791', 'GLF19-107792', 'GLF19-107793', 'GLF19-107794', 'GLF19-107795', 'GLF19-107796', 'GLF19-107798', 'GLF19-107799', 'GLF19-107800', 'GLF19-107802', 'GLF19-107803', 'GLF19-107804', 'GLF19-107805', 'GLF19-107806', 'GLF19-107807', 'GLF19-107808', 'GLF19-107809', 'GLF19-107810', 'GLF19-107811', 'GLF19-107812', 'GLF19-107813', 'GLF19-107814', 'GLF19-107815', 'GLF19-107816', 'GLF19-107817', 'GLF19-107818', 'GLF19-107819', 'GLF19-107820', 'GLF19-107821', 'GLF19-107822', 'GLF19-107824', 'GLF19-107825', 'GLF19-107826', 'GLF19-107828', 'GLF19-107829', 'GLF19-107830', 'GLF19-107831', 'GLF19-107832', 'GLF19-107833', 'GLF19-107834', 'GLF19-107835', 'GLF19-107836', 'GLF19-107837', 'GLF19-107838', 'GLF19-107841', 'GLF19-107842', 'GLF19-107843', 'GLF19-107844', 'GLF19-107845', 'GLF19-107846', 'GLF19-107848', 'GLF19-107850', 'GLF19-107851', 'GLF19-107852', 'GLF19-107853', 'GLF19-107854', 'GLF19-107855', 'GLF19-107857', 'GLF19-107859', 'GLF19-107861', 'GLF19-107864', 'GLF19-107865', 'GLF19-107872', 'GLF19-107873', 'GLF19-107874', 'GLF19-107875', 'GLF19-107876', 'GLF19-107877', 'GLF19-107879', 'GLF19-107880', 'GLF19-107882', 'GLF19-107885', 'GLF19-107888', 'GLF19-107889', 'GLF19-107890', 'GLF19-107895', 'GLF19-107896', 'GLF19-107897', 'GLF19-107898', 'GLF19-107901', 'GLF19-107902', 'GLF19-107904', 'GLF19-107905', 'GLF19-107906', 'GLF19-107907', 'GLF19-107908', 'GLF19-107909', 'GLF19-107912', 'GLF19-107913', 'GLF19-107916', 'GLF19-107917', 'GLF19-107918', 'GLF19-107919', 'GLF19-107920', 'GLF19-107921', 'GLF19-107922', 'GLF19-107923', 'GLF19-107924', 'GLF19-107925', 'GLF19-107926', 'GLF19-107927', 'GLF19-107931', 'GLF19-107932', 'GLF19-107934', 'GLF19-107937', 'GLF19-107939', 'GLF19-107941', 'GLF19-107943', 'GLF19-107944', 'GLF19-107945', 'GLF19-107946', 'GLF19-107948', 'GLF19-107950', 'GLF19-107952', 'GLF19-107954', 'GLF19-107956', 'GLF19-107958', 'GLF19-107960', 'GLF19-107961', 'GLF19-107963', 'GLF19-107964', 'GLF19-107966', 'GLF19-107968', 'GLF19-107970', 'GLF19-107971', 'GLF19-107973', 'GLF19-107974', 'GLF19-107975', 'GLF19-107976', 'GLF19-107977', 'GLF19-107978', 'GLF19-107979', 'GLF19-107988', 'GLF19-107992', 'GLF19-107997', 'GLF19-107999', 'GLF19-108000', 'GLF19-108004', 'GLF19-108005', 'GLF19-108008', 'GLF19-108012', 'GLF19-108015', 'GLF19-108016', 'GLF19-108018', 'GLF19-108019', 'GLF19-108020', 'GLF19-108021', 'GLF19-108022', 'GLF19-108023', 'GLF19-108024', 'GLF19-108025', 'GLF19-108026', 'GLF19-108027', 'GLF19-108028', 'GLF19-108029', 'GLF19-108030', 'GLF19-108031', 'GLF19-108032', 'GLF19-108033', 'GLF19-108034', 'GLF19-108035', 'GLF19-108036', 'GLF19-108037', 'GLF19-108038', 'GLF19-108039', 'GLF19-108040', 'GLF19-108041', 'GLF19-108042', 'GLF19-108043', 'GLF19-108044', 'GLF19-108045', 'GLF19-108046', 'GLF19-108047', 'GLF19-108048', 'GLF19-108049', 'GLF19-108050', 'GLF19-108051', 'GLF19-108052', 'GLF19-108053', 'GLF19-108054', 'GLF19-108055', 'GLF19-108056', 'GLF19-108060', 'GLF19-108067', 'GLF19-108070', 'GLF19-108071', 'GLF19-108075', 'GLF19-108076', 'GLF19-108077', 'GLF19-108078', 'GLF19-108080', 'GLF19-108081', 'GLF19-108082', 'GLF19-108084', 'GLF19-108085', 'GLF19-108087', 'GLF19-108088', 'GLF19-108090', 'GLF19-108091', 'GLF19-108095', 'GLF19-108096', 'GLF19-108097', 'GLF19-108098', 'GLF19-108099', 'GLF19-108102', 'GLF19-108103', 'GLF19-108104', 'GLF19-108105', 'GLF19-108106', 'GLF19-108108', 'GLF19-108109', 'GLF19-108110', 'GLF19-108111', 'GLF19-108112', 'GLF19-108113', 'GLF19-108114', 'GLF19-108117', 'GLF19-108119', 'GLF19-108120', 'GLF19-108121', 'GLF19-108122', 'GLF19-108123', 'GLF19-108124', 'GLF19-108125', 'GLF19-108126', 'GLF19-108128', 'GLF19-108129', 'GLF19-108133', 'GLF19-108134', 'GLF19-108135', 'GLF19-108136', 'GLF19-108137', 'GLF19-108139', 'GLF19-108140', 'GLF19-108142', 'GLF19-108143', 'GLF19-108146', 'GLF19-108147', 'GLF19-108148', 'GLF19-108149', 'GLF19-108150', 'GLF19-108151', 'GLF19-108153', 'GLF19-108154', 'GLF19-108546', 'GLF19-108575', 'GLF19-109163', 'GLF19-109164', 'GLF19-109166', 'GLF19-109167', 'GLF19-109169', 'GLF19-109170', 'GLF19-109171', 'GLF19-109173', 'GLF19-109174', 'GLF19-109175', 'GLF19-109176', 'GLF19-109178', 'GLF19-109183', 'GLF19-109372', 'GLF19-109373', 'GLF19-109374', 'GLF19-109375', 'GLF19-109377', 'GLF19-109378', 'GLF19-109380', 'GLF19-109382', 'GLF19-109510', 'GLF19-109526', 'GLF19-109527', 'GLF19-109528', 'GLF19-109531', 'GLF19-109532', 'GLF19-109534', 'GLF19-109536', 'GLF19-109540', 'GLF19-109553', 'GLF19-109558', 'GLF19-109563', 'GLF19-109565', 'GLF19-109567', 'GLF19-109568', 'GLF19-109570', 'GLF19-109706', 'GLF19-109716', 'GLF19-109762', 'GLF19-109896', 'GLF19-109898', 'GLF19-109899', 'GLF19-109900', 'GLF19-109902', 'GLF19-109903', 'GLF19-109904', 'GLF19-109905', 'GLF19-109906', 'GLF19-109907', 'GLF19-109908', 'GLF19-109909', 'GLF19-109910', 'GLF19-109912', 'GLF19-109913', 'GLF19-109914', 'GLF19-109915', 'GLF19-109916', 'GLF19-109917', 'GLF19-109918', 'GLF19-109919', 'GLF19-109920', 'GLF19-109921', 'GLF19-109922', 'GLF19-109923', 'GLF19-109924', 'GLF19-109925', 'GLF19-109926', 'GLF19-109927', 'GLF19-109928', 'GLF19-109929', 'GLF19-109931', 'GLF19-109933', 'GLF19-109934', 'GLF19-109943', 'GLF19-109946', 'GLF19-109947', 'GLF19-109948', 'GLF19-109950', 'GLF19-109954', 'GLF19-109956', 'GLF19-109958', 'GLF19-109963', 'GLF19-109965', 'GLF19-109966', 'GLF19-109967', 'GLF19-109968', 'GLF19-109969', 'GLF19-109970', 'GLF19-109971', 'GLF19-110623', 'GLF19-110624', 'GB-142156-1463-HR7418', 'GB-155131-1549-HR7860', 'GB-139805-1417-HR7883', 'GB-155281-1558-HR7927', 'GB-155282-1559-HR7928', 'GB-155315-1572-HR7964', 'GB-159866-1675-HR8259', 'GB-155126-1548-HR8354', 'GB-161275-1716-HR8485', 'GB-164405-1743-HR8575', 'GB-164450-1759-HR8616', 'GB-164460-1764-HR8631', 'GB-166112-1792-HR8781', 'GB-166115-1794-HR8786', 'GB-166122-1801-HR8802', 'GB-157184-1616-HR8825', 'GB-168553-1813-HR8869', 'GB-168563-1815-HR8874', 'GB-169352-1820-HR8926', 'GB-169364-1826-HR8944', 'GB-171544-1844-HR8993', 'GB-172661-1860-HR9041', 'GB-110884-410-CP6493', 'GB-173967-1891-HR9190', 'GB-177567-1955-HR9354', 'GB-178341-1968-HR9398', 'GB-179633-1997-HR9472', 'GB-178360-1981-HR9486', 'GB-171550-1845-HR9636', 'GB-184752-184-OH514')
 --and nodename in ('DENIALS')  
 --AND statusdone ='File Not Found'  
 --AND I.BasePathId = 2  
 AND FileName is not null and FilePath is not null  
 --AND (CaseID like 'ACT%' OR CaseId like 'GLF%')
order by caseid  
 --SELECT REPLACE(FilePath + Filename,'/','\')  AS ImagePath,  
 -- --CaseID+'\' + NodeName +'\'+ Filename AS ImagePathNew,  
 -- Provider_GroupName + '_'+ISNULL(Provider_Local_Address,'') + '\' +   
 -- cas.InjuredParty_LastName+' ' + cas.InjuredParty_FirstName+ '\' +  
 -- CONVERT(VARCHAR,I.ImageID) +'_'+ Filename AS[ImagePathNew] ,  
 -- I.BasePathId,  
 -- BasePathType  
 --from dbo.TBLDOCIMAGES I   
 --inner Join dbo.tblImageTag IT on IT.ImageID=i.ImageID   
 --inner Join dbo.tblTags T on T.NodeID = IT.TagID   
 --LEFT OUTER JOIN dbo.tblBasePath b ON I.BasePathID = b.BasePathID  
 --inner Join dbo.tblcase cas on cas.Case_Id= T.CaseID  
 --inner Join dbo.tblProvider pro on pro.Provider_ID = cas.Provider_Id  
 --WHERE--  T.CaseID IN (SELECT LTRIM(RTRIM(items)) FROM dbo.STRING_SPLIT(@s_a_case_id,','))  
 ----and T.DomainId  = @s_a_DomainID  
 ---- and nodename in ('DENIALS')  
 ----AND statusdone ='File Not Found'  
 ----AND I.BasePathId = 2  
 --T.DomainId = 'GLF'
 --AND FilePath like '%LGM%'
 --AND FileName is not null and FilePath is not null  
END  
GO
