USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_PRELIT]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_PRELIT]--'40552','01/01/2009','01/01/2011','1'
	@SZ_PROVIDER_ID NVARCHAR(20),
	@SZ_START_DATE NVARCHAR(20),
	@SZ_END_DATE NVARCHAR(20),
	@PROVIDER_GROUP VARCHAR(10)
AS
BEGIN
IF @PROVIDER_GROUP <> '0'
BEGIN
	SELECT 
		(CONVERT(NVARCHAR(20),YEAR(DATE_OPENED)))+ '/' + 
		(CONVERT(NVARCHAR(20),MONTH(DATE_OPENED))) AS [MONTHYEAR],
		COUNT(DISTINCT CASE_ID) AS COUNT_CASES,
		SUM(CLAIM_AMOUNT) AS CLAIM_AMOUNT,
		SUM(VOLUNTARY_PAID_AMOUNT) AS PAID_AMOUNT,
		(SUM(CLAIM_AMOUNT)-SUM(VOLUNTARY_PAID_AMOUNT)) AS OUTSTANDING_BALANCE 
	FROM 
		[SJR-PRELITIGATION] 
	WHERE 
		PROVIDER_ID IN
		(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
			(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
		AND 
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= Replace(@SZ_START_DATE,'/','-') 
		and  
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= Replace(@SZ_END_DATE,'/','-')
	GROUP BY 
		YEAR(DATE_OPENED), 
		MONTH(DATE_OPENED)
END
ELSE
BEGIN
	SELECT 
		(CONVERT(NVARCHAR(20),YEAR(DATE_OPENED)))+ '/' + 
		(CONVERT(NVARCHAR(20),MONTH(DATE_OPENED))) AS [MONTHYEAR],
		COUNT(DISTINCT CASE_ID) AS COUNT_CASES,
		SUM(CLAIM_AMOUNT) AS CLAIM_AMOUNT,
		SUM(VOLUNTARY_PAID_AMOUNT) AS PAID_AMOUNT,
		(SUM(CLAIM_AMOUNT)-SUM(VOLUNTARY_PAID_AMOUNT)) AS OUTSTANDING_BALANCE 
	FROM 
		[SJR-PRELITIGATION] 
	WHERE 
		PROVIDER_ID=@SZ_PROVIDER_ID
		AND 
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) >= Replace(@SZ_START_DATE,'/','-') 
		and  
		CAST(FLOOR(CAST(DATE_OPENED AS FLOAT))AS DATETIME) <= Replace(@SZ_END_DATE,'/','-')
	GROUP BY 
		YEAR(DATE_OPENED), 
		MONTH(DATE_OPENED)
END
END

GO
