USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_TREATMENT_DOCTOR]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_TREATMENT_DOCTOR]
	@DomainId VARCHAR(50)=null,
	@ID INT
AS
BEGIN
	DELETE FROM TXN_CASE_PEER_REVIEW_DOCTOR WHERE ID = @ID
END

GO
