USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETFIELD]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETFIELD] as
Select * from FIELDNAMES ORDER BY FIELDNAME

GO
