USE [LS_ATLAS_DB]
GO
/****** Object:  StoredProcedure [dbo].[GETPROVIDERS_WITHDRAWN]    Script Date: 6/17/2019 2:29:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETPROVIDERS_WITHDRAWN] --'40552','01/01/2009','01/01/2011','1'
	@SZ_PROVIDER_ID NVARCHAR(20),
	@SZ_START_DATE NVARCHAR(20),
	@SZ_END_DATE NVARCHAR(20),
	@PROVIDER_GROUP VARCHAR(10)
AS
BEGIN
IF @PROVIDER_GROUP <> '0'
BEGIN
	SELECT 
		(CONVERT(NVARCHAR(20),YEAR([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE))+'/'+
		CONVERT(NVARCHAR(20),MONTH([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE))) AS [MONTHYEAR], 
		COUNT([DBO].[SJR-SETTLEMENTS_FULL].CASE_ID) AS 'COUNT_CASES', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].CLAIM_AMOUNT) AS 'SUM_CLAIM_AMOUNT', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].CLAIM_AMOUNT - [DBO].[SJR-SETTLEMENTS_FULL].PAID_AMOUNT ) AS 'SUM_BALANCE', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].SETTLEMENT_AMOUNT) AS SUM_SETTLEMENT_AMOUNT 
	FROM 
		[DBO].[SJR-SETTLEMENTS_FULL] INNER JOIN TBLCASE 
		ON [DBO].[SJR-SETTLEMENTS_FULL].CASE_ID = TBLCASE.CASE_ID 
	WHERE 
		TBLCASE.PROVIDER_ID IN
		(SELECT PROVIDER_ID FROM TBLPROVIDER WHERE PROVIDER_GROUPNAME IN
			(SELECT PROVIDER_GROUPNAME FROM TBLPROVIDER WHERE PROVIDER_ID = @SZ_PROVIDER_ID))
		AND 
		CAST(FLOOR(CAST([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
		AND  
		CAST(FLOOR(CAST([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
		AND 
		([DBO].[SJR-SETTLEMENTS_FULL].SETTLEMENT_AMOUNT = 0) 
	GROUP BY 
		YEAR([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE), 
		MONTH([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE) 
	ORDER BY 
		MONTHYEAR DESC
END
ELSE
BEGIN
	SELECT 
		(CONVERT(NVARCHAR(20),YEAR([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE))+'/'+
		CONVERT(NVARCHAR(20),MONTH([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE))) AS [MONTHYEAR], 
		COUNT([DBO].[SJR-SETTLEMENTS_FULL].CASE_ID) AS 'COUNT_CASES', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].CLAIM_AMOUNT) AS 'SUM_CLAIM_AMOUNT', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].CLAIM_AMOUNT - [DBO].[SJR-SETTLEMENTS_FULL].PAID_AMOUNT ) AS 'SUM_BALANCE', 
		SUM([DBO].[SJR-SETTLEMENTS_FULL].SETTLEMENT_AMOUNT) AS SUM_SETTLEMENT_AMOUNT 
	FROM 
		[DBO].[SJR-SETTLEMENTS_FULL] INNER JOIN TBLCASE 
		ON [DBO].[SJR-SETTLEMENTS_FULL].CASE_ID = TBLCASE.CASE_ID 
	WHERE 
		DBO.TBLCASE.PROVIDER_ID = @SZ_PROVIDER_ID
		AND 
		CAST(FLOOR(CAST([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE AS FLOAT))AS DATETIME) >= REPLACE(@SZ_START_DATE,'/','-') 
		AND  
		CAST(FLOOR(CAST([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE AS FLOAT))AS DATETIME) <= REPLACE(@SZ_END_DATE,'/','-')
		AND 
		([DBO].[SJR-SETTLEMENTS_FULL].SETTLEMENT_AMOUNT = 0) 
	GROUP BY 
		YEAR([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE), 
		MONTH([DBO].[SJR-SETTLEMENTS_FULL].SETTL_DATE), 
		TBLCASE.PROVIDER_ID 
	ORDER BY 
		MONTHYEAR DESC
END
END

GO
