USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TOTAL_VALUE]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOTAL_VALUE](
	[TOTAL_VALUE] [int] NULL
) ON [PRIMARY]
GO
