USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TABLE2]    Script Date: 6/17/2019 2:53:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE2](
	[CASE_ID] [varchar](50) NOT NULL,
	[NOTE1] [varchar](100) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOTE2] [varchar](100) NULL,
 CONSTRAINT [PK_TABLE2] PRIMARY KEY CLUSTERED 
(
	[CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
