USE [DKATLAS]
GO
/****** Object:  Table [dbo].[tblRTFNotes]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRTFNotes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Notes_Desc] [nvarchar](2000) NULL,
	[Notes_Date] [smalldatetime] NULL,
	[template_name] [varchar](200) NULL,
	[User_Id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
