USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_EXHIBIT_SEQUENCE]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_EXHIBIT_SEQUENCE](
	[SZ_PROCESS_CODE] [nvarchar](10) NULL,
	[I_INSURANCE_COMPANY_ID] [int] NULL,
	[I_DOCUMENT_TYPE] [int] NULL,
	[I_SEQUENCE] [int] NOT NULL,
	[SZ_ABSENT_EXHIBIT_STATEMENT] [nvarchar](400) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TXN_EXHIBIT_SEQUENCE]  WITH CHECK ADD  CONSTRAINT [FK_TBLDOCUMENTTYPE] FOREIGN KEY([I_DOCUMENT_TYPE])
REFERENCES [dbo].[tblDocumentType] ([Document_ID])
GO
ALTER TABLE [dbo].[TXN_EXHIBIT_SEQUENCE] CHECK CONSTRAINT [FK_TBLDOCUMENTTYPE]
GO
