USE [DKATLAS]
GO
/****** Object:  Table [dbo].[DAILYSUMMONS]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILYSUMMONS](
	[CASE_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
