USE [DKATLAS]
GO
/****** Object:  Table [dbo].[MST_PROCESS]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PROCESS](
	[SZ_PROCESS_CODE] [nvarchar](10) NOT NULL,
	[SZ_PROCESS_NAME] [nvarchar](100) NOT NULL,
	[BT_DEPENDS_ON_INSURANCE_COMPANY] [bit] NULL,
 CONSTRAINT [PK_SZ_PROCESS_CODE] PRIMARY KEY CLUSTERED 
(
	[SZ_PROCESS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SZ_PROCESS_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MST_PROCESS] ADD  DEFAULT ((0)) FOR [BT_DEPENDS_ON_INSURANCE_COMPANY]
GO
