USE [DKATLAS]
GO
/****** Object:  Table [dbo].[MST_DENIAL_CATEGORY]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DENIAL_CATEGORY](
	[I_CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_CATEGORY_NAME] [nvarchar](50) NOT NULL,
	[SZ_CATEGORY_COLOR] [nvarchar](50) NULL
) ON [PRIMARY]
GO
