USE [DKATLAS]
GO
/****** Object:  Table [dbo].[tblUserDesk]    Script Date: 6/17/2019 2:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserDesk](
	[UserName] [nvarchar](50) NULL,
	[Desk_Id] [int] NULL
) ON [PRIMARY]
GO
