USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TABLE5]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE5](
	[CASE_ID] [varchar](50) NOT NULL,
	[PRINC] [money] NULL,
	[INT] [money] NULL,
	[AF] [money] NULL,
	[FF] [money] NULL,
	[GROUP_ID] [varchar](100) NULL,
	[CASE_STATUS] [varchar](100) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TABLE5] PRIMARY KEY CLUSTERED 
(
	[CASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
