USE [DKATLAS]
GO
/****** Object:  Table [dbo].[GreenBillsDenial]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GreenBillsDenial](
	[GB_DENIAL_REASON] [varchar](200) NULL,
	[RFA_DENIAL_REASON] [varchar](200) NULL
) ON [PRIMARY]
GO
