USE [DKATLAS]
GO
/****** Object:  Table [dbo].[deflist]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deflist](
	[DEFENDANTNAME] [nvarchar](255) NULL,
	[ID] [int] NULL,
	[CNT] [int] NULL,
	[NEWID] [int] NULL
) ON [PRIMARY]
GO
