USE [DKATLAS]
GO
/****** Object:  Table [dbo].[Auto_Billing_Packet]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto_Billing_Packet](
	[Case_Id] [varchar](100) NULL
) ON [PRIMARY]
GO
