USE [DKATLAS]
GO
/****** Object:  Table [dbo].[BILLING_TRANS_TABLE]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLING_TRANS_TABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BT_NAME] [varchar](50) NULL,
	[BT_DESCRIPTION] [nvarchar](300) NULL,
	[BT_TYPE] [char](1) NULL,
	[BT_AMOUNT] [money] NULL
) ON [PRIMARY]
GO
