USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_TEMPLATE_COLUMNS]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_TEMPLATE_COLUMNS](
	[I_TEMPLATE_ID] [int] NOT NULL,
	[SZ_MERGE_FIELD] [nvarchar](255) NOT NULL,
	[SZ_DATA_FIELD] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TXN_TEMPLATE_COLUMNS]  WITH CHECK ADD  CONSTRAINT [FK_TXN_TEMPLATE_COLUMNS_MST_TEMPLATES] FOREIGN KEY([I_TEMPLATE_ID])
REFERENCES [dbo].[MST_TEMPLATES] ([I_TEMPLATE_ID])
GO
ALTER TABLE [dbo].[TXN_TEMPLATE_COLUMNS] CHECK CONSTRAINT [FK_TXN_TEMPLATE_COLUMNS_MST_TEMPLATES]
GO
