USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_EXHIBIT]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_EXHIBIT](
	[EXHIBIT_SEQ] [int] NULL,
	[EXHIBIT_NAME] [nvarchar](100) NULL
) ON [PRIMARY]
GO
