USE [DKATLAS]
GO
/****** Object:  Table [dbo].[H_TXN_DOCUMENT_UPLOAD]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_TXN_DOCUMENT_UPLOAD](
	[I_ID] [bigint] NOT NULL,
	[SZ_PROCESS_ID] [nvarchar](50) NOT NULL,
	[SZ_USER_ID] [nvarchar](50) NOT NULL,
	[SZ_FILENAME] [nvarchar](500) NOT NULL,
	[DT_UPLOAD_TIME] [datetime] NOT NULL,
	[SZ_CASE_ID] [nvarchar](50) NOT NULL,
	[I_NOTES_ID] [int] NOT NULL,
	[SZ_CAPTION] [nvarchar](255) NULL,
	[DT_DELETE_TIME] [datetime] NULL,
	[DT_DEL_USER_NAME] [nvarchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[H_TXN_DOCUMENT_UPLOAD] ADD  CONSTRAINT [DF__H_TXN_DOC__DT_DE__302F0D3D]  DEFAULT (getdate()) FOR [DT_DELETE_TIME]
GO
