USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_CASE_PEER_REVIEW_DOCTOR]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_CASE_PEER_REVIEW_DOCTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TREATMENT_ID] [int] NOT NULL,
	[DOCTOR_ID] [int] NOT NULL,
 CONSTRAINT [PK_TXN_CASE_PEER_REVIEW_DOCTOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TXN_CASE_PEER_REVIEW_DOCTOR]  WITH CHECK ADD FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[TblReviewingDoctor] ([Doctor_id])
GO
ALTER TABLE [dbo].[TXN_CASE_PEER_REVIEW_DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK__TXN_CASE___TREAT__13C8A410] FOREIGN KEY([TREATMENT_ID])
REFERENCES [dbo].[tblTreatment] ([Treatment_Id])
GO
ALTER TABLE [dbo].[TXN_CASE_PEER_REVIEW_DOCTOR] CHECK CONSTRAINT [FK__TXN_CASE___TREAT__13C8A410]
GO
