USE [DKATLAS]
GO
/****** Object:  Table [dbo].[tbllog]    Script Date: 6/17/2019 2:53:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbllog](
	[column1] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
