USE [DKATLAS]
GO
/****** Object:  Table [dbo].[tblPomCase]    Script Date: 6/17/2019 2:53:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPomCase](
	[pom_id] [int] NOT NULL,
	[case_id] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
