USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_SET_ORDER]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_SET_ORDER](
	[AUTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_IMAGEID] [varchar](500) NULL,
	[SZ_FILENAME] [varchar](1000) NULL,
	[SZ_FILEPATH] [varchar](5000) NULL,
	[SEQ_ORDER] [int] NULL
) ON [PRIMARY]
GO
