USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_EXHIBIT_SEQUENCE_FOR_ARBITRATION]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_EXHIBIT_SEQUENCE_FOR_ARBITRATION](
	[I_SEQUENCE] [int] NULL,
	[I_DOCUMENT_TYPE] [int] NULL,
	[DOCUMENT_TYPE] [nvarchar](200) NULL
) ON [PRIMARY]
GO
