USE [DKATLAS]
GO
/****** Object:  Table [dbo].[TXN_LIST_EMAIL_FILES]    Script Date: 6/17/2019 2:53:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN_LIST_EMAIL_FILES](
	[AUTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SZ_IMAGEID] [varchar](500) NULL,
	[SZ_FILENAME] [varchar](500) NULL,
	[SZ_FILEPATH] [varchar](500) NULL
) ON [PRIMARY]
GO
