USE [DKATLAS]
GO
/****** Object:  Table [dbo].[Files3]    Script Date: 6/17/2019 2:53:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files3](
	[FileID] [nvarchar](50) NULL,
	[ProviderID] [nvarchar](50) NULL,
	[ProviderAccntNum] [nvarchar](50) NULL,
	[InsuranceCompanyName] [nvarchar](100) NULL,
	[InsuranceContactName-Title] [nvarchar](50) NULL,
	[InsContactPhoneNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State/PostalCode] [nvarchar](20) NULL,
	[InjuredLastName] [nvarchar](50) NULL,
	[InjuredFirstName] [nvarchar](50) NULL,
	[InjuredAddress] [nvarchar](255) NULL,
	[PolicyHolderLastName] [nvarchar](50) NULL,
	[PolicyHolderFirstName] [nvarchar](50) NULL,
	[PolicyHolderAddress] [nvarchar](255) NULL,
	[DateFileOpened] [datetime] NULL,
	[DateFileClosed] [datetime] NULL,
	[ReasonFileClosed] [nvarchar](50) NULL,
	[InputedbyID] [nvarchar](50) NULL,
	[ClaimNumber] [nvarchar](50) NULL,
	[PolicyNumber] [nvarchar](50) NULL,
	[DateofLoss] [datetime] NULL,
	[FirstUnpaidDateofService] [datetime] NULL,
	[LastUnpaidDateofService] [datetime] NULL,
	[IndexNo] [nvarchar](50) NULL,
	[DateOfService] [datetime] NULL,
	[DateInsuranceContacted] [datetime] NULL,
	[DateBillMailed] [datetime] NULL,
	[TimelyDenial] [nvarchar](50) NULL,
	[DenialReceived] [bit] NULL,
	[DenialDate] [datetime] NULL,
	[Denial Reason] [ntext] NULL,
	[Payment Reason] [nvarchar](50) NULL,
	[AccidentDescription] [ntext] NULL,
	[ArbAmount] [money] NULL,
	[DateAR1Sent] [datetime] NULL,
	[SetContactLastName] [nvarchar](50) NULL,
	[SetContactFirstName] [nvarchar](50) NULL,
	[Dear] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[Extension] [nvarchar](20) NULL,
	[FaxNumber] [nvarchar](30) NULL,
	[SettledbyID] [nvarchar](50) NULL,
	[SettlementDate] [datetime] NULL,
	[Principal] [money] NULL,
	[DatePrincipalRcvd] [datetime] NULL,
	[Interest] [money] NULL,
	[DateInterestRcvd] [datetime] NULL,
	[LegalFee] [money] NULL,
	[DateLegalFeeRcvd] [datetime] NULL,
	[FilingFee] [money] NULL,
	[DateFilingFeeRcvd] [datetime] NULL,
	[AAANumber] [nvarchar](50) NULL,
	[ArbAtty] [nvarchar](50) NULL,
	[ArbitratorID] [nvarchar](50) NULL,
	[ArbDate1] [datetime] NULL,
	[ArbDate1Adjourned] [bit] NULL,
	[ArbDate2] [datetime] NULL,
	[ArbDate2Adjourned] [bit] NULL,
	[ArbDate3] [datetime] NULL,
	[ArbDate3Adjourned] [bit] NULL,
	[ArbDate4] [datetime] NULL,
	[PostArbStatus] [nvarchar](50) NULL,
	[AwardDate] [datetime] NULL,
	[ReasonArbLost] [nvarchar](50) NULL,
	[MoneyDue] [bit] NULL,
	[ReasonMoneyDue] [nvarchar](50) NULL,
	[ConsentAward] [bit] NULL,
	[GeneralNotes] [ntext] NULL,
	[PostAR1Notes] [ntext] NULL,
	[SettlementNotes] [ntext] NULL,
	[OfficeSettNotes] [ntext] NULL,
	[FollowupNotes] [ntext] NULL,
	[ReasonFileWithdrawn] [nvarchar](50) NULL,
	[ReferredBy] [nvarchar](50) NULL,
	[FileType] [nvarchar](50) NULL,
	[DateReplied] [datetime] NULL,
	[DateAnswerRcvd] [datetime] NULL,
	[DocDemands] [bit] NULL,
	[NoticeAdmit] [bit] NULL,
	[Interrogatories] [bit] NULL,
	[DateOfDepot1] [datetime] NULL,
	[DateOfDepot2] [datetime] NULL,
	[DateOfDepot3] [datetime] NULL,
	[DateOfDepot4] [datetime] NULL,
	[BillParticulars] [bit] NULL,
	[JudgeID] [int] NULL,
	[JudgmentDate] [datetime] NULL,
	[TheirFileNo] [nvarchar](50) NULL,
	[MedReportDemand] [bit] NULL,
	[SubDocDemands] [bit] NULL,
	[SubMedReportDemand] [bit] NULL,
	[SubNoticeAdmit] [bit] NULL,
	[SubInterrogatories] [bit] NULL,
	[SubBillParticulars] [bit] NULL,
	[AdvAttyID] [int] NULL,
	[AttyID] [int] NULL,
	[TitleID] [int] NULL,
	[ServerID] [int] NULL,
	[DateServed] [datetime] NULL,
	[TimeServed] [datetime] NULL,
	[Fld_1stExtensionDate] [datetime] NULL,
	[Fld_2ndExtensionDate] [datetime] NULL,
	[ReceiverID] [int] NULL,
	[NotaryPublicID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
