USE [LS_ATLAS_DB]
GO
/****** Object:  View [dbo].[vw_ECMC_ALL]    Script Date: 6/17/2019 2:29:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ECMC_ALL]
AS
SELECT     Case_Id AS CASEID, InjuredParty_Name, Provider_Name AS [PROVIDER NAME], InjuredParty_Name AS [PATIENT NAME], Accident_Date AS [DATE OF ACCIDENT], 
                      InsuranceCompany_Name AS [INSURANCE COMPANY NAME], InsuranceCompany_Local_Address AS [INSURANCE COMPANY LOCAL ADDRESS], 
                      Court_Name AS [COURT NAME], Defendant_Name, Date_Opened, YEAR(Date_Opened) AS [Year-DO], DOS_Start AS [DATE OF SERVICE START], YEAR(DOS_Start) 
                      AS [Year-DOS], DOS_End AS [DATE OF SERVICE END], Fee_Schedule, CONVERT(float, Claim_Amount) - CONVERT(float, Paid_Amount) AS BALANCE, 
                      Initial_Status AS [CASE STATUS], Status AS [INITIAL STATUS], IndexOrAAA_Number, Date_Afidavit_Filed, Settlement_PI, Settlement_Af, SettlementAmountPercentage, 
                      Settlement_Date, YEAR(Settlement_Date) AS [Year-Set], Final_Status, Provider_GroupName,
                          (SELECT     TOP (1) account_number
                            FROM          dbo.tblTreatment
                            WHERE      (Case_Id = a.Case_Id)) AS Account_Number
FROM         dbo.LCJ_VW_CaseSearchDetails AS a
WHERE     (Provider_Name LIKE 'erie%')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "a"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 329
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ECMC_ALL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_ECMC_ALL'
GO
