USE [LS_ATLAS_DB]
GO
/****** Object:  View [dbo].[SJR-SETTLED_PAYMENTS_FULL]    Script Date: 6/17/2019 2:29:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[SJR-SETTLED_PAYMENTS_FULL]
AS
SELECT     TOP (100) PERCENT Case_Id, SUM(Transactions_Amount) AS Payments, MIN(Transactions_Date) AS Min_Date, MAX(Transactions_Date) AS Max_Date, 
                      SUM(CASE WHEN TRANSACTIONS_TYPE = 'C' THEN TRANSACTIONS_AMOUNT ELSE 0 END) AS PRINC, 
                      SUM(CASE WHEN TRANSACTIONS_TYPE = 'I' THEN TRANSACTIONS_AMOUNT ELSE 0 END) AS INT, 
                      SUM(CASE WHEN TRANSACTIONS_TYPE = 'AF' THEN TRANSACTIONS_AMOUNT ELSE 0 END) AS AF, 
                      SUM(CASE WHEN TRANSACTIONS_TYPE = 'FFC' THEN TRANSACTIONS_AMOUNT ELSE 0 END) AS FFC,
					  SUM(CASE WHEN TRANSACTIONS_TYPE = 'PreCToP' THEN TRANSACTIONS_AMOUNT ELSE 0 END) AS PreCToP, DomainId
FROM         dbo.tblTransactions
WHERE     (Transactions_Type = N'C') OR
                      (Transactions_Type = N'I') OR
                      (Transactions_Type = N'AF') OR
                      (Transactions_Type = N'FFC') OR
                      (Transactions_Type = N'PreCToP') 
GROUP BY Case_Id,DomainId
ORDER BY Case_Id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[19] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1 [56] 4 [18] 2))"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[75] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblTransactions"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 304
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1800
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 13
         Column = 3390
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SJR-SETTLED_PAYMENTS_FULL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SJR-SETTLED_PAYMENTS_FULL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Orientation', @value=0x00 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SJR-SETTLED_PAYMENTS_FULL'
GO
